@model IEnumerable<FT_Management.Models.Marcacao>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<br />

<div class="card-deck">
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-primary text-white text-center">Pedidos Diários <i class="fas fa-calendar-day float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.DataMarcacao == DateTime.Now.Date).Count()</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-success text-white text-center">Instalações <i class="fas fa-plus-circle float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.Instalacao == 1).Count()</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-warning text-white text-center">Pedidos de Orçamento <i class="fas fa-copy float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.EstadoMarcacao == 8).Count()</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-warning text-white text-center">Pedidos de Peças <i class="fas fa-tools float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.EstadoMarcacao == 7).Count()</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-info text-white text-center">A Aguardar <i class="fas fa-clock float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.EstadoMarcacao == 10 || m.EstadoMarcacao == 6 || m.EstadoMarcacao == 13).Count()</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-2 col-md-4">
        <div class="card mb-3">
            <div class="card-header bg-danger text-white text-center">Em Oficina <i class="fas fa-store-alt float-right"></i></div>
            <div class="card-body">
                <h1 class="card-title text-center text-black">@Model.Where(m => m.EstadoMarcacao == 9 || m.EstadoMarcacao == 12 || m.Oficina == 1).Count()</h1>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mb-4">
            <div class="card card-small h-100">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Pedidos Concluidos</h6>
                </div>
                <div class="card-body d-flex py-0">
                    <canvas height="375" id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-2 col-sm-12 mb-4">
            <h6>Top Técnicos (ultimos 30 dias)</h6>
            <ul id="list">
            </ul>
        </div>
        </div>
</div>

        <script>
            function GetJSON_Simple() {
                var resp = [];
                $.ajax({
                    type: "GET",
                    url: '/Dashboard/ObterMarcacoesConcluidas30Dias',
                    async: false,
                    contentType: "application/json",
                    success: function (data) {
                        resp.push(data);
                    },
                    error: function (req, status, error) {
                        // do something with error
                        alert("error");
                    }
                });
                return resp;
            }

            var simpleData = GetJSON_Simple();
            const data = {
                labels: simpleData[0].datas,
                datasets: [{
                    label: 'Marcações Concluidas',
                    data: simpleData[0].contagem,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 1
                }]
            };
            const config = {
                type: 'bar',
                data: data,
                options: {
                    maintainAspectRatio: false,
                }
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );

            $.each(simpleData[0].tecnicosContagem, function (v, i) {
                $('#list').append("<li>" + simpleData[0].tecnicosContagem[v].tecnico[0].nomeCompleto + "</li>");
                $('#list').append("<div class='progress'><div class='progress-bar bg-info' role='progressbar' style='width: " + simpleData[0].tecnicosContagem[v].marcacoesConcluidas * 100 / simpleData[0].tecnicosContagem[0].marcacoesConcluidas + "%' aria-valuenow='" + simpleData[0].tecnicosContagem[v].marcacoesConcluidas + "' aria-valuemin='0' aria-valuemax='" + simpleData[0].tecnicosContagem[0].marcacoesConcluidas + "'>" + simpleData[0].tecnicosContagem[v].marcacoesConcluidas + "</div></div>");
            })
        </script>
