@model FT_Management.Models.Marcacao

@{
    ViewData["Title"] = "Novo Agendamento";
}

<link rel="stylesheet" href="~/lib/bulma-steps/dist/css/bulma-steps.min.css">
<script src="~/lib/bulma-steps/dist/js/bulma-steps.min.js"></script>

<form asp-action="Marcacao" method="post" name="frmAdicionar" id="frmAdicionar">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-12">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                <span>Nova Marcação</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="steps" id="stepsDemo">
            <div class="step-item is-active is-success">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Cliente</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Técnico</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Datas</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                    <p class="step-title">Dados</p>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="hero is-danger is-medium">&nbsp;</div>
            <div class="steps-actions">
                <div class="steps-action">
                    <button data-nav="previous" id="stepsPrevious" class="is-fullwidth button is-danger" type="button">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Anterior</span>
                    </button>
                </div>
                <div class="steps-action">
                    <button data-nav="next" id="stepsNext" class="is-fullwidth button is-success" type="button">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span>Próximo</span>
                    </button>
                </div>
            </div>
            <div class="steps-content">
                <div class="step-content is-active">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="Cliente"></label>
                                <p class="control has-icons-left has-icons-right">
                                    <input type="hidden" asp-for="Cliente.IdCliente" id="txtIdCliente" />
                                    <input type="hidden" asp-for="Cliente.IdLoja" id="txtIdLoja" />
                                    <input type="text" class="input is-rounded" asp-for="Cliente.NomeCliente" id="txtCustomer" placeholder="Insira o nome do cliente">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="TipoEquipamento"></label>
                                <div class="control">
                                    <p class="control has-icons-left">
                                        @{
                                            var LstTipoEquipamento = ViewData["TipoEquipamento"] as IList<String>;
                                        }
                                        <span class="select" style="width:100%">
                                            <select style="width:100%" asp-for="TipoEquipamento"
                                                    asp-items="@(new SelectList(LstTipoEquipamento))"
                                                    onchange="CarregarDadosResponsavel()" id="TipoEquipamento"></select>
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-cogs"></i>
                                        </span>
                                    </p>
                                </div>
                                <span asp-validation-for="TipoEquipamento" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="QuemPediuNome"></label>
                                <div class="control">
                                    <p class="control has-icons-left">
                                        <input type="text" class="input" asp-for="QuemPediuNome" id="txtQuemPediuNome">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                                <span asp-validation-for="QuemPediuNome" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="QuemPediuEmail"></label>
                                <div class="control">
                                    <p class="control has-icons-left">
                                        <input type="email" class="input" asp-for="QuemPediuEmail"
                                               id="txtQuemPediuEmail">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </p>
                                </div>
                                <span asp-validation-for="QuemPediuEmail" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="QuemPediuTelefone"></label>
                                <div class="control">
                                    <p class="control has-icons-left">
                                        <input type="tel" class="input" asp-for="QuemPediuTelefone"
                                               id="txtQuemPediuTelefone">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone"></i>
                                        </span>
                                    </p>
                                </div>
                                <span asp-validation-for="QuemPediuTelefone" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="EstadoMarcacaoDesc"></label>
                                <p class="control has-icons-left">
                                    @{
                                        var LstEstado = ViewData["Estado"] as IList<EstadoMarcacao>;
                                    }
                                    <span class="select" style="width:100%">
                                        <select style="width:100%" asp-for="EstadoMarcacaoDesc"
                                                asp-items="@(new SelectList(LstEstado, "EstadoMarcacaoDesc", "EstadoMarcacaoDesc"))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>
                            <span asp-validation-for="EstadoMarcacaoDesc" class="has-text-danger"></span>
                        </div>
                        <div class="column is-2 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="Piquete">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Piquete)</span>
                                </label>
                                <span asp-validation-for="Piquete" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-2 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="Remoto">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Remoto)</span>
                                </label>
                                <span asp-validation-for="Remoto" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-2 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="Oficina">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Oficina)</span>
                                </label>
                                <span asp-validation-for="Oficina" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field" style="height: 325px;">
                                <label asp-for="Tecnico"></label>
                                <div class="control">
                                    <div class="select is-multiple" style="width:100%">
                                        @{
                                            var LstTecnicos = ViewData["Tecnicos"] as IList<Utilizador>;
                                        }
                                        <span class="select" style="width:100%">
                                            <select style="width:100%" multiple size="8" asp-for="LstTecnicosSelect"
                                                    asp-items="@(new SelectList(LstTecnicos, "Id", "NomeCompleto"))"></select>
                                        </span>
                                    </div>
                                </div>
                                <span asp-validation-for="Tecnico" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="DataPedido"></label>
                                <div class="control">
                                    <input type="date" class="input"
                                        value="@(DateTime.Parse(Model.DataPedido.ToString()).ToString("yyyy-MM-dd"))"
                                        asp-for="DataPedido" id="txtDataPedido">
                                    <script>
                                        bulmaCalendar.attach('#txtDataPedido', {
                                            color: 'info',
                                            lang: 'pt',
                                            displayMode: 'inline',
                                            dateFormat: 'dd/MM/yyyy',
                                            todayLabel: 'Hoje',
                                            showClearButton: false,
                                            cancelLabel: 'Cancelar'
                                        });
                                    </script>
                                </div>
                                <span asp-validation-for="DataPedido" class="has-text-danger"></span>
                            </div>
                        </div>
                        <input type="hidden" class="input"
                            value="@(DateTime.Parse(Model.DataMarcacao.ToString()).ToString("yyyy-MM-dd"))"
                            asp-for="DatasAdicionais" id="txtDatasAdicionais">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="DataMarcacao"></label>
                                <div class="control">
                                    <input type="date" class="input "
                                        value="@(DateTime.Parse(Model.DataMarcacao.ToString()).ToString("yyyy-MM-dd"))"
                                        asp-for="DataMarcacao" id="txtData"
                                        onchange="document.getElementById('txtDatasAdicionais').value = document.getElementById('txtData').value">
                                    <script>
                                        bulmaCalendar.attach('#txtData', {
                                            color: 'info',
                                            lang: 'pt',
                                            displayMode: 'inline',
                                            dateFormat: 'dd/MM/yyyy',
                                            todayLabel: 'Hoje',
                                            showClearButton: false,
                                            cancelLabel: 'Cancelar'
                                        });
                                        document.getElementById('txtData').bulmaCalendar.on('select', function (datepicker) {
                                            document.getElementById('txtDatasAdicionais').value = datepicker.data.value();
                                        });

                                    </script>
                                </div>
                                <span asp-validation-for="DataMarcacao" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="Hora"></label>
                                <div class="control">
                                    <input type="time" class="input " asp-for="Hora" id="txtHora">
                                </div>
                                <span asp-validation-for="Hora" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="Periodo"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        @{
                                            var LstPeriodo = ViewData["Periodo"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%" asp-for="Periodo"
                                            asp-items="@(new SelectList(LstPeriodo))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-cloud-sun"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="Periodo" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="TipoServico"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        @{
                                            var LstTipoServico = ViewData["TipoServico"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%" asp-for="TipoServico"
                                                asp-items="@(new SelectList(LstTipoServico))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-wrench"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="TipoServico" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="PrioridadeMarcacao"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        @{
                                            var LstPrioridade = ViewData["Prioridade"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%" asp-for="PrioridadeMarcacao"
                                                asp-items="@(new SelectList(LstPrioridade))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="PrioridadeMarcacao" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="TipoPedido"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        @{
                                            var LstTipoPedido = ViewData["TipoPedido"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%" asp-for="Periodo"
                                                asp-items="@(new SelectList(LstTipoPedido))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-phone-slash"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="TipoPedido" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="Referencia"></label>
                                <p class="control has-icons-left">
                                    <input type="text" class="input" asp-for="Referencia">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-asterisk"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="Referencia" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="JustExtraContrato"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        <select class="select" style="width:100%" asp-for="JustExtraContrato"
                                                asp-items="ViewBag.JustExtraContrato"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-file-contract"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="JustExtraContrato" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Formulario"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width: 100%">
                                        <select class="select" style="width:100%" asp-for="Formulario"
                                                asp-items="ViewBag.Formularios"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-rectangle-list"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="Formulario" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-2 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="FormularioSubmetido">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.FormularioSubmetido)</span>
                                </label>
                                <span asp-validation-for="FormularioSubmetido" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="ResumoMarcacao"></label>
                                <div class="control">
                                    <textarea class="textarea" rows="10" placeholder="Resumo"
                                              asp-for="ResumoMarcacao"></textarea>
                                </div>
                                <span asp-validation-for="ResumoMarcacao" class="has-text-danger"></span>
                            </div>
                        </div>
                        &nbsp;
                        <button type="button" id="btnCriarMarcacao" onclick="ValidarMarcacao()" value="Criar Marcação"
                                class="button is-info is-large is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Criar Marcação</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>

<div class="modal" id="modalValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Validar Mensagens</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">Mensagens:</label></div>
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <div class="control"><textarea type="text" class="textarea" id="txtMensagens" readonly rows=8
                                value=""></textarea></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" id="btnValidar" class="button is-info"
                onclick="document.getElementById('frmAdicionar').submit();" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-check-circle"></i>
                </span>
                <span>Ignorar e Criar Marcação</span>
            </button>
        </footer>
    </div>
</div>


@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    bulmaSteps.attach();
    function CarregarDadosResponsavel() {
        $.ajax({
            url: '/Clientes/Responsavel/',
            data: { "IdCliente": document.getElementById("txtIdCliente").value, "IdLoja": document.getElementById("txtIdLoja").value, "TipoEquipamento": document.getElementById("TipoEquipamento").value },
            type: "GET",
            success: function (response) {
                $("#txtQuemPediuNome").val(response.quemPediuNome);
                $("#txtQuemPediuEmail").val(response.quemPediuEmail);
                $("#txtQuemPediuTelefone").val(response.quemPediuTelefone)
            },
            error: function (response) {
                notifyError("Ocorreu um erro ao obter o responsável!")
            },
            failure: function (response) {
                notifyError("Ocorreu um erro ao obter o responsável!")
            }
        });
    }


    function ValidarMarcacao() {
        document.getElementById('btnCriarMarcacao').classList.add('is-loading');
        $.ajax({
            type: "POST",
            url: "/Pedidos/ValidarMarcacao",
            data: $("#frmAdicionar").serialize(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                $(function () {
                    document.getElementById("txtMensagens").value = result[1] + result[2];
                    if (result[0] == "1") {
                        document.getElementById("btnValidar").disabled = false;
                        Bulma('#modalValidacao').modal().open();
                    } else if (result[0] == "2") {
                        document.getElementById("btnValidar").disabled = true;
                        Bulma('#modalValidacao').modal().open();
                    } else {
                        document.getElementById('frmAdicionar').submit();
                    }
                    document.getElementById('btnCriarMarcacao').classList.remove('is-loading');
                });
            }
        });
    }

    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Clientes/Clientes/',
                    data: { "prefix": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente + " (" + item.idCliente + " - " + item.idLoja + ")",
                                val: item.idCliente,
                                val2: item.idLoja,
                                contrato: item.contrato
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    },
                    failure: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    }
                });
            },
            select: function (e, i) {
                $("#txtIdCliente").val(i.item.val);
                $("#txtIdLoja").val(i.item.val2);
                CarregarDadosResponsavel();
            },
            minLength: 1
        }).css('z-index', 3).data("ui-autocomplete")._renderItem = function (ul, item) {
            var html = "<div class='field has-addons mb-1'><a class='button is-fullwidth is-info is-outlined mr-1'>" + item.label + "</a><div class='field is-grouped is-right '>";
            if (item.contrato) html += "<input type='button' class='button mr-1 is-info' value='C' style='float: right;' />";
            if (!item.contrato) html += "<input type='button' class='button mr-1 is-warning' value='FC' style='float: right;' />";
            html += "</div>";
            return $("<li>")
                .append(html)
                .appendTo(ul);
            };
    });
</script>
