@model FT_Management.Models.Marcacao


@{
    ViewData["Title"] = "Pedido - " + Model.Cliente.NomeCliente;
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

    .tabs-content li.is-active {
        display: block;
    }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title has-text-centered is-hoverable"
                            onclick="location.href = '@(Url.Action("Cliente", "Clientes", new { IdCliente = @Model.Cliente.IdCliente, IdLoja = @Model.Cliente.IdLoja }))'">
                            <span class="icon mr-3">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                            <span><b>@Model.IdMarcacao</b> - @Model.Cliente.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />

<form asp-action="Marcacao" method="post" name="frmAdicionar" id="frmAdicionar">
    <div class="container">
        <div class="columns is-multiline">
            <input type="hidden" asp-for="MarcacaoStamp" />
            <input type="hidden" asp-for="IdMarcacao" />
            <div asp-validation-summary="ModelOnly" class="hero is-danger is-medium">&nbsp;</div>
            <div class="column is-12">
                <div class="field">
                    <label asp-for="Cliente" class="label"></label>
                    <div class="field has-addons">
                        <input type="hidden" asp-for="Cliente.IdCliente" id="txtIdCliente" />
                        <input type="hidden" asp-for="Cliente.IdLoja" id="txtIdLoja" />
                        <p class="control has-icons-left" style="width:100%">
                            <input type="text" class="input is-rounded" asp-for="Cliente.NomeCliente" id="txtCustomer" placeholder="Insira o nome do cliente">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </p>
                        <div class="control">
                            <a class="button is-info" href="~/Pedidos/Adicionar/@Model.IdMarcacao">
                                <i class="fa-solid fa-copy"></i>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-info" onclick="Bulma('#modalEnviarEmailTecnico').modal().open()">
                                <i class="fa-solid fa-paper-plane"></i>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-info" onclick="Bulma('#modalEnviarEmailCliente').modal().open()">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </div>
                        <div class="control">
                            <a class="button is-info" href="~/Pedidos/Pedido/@Model.IdMarcacao">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <span asp-validation-for="Cliente.IdCliente" class="has-text-danger"></span>
                </div>

            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="DataCriacao" class="label"></label>
                    <div class="control">
                    </div>
                    <p class="control has-icons-left">
                        <input asp-for="DataCriacao" class="input" type="datetime-local" disabled />
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar-day"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="DataPedido" class="label"></label>
                    <p class="control has-icons-left">
                        <input type="date" class="input"
                               value="@(DateTime.Parse(Model.DataPedido.ToString()).ToString("yyyy-MM-dd"))"
                               asp-for="DataPedido" id="txtDataPedido" disabled>
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="DataMarcacao" class="label"></label>
                    <div class="field has-addons">
                        <p class="control " style="width:100%">
                            <input type="date" class="input "
                                   value="@(DateTime.Parse(Model.DataMarcacao.ToString()).ToString("yyyy-MM-dd"))"
                                   asp-for="DataMarcacao" id="txtData">
                            <script>bulmaCalendar.attach('#txtData', {
                                    color: 'info',
                                    lang: 'pt',
                                    displayMode: 'dialog',
                                    dateFormat: 'dd/MM/yyyy',
                                    todayLabel: 'Hoje',
                                    showClearButton: false,
                                    cancelLabel: 'Cancelar'
                                });</script>
                        </p>
                        <div class="control">
                            <button class="button is-info"
                                    onclick="AdicionarData(document.getElementById('txtData').value)" type="button">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="Hora" class="label"></label>
                    <div class="control">
                        <input type="time" class="input" asp-for="Hora" id="txtHora">
                    </div>
                    <span asp-validation-for="Hora" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-4">
                <label asp-for="DatasAdicionais" class="label"></label>
                <input type="hidden" class="input" asp-for="DatasAdicionais" id="DatasAdicionais">
                <div class="list has-visible-pointer-controls" id="divDatasAdicionais">
                </div>
            </div>
            <div class="column is-8">

                <div class="field" style="height: 325px;">
                    <label asp-for="Tecnico" class="label"></label>
                    <div class="control">
                        <div class="select is-multiple" style="width:100%">
                            @{
                                var LstTecnicos = ViewData["Tecnicos"] as IList<Utilizador>;
                            }
                            <span class="select" style="width:100%">
                                <select style="width:100%" multiple size="8" asp-for="LstTecnicosSelect"
                                        asp-items="@(new MultiSelectList(LstTecnicos, "Id", "NomeCompleto"))"></select>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Tecnico" class="has-text-danger"></span>
                </div>
            </div>

            <div class="column is-3">
                <div class="field">
                    <label asp-for="Periodo" class="label"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            @{
                                var LstPeriodo = ViewData["Periodo"] as IList<String>;
                            }
                            <select class="select" style="width:100%" asp-for="Periodo"
                                    asp-items="@(new SelectList(LstPeriodo))"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-cloud-sun"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Periodo" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="EstadoMarcacaoDesc" class="label"></label>
                    <p class="control has-icons-left">
                        @{
                            var LstEstado = ViewData["Estado"] as IList<EstadoMarcacao>;
                        }
                        <span class="select" style="width:100%">
                            <select style="width:100%" asp-for="EstadoMarcacaoDesc"
                                    asp-items="@(new SelectList(LstEstado, "EstadoMarcacaoDesc", "EstadoMarcacaoDesc"))"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <span asp-validation-for="EstadoMarcacaoDesc" class="has-text-danger"></span>
            </div>

            <div class="column is-3">
                <div class="field">
                    <label asp-for="PrioridadeMarcacao" class="label"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            @{
                                var LstPrioridade = ViewData["Prioridade"] as IList<String>;
                            }
                            <select class="select" style="width:100%" asp-for="PrioridadeMarcacao"
                                    asp-items="@(new SelectList(LstPrioridade))"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-hourglass"></i>
                        </span>
                    </p>
                    <span asp-validation-for="PrioridadeMarcacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="TipoServico" class="label"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            @{
                                var LstTipoServico = ViewData["TipoServico"] as IList<String>;
                            }
                            <select class="select" style="width:100%" asp-for="TipoServico"
                                    asp-items="@(new SelectList(LstTipoServico))"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-wrench"></i>
                        </span>
                    </p>
                    <span asp-validation-for="TipoServico" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="TipoEquipamento" class="label"></label>
                    <div class="control">
                        <p class="control has-icons-left">
                            @{
                                var LstTipoEquipamento = ViewData["TipoEquipamento"] as IList<String>;
                            }
                            <span class="select" style="width:100%">
                                <select style="width:100%" asp-for="TipoEquipamento"
                                        asp-items="@(new SelectList(LstTipoEquipamento))"
                                        onchange="CarregarDadosResponsavel()" id="TipoEquipamento"></select>
                            </span>
                            <span class="icon is-small is-left">
                                <i class="fas fa-cogs"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="TipoEquipamento" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="QuemPediuNome" class="label"></label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input type="text" class="input" asp-for="QuemPediuNome" id="txtQuemPediuNome">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="QuemPediuNome" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="QuemPediuEmail" class="label"></label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input type="email" class="input" asp-for="QuemPediuEmail" id="txtQuemPediuEmail">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="QuemPediuEmail" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="QuemPediuTelefone" class="label"></label>
                    <div class="control">
                        <p class="control has-icons-left">
                            <input type="tel" class="input" asp-for="QuemPediuTelefone" id="txtQuemPediuTelefone">
                            <span class="icon is-small is-left">
                                <i class="fas fa-phone"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="QuemPediuTelefone" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="TipoPedido" class="label"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            @{
                                var LstTipoPedido = ViewData["TipoPedido"] as IList<String>;
                            }
                            <select class="select" style="width:100%" asp-for="TipoPedido"
                                    asp-items="@(new SelectList(LstTipoPedido))"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-phone-slash"></i>
                        </span>
                    </p>
                    <span asp-validation-for="TipoPedido" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="Referencia" class="label"></label>
                    <p class="control has-icons-left">
                        <input asp-for="Referencia" class="input" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-asterisk"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Referencia" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="Piquete">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model => model.Piquete)</span>
                    </label>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="Oficina">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model => model.Oficina)</span>
                    </label>
                </div>
            </div>
            <div class="column is-5">
                <div class="field">
                    <label asp-for="JustExtraContrato"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            <select class="select" style="width:100%" asp-for="JustExtraContrato"
                                    asp-items="ViewBag.JustExtraContrato"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-file-contract"></i>
                        </span>
                    </p>
                    <span asp-validation-for="JustExtraContrato" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-5">
                <div class="field">
                    <label asp-for="Formulario"></label>
                    <p class="control has-icons-left">
                        <span class="select" style="width: 100%">
                            <select class="select" style="width:100%" asp-for="Formulario"
                                    asp-items="ViewBag.Formularios"></select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-rectangle-list"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Formulario" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-2 my-auto">
                <div class="field">
                    <label class="switch is-rounded is-large">
                        <input type="checkbox" asp-for="FormularioSubmetido">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model => model.FormularioSubmetido)</span>
                    </label>
                    <span asp-validation-for="FormularioSubmetido" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <label asp-for="ResumoMarcacao" class="label"></label>
                    <div class="control">
                        <textarea class="textarea is-primary" rows="15" asp-for="ResumoMarcacao"></textarea>
                    </div>
                    <span asp-validation-for="ResumoMarcacao" class="has-text-danger"></span>
                </div>
            </div>
        </div>
        &nbsp;
        <button type="button" id="btnGuardarMarcacao" onclick="ValidarMarcacao()" value="Guardar Marcação"
            class="button is-info is-large is-fullwidth">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span>Guardar Marcação</span>
        </button>

    </div>

    <input type="hidden" id="hiddenIdMarcacao" value="@Model.IdMarcacao" />
</form>

<div class="modal" id="modalValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Validar Mensagens</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">Mensagens:</label></div>
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <div class="control"><textarea type="text" class="textarea" id="txtMensagens" readonly rows=8
                                value=""></textarea></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" id="btnValidar"
                onclick="document.getElementById('frmAdicionar').submit();" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-check-circle"></i>
                </span>
                <span>Ignorar e Guardar Marcação</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="modalEnviarEmailTecnico">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Enviar Email</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Tem a certeza que deseja enviar um email aos tecnicos associados a esta marcacao?</p>
        </section>
        <footer class="modal-card-foot">
            <button id="btnEnviarEmailMarcacaoTecnico" type="button" class="button is-info"
                onclick="EnviarEmailMarcacaoTecnico(@Model.IdMarcacao)" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar</span>
            </button>
        </footer>
    </div>
</div>


<div class="modal" id="modalEnviarEmailCliente">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Enviar Email</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Tem a certeza que deseja enviar um email para o cliente?</p>
            <div class="field" style="width:100%">
                <div class="control"><input type="email" class="input" id="txtEmailCliente"
                        value="@Model.QuemPediuEmail"></div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="btnEnviarEmailMarcacaoCliente" type="button" class="button is-info"
                onclick="EnviarEmailMarcacaoCliente(@Model.IdMarcacao, document.getElementById('txtEmailCliente').value)"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar</span>
            </button>
        </footer>
    </div>
</div>

<script>
    function AdicionarData(data) {
        document.getElementById('divDatasAdicionais').innerHTML += '<div class="list-item" id="lst-datas-' + moment(data, "DD/MM/YYYY").format('YYYY-MM-DD') + '"><div class="list-item-title" style="width:85%">' + data + '</div><div class="list-item-controls"><div class="buttons is-right"><button class="button is-danger" type="button" onclick="RemoverData(' + moment(data, "DD/MM/YYYY").format('YYYYMMDD') + ')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>';
        document.getElementById('DatasAdicionais').value = document.getElementById('DatasAdicionais').value + moment(data, "DD/MM/YYYY").format('YYYY-MM-DD' + ";");
    }
    function RemoverData(data) {
        data = moment(data, "YYYYMMDD").format('YYYY-MM-DD')
        document.getElementById('lst-datas-' + data).remove();
        document.getElementById('DatasAdicionais').value = document.getElementById('DatasAdicionais').value.replace(data + ';', '');
    }
    if (document.getElementById('DatasAdicionais').value.slice(-1) != ";" && document.getElementById('DatasAdicionais').value != "") document.getElementById('DatasAdicionais').value = document.getElementById('DatasAdicionais').value + ";";

    document.getElementById('DatasAdicionais').value.split(";").forEach(function (item) {
        if (item != "") {
            data = moment(item, "YYYY-MM-DD").format('DD/MM/YYYY');
            document.getElementById('divDatasAdicionais').innerHTML += '<div class="list-item" id="lst-datas-' + moment(data, "DD/MM/YYYY").format('YYYY-MM-DD') + '"><div class="list-item-title" style="width:80%">' + data + '</div><div class="list-item-controls"><div class="buttons is-right"><button class="button is-danger" type="button" onclick="RemoverData(' + moment(data, "DD/MM/YYYY").format('YYYYMMDD') + ')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>';
        }
    });

    function ValidarMarcacao() {
        document.getElementById('btnGuardarMarcacao').classList.add('is-loading');
        if (!document.getElementById('DatasAdicionais').value.includes(moment(document.getElementById("txtData").value, "DD/MM/YYYY").format('YYYY-MM-DD')) && document.getElementById('DatasAdicionais').value.length < 12) document.getElementById('DatasAdicionais').value = document.getElementById("txtData").value;
        $.ajax({
            type: "POST",
            url: "/Pedidos/ValidarMarcacao",
            data: $("#frmAdicionar").serialize(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                $(function () {
                    document.getElementById("txtMensagens").value = result[1] + result[2];
                    if (result[0] == "1") {
                        document.getElementById("btnValidar").disabled = false;
                        Bulma('#modalValidacao').modal().open();
                    } else if (result[0] == "2") {
                        document.getElementById("btnValidar").disabled = true;
                        Bulma('#modalValidacao').modal().open();
                    } else {
                        document.getElementById('frmAdicionar').submit();
                    }
                    document.getElementById('btnGuardarMarcacao').classList.remove('is-loading');
                });
            }
        });
    }

    function EnviarEmailMarcacaoCliente(id, email) {

        document.getElementById("btnEnviarEmailMarcacaoCliente").classList.add("is-loading");

        $.ajax({
            type: "POST",
            url: "/Pedidos/Email/" + id + "?email=" + email,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarEmailMarcacaoCliente").classList.remove("is-loading");
                    if (result == "Sucesso") {
                        notify('Email enviado com sucesso!');

                    } else {
                        notifyError('Ocorreu um erro.');
                    }

                });
            }
        });
        Bulma('#modalEnviarEmailCliente').modal().close();
    }

    function EnviarEmailMarcacaoTecnico(id) {

        document.getElementById("btnEnviarEmailMarcacaoTecnico").classList.add("is-loading");

        $.ajax({
            type: "POST",
            url: "/Pedidos/Email/" + id,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarEmailMarcacaoTecnico").classList.remove("is-loading");
                    if (result == "Sucesso") {
                        notify('Email enviado com sucesso!');

                    } else {
                        notifyError('Ocorreu um erro.');
                    }

                });
            }
        });
        Bulma('#modalEnviarEmailTecnico').modal().close();
    }


    function EnviarEmail() {

        var idFolhaObra = document.getElementById("hiddenFolhaObraId").value;
        var emailDestino = document.getElementById("txtEmail").value;

        document.getElementById("btnEnviarMail_" + idFolhaObra).classList.add("is-loading");

        var json = {
            id: idFolhaObra,
            emailDestino: emailDestino
        };

        var modal = Bulma('#modalEnviarFolhaObra').modal();
        modal.close();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/Email",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarMail_" + idFolhaObra).classList.remove("is-loading");

                    if (result == "Sucesso") {
                        notify('Email enviado com sucesso!');

                        var json = {
                            id: idFolhaObra,
                            novoemail: emailDestino
                        };
                        $.ajax({
                            type: "POST",
                            url: "/FolhasObra/AtualizarEmailClienteFolhaObra",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                });
                            }
                        });

                    } else {
                        notifyError('Ocorreu um erro.');
                    }

                });
            }
        });
    }

    function CarregarDadosResponsavel() {
        $.ajax({
            url: '/CLientes/Responsavel/',
            data: { "IdCliente": document.getElementById("txtIdCliente").value, "IdLoja": document.getElementById("txtIdLoja").value, "TipoEquipamento": document.getElementById("TipoEquipamento").value },
            type: "GET",
            success: function (response) {
                $("#txtQuemPediuNome").val(response.quemPediuNome);
                $("#txtQuemPediuEmail").val(response.quemPediuEmail);
                $("#txtQuemPediuTelefone").val(response.quemPediuTelefone)
            },
            error: function (response) {
                notifyError("Ocorreu um erro ao obter o responsável!");
            },
            failure: function (response) {
                notifyError("Ocorreu um erro ao obter o responsável!");
            }
        });
    }

    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Clientes/Clientes/',
                    data: { "prefix": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente + " (" + item.idCliente + " - " + item.idLoja + ")",
                                val: item.idCliente,
                                val2: item.idLoja,
                                contrato: item.contrato
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    },
                    failure: function (response) {
                        notifyError("Ocorreu um erro ao obter o cliente!");
                    }
                });
            },
            select: function (e, i) {
                $("#txtIdCliente").val(i.item.val);
                $("#txtIdLoja").val(i.item.val2);
                CarregarDadosResponsavel();
            },
            minLength: 1
        }).css('z-index', 3).data("ui-autocomplete")._renderItem = function (ul, item) {
            var html = "<div class='field has-addons mb-1'><a class='button is-fullwidth is-info is-outlined mr-1'>" + item.label + "</a><div class='field is-grouped is-right '>";
            if (item.contrato) html += "<input type='button' class='button mr-1 is-info' value='C' style='float: right;' />";
            if (!item.contrato) html += "<input type='button' class='button mr-1 is-warning' value='FC' style='float: right;' />";
            html += "</div>";
            return $("<li>")
                .append(html)
                .appendTo(ul);
        };
    });

</script>
