@model IEnumerable<FT_Management.Models.Marcacao>


@{
    ViewData["Title"] = "Pedidos - Lista de Técnicos";
}

<div class="pageloader is-info" id="pageloader"><span class="title">A carregar ...</span></div>
<form asp-action="Index" method="get">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-calendar-check"></i>
                                </span>
                                <span>Marcações</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap">
                    <p class="control has-icons-left">
                        <input type="number" class="input" placeholder="Num. da Marcação" id="txtNumMarcacao"
                            name="numMarcacao" value="@ViewData["numMarcacao"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-1-9"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Nome do Cliente" id="txtNomeCliente"
                            name="nomeCliente" value="@ViewData["nomeCliente"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Num. de Incidente" id="txtReferencia"
                            name="referencia" value="@ViewData["referencia"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <span class="select">
                            <select class="select" id="lstestados" name="estado" style="height: auto; max-width:250px"
                                onchange="filtrar()"
                                asp-items="@(new SelectList(@ViewBag.Estados, "Value", "Text", @ViewData["estado"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <span class="select">
                            <select class="select" id="lsttipoe" name="tipoe" style="height: auto" onchange="filtrar()"
                                asp-items="@(new SelectList(@ViewBag.TipoEquipamento, "Value", "Text", @ViewData["tipoe"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-filter"></i>
                        </span>
                    </p>
                    <p class="control has-addons has-icons-left">
                        <span class="select" style="max-width:150px">
                            <select class="select" id="idtecnico" name="idtecnico" style="height: auto"
                                onchange="filtrar()"
                                asp-items="@(new SelectList(@ViewBag.ListaTecnicos, "IdPHC", "NomeCompleto", @ViewData["idtecnico"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-person"></i>
                        </span>

                    <div class="control">
                        <a class="button is-info" href="~/Pedidos/ListaPedidos?IdTecnico=@ViewData["idtecnico"]">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    </p>
                </div>
                <div class="buttons is-right">
                    <p class="control">
                        <button type="button" onclick="filtrar();" class="button is-info is-outlined">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                            <span>Pesquisar</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" onclick="window.location.href = '/Pedidos'" class="button is-outlined">
                            <span class="icon">
                                <i class="fas fa-backspace fa-lg"></i>
                            </span>
                            <span>Limpar</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-primary is-info" type="button"
                            onclick="window.location.href = '/Pedidos/Adicionar'">
                            <span class="icon">
                                <i class="fas fa-plus fa-lg"></i>
                            </span>
                            <span>Adicionar</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" onclick="window.location.href = '/Pedidos/Agendamento'"
                            class="button is-success is-outlined">
                            <span class="icon">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <span>Agendamento</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-danger" type="button" onclick="ObterViaturas()">
                            <span class="icon">
                                <i class="fas fa-car-side fa-lg"></i>
                            </span>
                            <span>Viaturas</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-fullwidth is-disabled">Não foram encontradas marcações!</button>
    }
    else
    {
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().IdMarcacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Cliente.NomeCliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().DataMarcacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().Referencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstOrDefault().EstadoMarcacaoDesc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model =>
                            model.FirstOrDefault().LstTecnicos.FirstOrDefault().NomeCompleto)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr id="marcacao_@item.IdMarcacao"
                            class="@(item.EstadoMarcacaoDesc=="Finalizado" ? "has-background-success" : "")">
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().IdMarcacao)">
                                <span>@item.IdMarcacao</span>
                            </td>
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Cliente.NomeCliente)">
                                <span>@item.Cliente.NomeCliente</span>
                            </td>
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().DataMarcacao)">
                                <span class="data">@item.DataMarcacao.ToShortDateString()</span>
                            </td>
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Referencia)">
                                <span>@item.Referencia</span>
                            </td>
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().EstadoMarcacaoDesc)">
                                <span class="estado">@item.EstadoMarcacaoDesc</span>
                            </td>
                            <td onclick="location.href = '@Url.Action("Pedido", "Pedidos", new { id = item.IdMarcacao })'"
                                data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().LstTecnicos.FirstOrDefault().NomeCompleto)">
                                <span class="tecnico">@item.Tecnico.NomeCompleto</span>
                            </td>
                            <td class="is-actions-cell" style="min-width:200px">
                                <a class="button is-info is-rounded" onclick="ObterMarcacao(@item.IdMarcacao);">
                                    <span class="icon is-small">
                                        <i class="fas fa-list"></i>
                                    </span>
                                </a>
                                <a class="button is-primary is-rounded"
                                    onclick="location.href = '@(Url.Action("Print", "Pedidos", new { id = item.IdMarcacao, target="_blank" }))'">
                                    <span class="icon is-small">
                                        <i class="fas fa-sticky-note"></i>
                                    </span>
                                </a>
                                <a class="button is-info is-rounded is-outlined" onclick="copiarTexto('@item.Referencia');">
                                    <i class="fa-solid fa-copy"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    }
</div>

<div id="modalObterViaturas" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Lista de Viaturas</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p> </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info" href="~/Viaturas"><i class="fas fa-eye"></i></a>
            <button class="button is-secondary is-outlined"
                onclick="Bulma('#modalObterViaturas').modal().close();">Cancelar</button>
        </footer>
    </div>
</div>


<div id="modalQuickActionMarcacao" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Alteração Rápida</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <fieldset disabled>
                    <div class="field has-addons">
                        <div class="control">
                            <input type="text" class="input" id="txtIdMarcacao">
                        </div>
                        <div class="control" style="width:100%">
                            <input type="text" class="input" id="txtNomeCliente2">
                        </div>
                    </div>
                </fieldset>
                <hr />
                <div class="field">
                    <label class="label">Estado</label>
                    <p class="control has-icons-left">
                        <span class="select" style="width:100%">
                            @Html.DropDownList("LstEstados", new SelectList(ViewBag.Estados, "Value", "Text"), new {
                            style = "width: 100%;" })
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <label class="label">Data da Marcação</label>
                    <div class="field">
                        <p class="control ">
                            <input type="date" class="input"
                                value="@(DateTime.Parse(DateTime.Now.ToString()).ToString("yyyy-MM-dd"))" id="txtData">
                            <script>
                                bulmaCalendar.attach('#txtData', {
                                    color: 'info',
                                    lang: 'pt',
                                    displayMode: 'dialog',
                                    dateFormat: 'dd/MM/yyyy',
                                    todayLabel: 'Hoje',
                                    showClearButton: false,
                                    cancelLabel: 'Cancelar'
                                });
                            </script>
                        </p>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Técnico</label>
                    <div class="control">
                        <div class="select" style="width:100%">
                            <span class="select" style="width:100%">
                                @Html.DropDownList("LstTecnicos", new SelectList(ViewBag.ListaTecnicos, "Id",
                                "NomeCompleto"), new { style = "width: 100%;" })
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info"
                onclick="AtualizarMarcacao(document.getElementById('txtIdMarcacao').value);">Atualizar Marcação</button>
            <button class="button is-secondary is-outlined"
                onclick="Bulma('#modalQuickActionMarcacao').modal().close();">Cancelar</button>
        </footer>
    </div>
</div>

<script>
    document.getElementById('LstEstados').remove(0);
    document.getElementById('LstTecnicos').remove(0);

    function copiarTexto(id) {

        bulmaToast.toast({
            message: 'Texto copiado com sucesso!',
            type: 'is-success',
            closeOnClick: true,
            pauseOnHover: true,
            opacity: 0.8,
            duration: 5000,
            position: 'top-center'
        })

        // text area method
        let textArea = document.createElement("textarea");
        textArea.value = id;
        // make the textarea out of viewport
        textArea.style.position = "fixed";
        textArea.style.left = "-999999px";
        textArea.style.top = "-999999px";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        return new Promise((res, rej) => {
            // here the magic happens
            document.execCommand('copy') ? res() : rej();
            textArea.remove();
        });

    }

    function filtrar() {
        document.getElementById('pageloader').classList.add('is-active');

        var num = document.getElementById("txtNumMarcacao").value;
        var nome = document.getElementById("txtNomeCliente").value;
        var referencia = document.getElementById("txtReferencia").value;
        var tipoe = document.getElementById("lsttipoe").value;
        var estado = document.getElementById("lstestados").value;
        var tecnico = document.getElementById("idtecnico").value;

        if (document.getElementById("lsttipoe").selectedIndex == "0") tipoe = "";
        if (document.getElementById("lstestados").selectedIndex == "0") estado = "";
        if (document.getElementById("idtecnico").selectedIndex == "0") tecnico = 0;

        window.location.href = "/Pedidos?numMarcacao=" + num + "&nomeCliente=" + nome + "&referencia=" + referencia + "&tipoe=" + tipoe + "&idtecnico=" + tecnico + "&estado=" + estado;
    }

    function ObterViaturas() {
        $.ajax({
            url: '/Viaturas/ObterViaturas/',
            type: "GET",
            success: function (response) {
                //console.log(response);
                var html = "<table class=\"table table-hover\" <thead><tr><th style=\"width: 110px\">Condutor</th><th>Matricula</th><th>Localizacao</th><th></th></tr></thead><tbody>";
                for (var i = 0; i < response.length; i++) {
                    var obj = response[i];
                    var condutor = 'N/D';
                    if (obj.utilizador != null) condutor = obj.utilizador.nomeCompleto;
                    console.log(obj);
                    html += "<tr onclick=\"location.href = '/Viaturas/Viagens/" + obj.matricula + "'\" ";
                    if (obj.ignicao) html += " class=\"has-background-success\"";
                    html += "><td>" + condutor + "</td><td>" + obj.matricula + "</td><td>" + obj.localizacaoMorada + "</td><td><a class=\"button is-outlined is-info is-large\" href=" + obj.getUrl + "><i class=\"fas fa-location-arrow float-left\" style=\"margin-top:5px\"></i></a></td></tr>";


                }
                html += "</tbody></table>"
                $('#modalObterViaturas').find('.modal-body').html(html);

                var modal = Bulma('#modalObterViaturas').modal();
                modal.open();

            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }

    function ObterMarcacao(id) {
        document.getElementById('pageloader').classList.add('is-active');
        $.ajax({
            url: '/Pedidos/ObterMarcacao/' + id,
            type: "GET",
            success: function (response) {
                //console.log(response);
                document.getElementById('txtData').bulmaCalendar.value(new Date(response.dataMarcacao).toLocaleDateString());
                document.getElementById('txtIdMarcacao').value = response.idMarcacao;
                document.getElementById('txtNomeCliente2').value = response.cliente.nomeCliente;
                document.getElementById('LstEstados').value = response.estadoMarcacaoDesc;
                document.getElementById('LstTecnicos').value = response.tecnico.id;

                document.getElementById('pageloader').classList.remove('is-active');
                var modal = Bulma('#modalQuickActionMarcacao').modal();
                modal.open();

            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }


    function AtualizarMarcacao(id) {
        if (document.getElementById('LstTecnicos').selectedIndex <= 0) {
            bulmaToast.toast({
                message: 'Tem de definir um técnico!',
                type: 'is-danger',
                closeOnClick: true,
                pauseOnHover: true,
                opacity: 0.8,
                duration: 5000
            })
        } else {

            document.getElementById('pageloader').classList.add('is-active');
            var m = {
                DataMarcacao: document.getElementById('txtData').value,
                EstadoMarcacaoDesc: document.getElementById('LstEstados').value,
                Tecnico: document.getElementById('LstTecnicos').value
            }
            $.ajax({
                url: '/Pedidos/AlteracaoRapida/' + id,
                type: "POST",
                data: m,
                success: function (response) {
                    document.getElementById('marcacao_' + id).querySelector('.data').childNodes[0].data = m.DataMarcacao;
                    document.getElementById('marcacao_' + id).querySelector('.estado').childNodes[0].data = m.EstadoMarcacaoDesc;
                    document.getElementById('marcacao_' + id).querySelector('.tecnico').childNodes[0].data = document.getElementById('LstTecnicos').selectedIndex > 0 ? document.getElementById('LstTecnicos')[document.getElementById('LstTecnicos').selectedIndex].text : "N/D";


                    document.getElementById('pageloader').classList.remove('is-active');
                    var modal = Bulma('#modalQuickActionMarcacao').modal();
                    modal.close();

                    bulmaToast.toast({
                        message: 'Agendamento atualizado com sucesso!',
                        type: 'is-success',
                        closeOnClick: true,
                        pauseOnHover: true,
                        opacity: 0.8,
                        duration: 5000
                    })
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }
</script>