@model IEnumerable<FT_Management.Models.TrelloListas>

@{
    ViewData["Title"] = "Pedidos";
}

<h1>Pedidos</h1>

<div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
    <a class="nav-item nav-link active" id="v-pills-pedidos-tab" data-toggle="pill" href="#v-pills-pedidos" role="tab" aria-controls="v-pills-pedidos" aria-selected="true">Pedidos</a>
    <a class="nav-item nav-link" id="v-pills-pecas-tab" data-toggle="pill" href="#v-pills-pecas" role="tab" aria-controls="v-pills-pecas" aria-selected="false">Peças</a>
</div>
<br />

<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-pedidos" role="tabpanel" aria-labelledby="v-pills-pedidos-tab">

        <form method="get" action="ListaPedidos">
            <div>
                <select class="form-control" id="SelectLista" asp-items="@(new SelectList(Model, "IdLista", "NomeLista", @ViewData["SelectedLista"]))" onchange="submitdata()" name="idlista"></select>
                <input type="hidden" id="hiddenQuadroID" value="@Model.First().IdQuadro" name="idQuadro" />
                <input type="hidden" id="hiddenSelectedGuiaID" name="GuiaTransporte" />

            </div>
        </form>
        <hr />

        @if (Model.Count() == 0)
        {
            <br />
            <button class="btn btn-lg btn-danger btn-block disabled" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas listas!</button>
        }
        else
        {

            @foreach (var lista in Model)
            {
                <div class="row">
                    @foreach (var item in lista.ListaCartoes)
                    {

                        <div class="col-sm-6 " style="margin-bottom: 10px">
                            <div class="card mb-3">
                                <div id="headerPedido_@item.IdCartao" class="card-header @(item.CorLabel == "green" ? "card bg-success mb-3" : "") @(item.CorLabel == "yellow" ? "bg-warning" : "")@(item.CorLabel == "red" ? "bg-danger" : "")">
                                    <span class="spinner-border text-primary float-right" style="display:none" id="cartao_@item.IdCartao" role="status"></span>
                                    <h3>@item.NomeCartao </h3>
                                </div>
                                <div class="card-body text-primary">
                                    <p class="card-text">
                                        <a class="btn btn-info btn-lg btn-block text-black-50" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="location.href = '@(Url.Action("Pedido", "Pedidos", new { idCartao = item.IdCartao }))'"><i class="fas fa-info float-left" style="margin-top:5px"></i>Informação</a>
                                        <hr />
                                        <div class="btn-group-lg">
                                            <a class="btn btn-success btn-lg btn-block text-black-50 " style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" id="green_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '1')"><i class="fas fa-check float-left" style="margin-top:5px"></i>Serviço Concluido</a>
                                            <a class="btn btn-warning btn-lg btn-block text-black-50 " style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" id="yellow_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '2')"><i class="fas fa-clock float-left" style="margin-top:5px"></i>Pendente</a>
                                            <a class="btn btn-danger btn-lg btn-block text-black-50 " style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" id="red_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '3')"><i class="fas fa-exclamation float-left" style="margin-top:5px"></i>Não Concluido</a>
                                        </div>
                                    </p>
                                    <div class="card-footer">
                                        <small>
                                            Lista: @lista.NomeLista
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            }
        }
    </div>
    <div class="tab-pane fade show " id="v-pills-pecas" role="tabpanel" aria-labelledby="v-pills-pecas-tab">
        <br />
        <h4>Peças em uso na Guia de Transporte</h4>
        @{ var LstGuiaPecas = ViewData["LstGuiasPecas"] as IList<Movimentos>;}

            <br />
            <button class="btn btn-lg btn-danger btn-block form-group disabled @(LstGuiaPecas.Count() == 0 ? "" : "d-none")" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas guias de transporte!</button>

            <table class="table table-hover @(LstGuiaPecas.Count() > 0 ? "" : "d-none")">
                <thead>
                    <tr>
                        <th>
                            Referencia
                        </th>
                        <th>
                            Designacao
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            <form method="get" action="ListaPedidos">
                                <select class="form-control" id="SelectLista2" asp-items="@(new SelectList(@ViewData["LstGuias"] as List<Movimentos>, "GuiaTransporte", "GuiaTransporte", @ViewData["LstGuiasSelected"]))" onchange="submitdata()" name="GuiaTransporte"></select>
                                <input type="hidden" id="hiddenQuadroID" value="@Model.First().IdQuadro" name="idQuadro" />
                                <input type="hidden" id="hiddenSelectedListaID" name="idlista" />
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewData["LstGuiasPecas"] as List<Movimentos>)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RefProduto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Designacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeCliente)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    </div>
        <div>
            <br />
            <a class="btn btn-lg btn-secondary" onclick="location.href = '@(Url.Action("Index", "Pedidos"))'" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">< Voltar</a>

        </div>

        <script>
            function ValidarPedido(idcartao, estado) {
                document.getElementById("cartao_" + idcartao).style.display = '';
                document.getElementById("green_" + idcartao).classList.add("disabled");
                document.getElementById("yellow_" + idcartao).classList.add("disabled");
                document.getElementById("red_" + idcartao).classList.add("disabled");

                var json = {
                    idcartao: idcartao,
                    estado: estado
                };
                var element = document.getElementById("headerPedido_" + idcartao);
                element.classList = 'card-header';
                if (estado == '1') {
                    element.classList.add("bg-success");
                } else if (estado == '2') {
                    element.classList.add("bg-warning");
                } else {
                    element.classList.add("bg-danger");
                }

                $.ajax({
                    type: "POST",
                    url: "/Pedidos/ValidarPedido",
                    data: json,
                    traditional: true,
                    success: function (result) {
                        $(function () {
                            $.notify({
                                message: "Cartão atualizado com sucesso!"
                            }, {
                                // settings
                                type: 'success',
                                onShow: function () {
                                    this.css({ 'width': 'auto', 'height': 'auto' });
                                }
                            });
                            document.getElementById("cartao_" + idcartao).style.display = 'none';
                            document.getElementById("green_" + idcartao).classList.remove("disabled");
                            document.getElementById("yellow_" + idcartao).classList.remove("disabled");
                            document.getElementById("red_" + idcartao).classList.remove("disabled");
                        });
                    }
                });

            }
            function ChangeLista() {

                var lista = {
                    idlista: $("#SelectLista").val(),
                    id: document.getElementById("hiddenQuadroID").value
                };

                $.ajax({
                    type: "POST",
                    url: "/Pedidos/ListaPedidos",
                    data: lista,
                    traditional: true
                });
            }

            function submitdata() {
                document.getElementById("hiddenSelectedGuiaID").value = document.getElementById("SelectLista2").value;
                document.getElementById("hiddenSelectedListaID").value = document.getElementById("SelectLista").value;

                $('form').submit();
            }
        </script>
