@model IEnumerable<FT_Management.Models.Marcacao>

@{
    ViewData["Title"] = "Marcações";
}

<div class="row">
    <div class="col-lg-8">
        <h1>Pedidos</h1>
    </div>
    <div class="col-lg-4">
        <form method="get" action="ListaPedidos">
            <input type="hidden" id="hiddenIdTecnico" value="@ViewData["IdTecnico"]" name="IdTecnico">
            <input type="hidden" id="hiddenTxtData" value="@ViewData["DataPedidos"]" name="DataPedidos">

            <input type="text" class="form-control" id="txtData">
            <script>
                        $('#txtData').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            value: '@ViewData["DataPedidos"]',
                            change: function (e) {
                                if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
                                    //alert('Change is fired ' + document.getElementById("txtData").value);
                                    document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
                                    $('form').submit();
                                }
                            }
                        });
            </script>
        </form>
    </div>
</div>
<hr />
<br />

@if (Model.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas marcações!</button>
}
else
{

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-sm-6 " style="margin-bottom: 10px">
                <div class="card mb-3">
                    <div id="headerPedido_@item.IdMarcacao" class="card-header @(item.EstadoMarcacao == 4 ? "card bg-success mb-3" : "") @(item.EstadoMarcacao == 1 ? "bg-info" : "")@(item.EstadoMarcacao != 1 & @item.EstadoMarcacao != 5 & @item.EstadoMarcacao != 4 ? "bg-warning" : "")">
                        <span class="spinner-border text-primary float-right" style="display:none" id="cartao_@item.IdMarcacao" role="status"></span>
                        <h3>@item.Cliente.NomeCliente </h3>
                    </div>
                    <div class="card-body text-primary">
                        <p class="card-text">
                            <a class="btn btn-info btn-lg btn-block text-black-50" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="location.href = '@(Url.Action("Pedido", "Pedidos", new { idMarcacao = item.IdMarcacao, IdTecnico = @ViewData["IdTecnico"] }))'"><i class="fas fa-info float-left" style="margin-top:5px"></i>Informação</a>
                            <a class="btn btn-success btn-lg btn-block text-black-50" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="location.href = '@(Url.Action("Print", "Pedidos", new { id = item.IdMarcacao }))'">><i class="fas fa-prin float-left" style="margin-top:5px"></i>Imprimir Etiqueta</a>
                            <hr />
                            <a class="btn btn-secondary btn-lg btn-block text-black-50 @(item.Cliente.TelefoneCliente.Length < 9 ? "disabled" : "")" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" href="tel:@item.Cliente.TelefoneCliente"><i class="fas fa-phone-alt float-left" style="margin-top:5px"></i>Ligar</a>
                            <a class="btn btn-success btn-lg btn-block text-black-50" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" href="https://maps.google.com/?daddr=@item.Cliente.MoradaCliente"><i class="fas fa-location-arrow float-left" style="margin-top:5px"></i>Direções</a>
                        </p>
                        <div class="card-footer">
                            <small>
                                Estado do pedido: @item.EstadoMarcacaoDesc
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}
<div>
    <br />
    <a class="btn btn-lg btn-secondary" onclick="location.href = '@(Url.Action("Index", "Pedidos"))'" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">< Voltar</a>

</div>

<script>
    function ValidarPedido(idcartao, estado) {
        document.getElementById("cartao_" + idcartao).style.display = '';
        document.getElementById("green_" + idcartao).classList.add("disabled");
        document.getElementById("yellow_" + idcartao).classList.add("disabled");
        document.getElementById("red_" + idcartao).classList.add("disabled");

        var json = {
            idcartao: idcartao,
            estado: estado
        };
        var element = document.getElementById("headerPedido_" + idcartao);
        element.classList = 'card-header';
        if (estado == '1') {
            element.classList.add("bg-success");
        } else if (estado == '2') {
            element.classList.add("bg-warning");
        } else {
            element.classList.add("bg-danger");
        }

        $.ajax({
            type: "POST",
            url: "/Pedidos/ValidarPedido",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    $.notify({
                        message: "Cartão atualizado com sucesso!"
                    }, {
                        // settings
                        type: 'success',
                        onShow: function () {
                            this.css({ 'width': 'auto', 'height': 'auto' });
                        }
                    });
                    document.getElementById("cartao_" + idcartao).style.display = 'none';
                    document.getElementById("green_" + idcartao).classList.remove("disabled");
                    document.getElementById("yellow_" + idcartao).classList.remove("disabled");
                    document.getElementById("red_" + idcartao).classList.remove("disabled");
                });
            }
        });

    }
    function ChangeLista() {

        var lista = {
            idlista: $("#SelectLista").val(),
            id: document.getElementById("hiddenQuadroID").value
        };

        $.ajax({
            type: "POST",
            url: "/Pedidos/ListaPedidos",
            data: lista,
            traditional: true
        });
    }

    function submitdata() {
        document.getElementById("hiddenSelectedGuiaID").value = document.getElementById("SelectLista2").value;
        document.getElementById("hiddenSelectedListaID").value = document.getElementById("SelectLista").value;

        $('form').submit();
    }
</script>
