@model IEnumerable<FT_Management.Models.TrelloListas>

@{
    ViewData["Title"] = "Pedidos";
}

    <h1>Pedidos</h1>

    <form method="get" action="ListaPedidos">
        <div>
            <select class="form-control" id="SelectLista" asp-items="@(new SelectList(Model, "IdLista", "NomeLista", @ViewData["SelectedLista"]))" onchange="submitdata()" name="idlista"></select>
            <input type="hidden" id="hiddenQuadroID" value="@Model.First().IdQuadro" name="idQuadro" />
        </div>
    </form>
    <hr />

    @if (Model.Count() == 0)
    {
        <br />
        <button class="btn btn-lg btn-danger btn-block disabled">Não foram encontradas listas!</button>
    }
    else
    {

        @foreach (var lista in Model)
        {
            <div class="row">
                @foreach (var item in lista.ListaCartoes)
                {

                    <div class="col-sm-6 " style="margin-bottom: 10px">
                        <div class="card mb-3">
                            <div id="headerPedido_@item.IdCartao" class="card-header @(item.CorLabel == "green" ? "card bg-success mb-3" : "") @(item.CorLabel == "yellow" ? "bg-warning" : "")@(item.CorLabel == "red" ? "bg-danger" : "")">
                                <span class="spinner-border text-primary float-right" style="display:none" id="cartao_@item.IdCartao" role="status"></span>
                                <h3>@item.NomeCartao </h3>
                            </div>
                            <div class="card-body text-primary">
                                <p class="card-text">
                                    <a class="btn btn-info btn-lg btn-block text-black-50" onclick="location.href = '@(Url.Action("Pedido", "Pedidos", new { idCartao = item.IdCartao }))'"><i class="fas fa-info float-left" style="margin-top:5px"></i>Informação</a>
                                    <hr />
                                    <div class="btn-group-lg">
                                        <a class="btn btn-success btn-lg btn-block text-black-50 " id="green_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '1')"><i class="fas fa-check float-left" style="margin-top:5px"></i>Serviço Concluido</a>
                                        <a class="btn btn-warning btn-lg btn-block text-black-50 " id="yellow_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '2')"><i class="fas fa-clock float-left" style="margin-top:5px"></i>Pendente</a>
                                        <a class="btn btn-danger btn-lg btn-block text-black-50 " id="red_@item.IdCartao" style="margin-right: 10px" onclick="ValidarPedido('@item.IdCartao', '3')"><i class="fas fa-exclamation float-left" style="margin-top:5px"></i>Não Concluido</a>
                                    </div>
                                </p>
                                <div class="card-footer">
                                    <small>
                                        Lista: @lista.NomeLista
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
    }
    <div>
        <br />
        <a class="btn btn-lg btn-secondary" onclick="location.href = '@(Url.Action("Index", "Pedidos"))'">< Voltar</a>

    </div>

    <script>
        function ValidarPedido(idcartao, estado) {
            document.getElementById("cartao_" + idcartao).style.display = '';
            document.getElementById("green_" + idcartao).classList.add("disabled");
            document.getElementById("yellow_" + idcartao).classList.add("disabled");
            document.getElementById("red_" + idcartao).classList.add("disabled");

            var json = {
                idcartao:idcartao,
                estado: estado
            };
            var element = document.getElementById("headerPedido_" + idcartao);
            element.classList = 'card-header';
            if (estado == '1') {
                element.classList.add("bg-success");
            } else if (estado == '2') {
                element.classList.add("bg-warning");
            } else {
                element.classList.add("bg-danger");
            }

            $.ajax({
                type: "POST",
                url: "/Pedidos/ValidarPedido",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        $.notify({
                            message: "Cartão atualizado com sucesso!"
                        }, {
                            // settings
                            type: 'success',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });
                        document.getElementById("cartao_" + idcartao).style.display = 'none';
                        document.getElementById("green_" + idcartao).classList.remove("disabled");
                        document.getElementById("yellow_" + idcartao).classList.remove("disabled");
                        document.getElementById("red_" + idcartao).classList.remove("disabled");
                    });
                }
            });

        }
        function ChangeLista() {

            var lista = {
                idlista: $("#SelectLista").val(),
                id: document.getElementById("hiddenQuadroID").value
            };

            $.ajax({
                type: "POST",
                url: "/Pedidos/ListaPedidos",
                data: lista,
                traditional: true
            });
        }

        function submitdata() {
            $('form').submit();
        }
    </script>
