@model FT_Management.Models.TrelloCartoes


@{
    ViewData["Title"] = "Pedido";
}

<div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-item nav-link active" id="v-pills-dados-tab" data-toggle="pill" href="#v-pills-dados" role="tab" aria-controls="v-pills-dados" aria-selected="true">Dados</a>
    <a class="nav-item nav-link" id="v-pills-folhas-tab" data-toggle="pill" href="#v-pills-folhas" role="tab" aria-controls="v-pills-folhas" aria-selected="false">Folhas de Obra</a>
    <a class="nav-item nav-link" id="v-pills-com-tab" data-toggle="pill" href="#v-pills-com" role="tab" aria-controls="v-pills-com" aria-selected="false">Comentários</a>

</div>
<br />
<hr />

<h1 class="text-center">
    @Html.DisplayFor(model => model.NomeCartao)
</h1>
<hr />
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-dados" role="tabpanel" aria-labelledby="v-pills-dados-tab">
        <br />


        <div>
            <dl class="row">
                <dd class="col-sm-12">
                    <span style="white-space: pre-line">@Model.DescricaoCartao</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="tab-pane fade show" id="v-pills-folhas" role="tabpanel" aria-labelledby="v-pills-folhas-tab">

        <br />
        <a class="btn btn-primary btn-block btn-lg form-group" style="color:white; margin-bottom:5px;" onclick="location.href = '@(Url.Action("Adicionar", "FolhasObra", new { idCartao = Model.IdCartao }))'"><i class="fas fa-plus"></i> Nova Folha de Obra</a>


        @if (Model.FolhasObra.Count() == 0)
        {
            <br />
            <button class="btn btn-lg btn-danger btn-block form-group disabled">Não foram encontradas folhas de obra!</button>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FolhasObra.First().DataServico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FolhasObra.First().ClienteServico.NomeCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FolhasObra.First().EquipamentoServico.NumeroSerieEquipamento)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.FolhasObra)
                    {
                        <tr>
                            <td onclick="location.href = '@(Url.Action("Editar", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                <span>@item.DataServico.ToString("dd/MM/yyyy")</span>
                            </td>
                            <td onclick="location.href = '@(Url.Action("Editar", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                @Html.DisplayFor(modelItem => item.ClienteServico.NomeCliente)
                            </td>
                            <td onclick="location.href = '@(Url.Action("Editar", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                @Html.DisplayFor(modelItem => item.EquipamentoServico.NumeroSerieEquipamento)
                            </td>
                            <td>
                                <a class="btn btn-outline-success btn-lg" onclick="window.open('@Url.Action("PrintFolhaObra", "FolhasObra", new { id = item.IdFolhaObra})')"><i class="fas fa-print" style="font-size:20px"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="tab-pane fade show" id="v-pills-com" role="tabpanel" aria-labelledby="v-pills-com-tab">

        <br />
        <a class="btn btn-primary btn-block btn-lg form-group" style="color:white; margin-bottom:5px;" onclick="ConfirmAdicionarComentario('@Model.IdCartao')"><i class="fas fa-plus"></i> Novo Comentario</a>

        <button class="btn btn-lg btn-danger form-group btn-block disabled @(Model.Comentarios.Count() == 0 ? "" : "d-none")" id="no-com">Não foram encontrados comentários!</button>

        <table class="table table-hover @(Model.Comentarios.Count() == 0 ? "d-none" : "")" id="tblComentarios">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentarios.First().Utilizador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentarios.First().Comentario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comentarios.First().DataComentario)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Comentarios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Utilizador)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comentario)
                        </td>
                        <td>
                            <span>@item.DataComentario.ToString("dd/MM/yyyy HH:mm")</span>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-lg btn-secondary" onclick="location.href = '@(Url.Action("ListaPedidos", "Pedidos", new { idQuadro = Model.IdQuadro, idLista = Model.IdLista }))'">< Voltar</a>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Comentário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="txtComentario" class="form-control" rows="5" placeholder="Comentário" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="AdicionarComentario()" href="javascript:;">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenCartaoId" />
<script>
    var ConfirmAdicionarComentario = function (IdCartao) {
        $("#hiddenCartaoId").val(IdCartao);
        $("#myModal").modal('show');

    }
    function AdicionarComentario(IdCartao) {
        {

            var comment = {
                idcartao: document.getElementById("hiddenCartaoId").value,
                comentario: document.getElementById("txtComentario").value
            };

            $.ajax({
                type: "POST",
                url: "/Pedidos/AdicionarComentario",
                data: comment,
                traditional: true,
                success: function (result) {
                    $(function () {
                        //alert(JSON.stringify(result));
                        document.getElementById('no-com') != null ? document.getElementById('no-com').classList.add("d-none") : "";
                        document.getElementById('tblComentarios').classList.remove("d-none");

                        var m = new Date(result.dataComentario);
                        var dateString =
                            ("0" + m.getUTCDate()).slice(-2) + "/" +
                            ("0" + (m.getUTCMonth() + 1)).slice(-2) + "/" +
                            m.getUTCFullYear() + " " +
                            ("0" + m.getUTCHours()).slice(-2) + ":" +
                            ("0" + m.getUTCMinutes()).slice(-2);

                        //var newRow = document.getElementById('tblComentarios').insertRow();
                        var row = "<td>" + result.utilizador + "</td><td>" + result.comentario + "</td><td>" + dateString + "</td>";
                        $(row).insertAfter("#tblComentarios tr:first");

                        $('#myModal').modal('toggle');
                        $('#myModal')
                            .find("input,textarea,select")
                            .val('')
                            .end()
                            .find("input[type=checkbox], input[type=radio]")
                            .prop("checked", "")
                            .end();
                    });
                }
            });

        }
    }
</script>
