@model FT_Management.Models.Marcacao


@{
    ViewData["Title"] = "Pedido - " + Model.Cliente.NomeCliente;
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title has-text-centered is-hoverable" onclick="location.href = '@(Url.Action("Cliente", "Clientes", new { IdCliente = @Model.Cliente.IdCliente, IdLoja = @Model.Cliente.IdLoja }))'">
                            <span class="icon mr-3">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                            <span><b>@Model.IdMarcacao</b> - @Model.Cliente.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />

<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Dados</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Folhas de Obra</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Comentários</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Anexos</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field ">
                                <label asp-for="Cliente.NomeCliente" class="label"></label>
                                <div class="field has-addons">
                                <p class="control has-icons-left" style="width:100%">
                                    <input asp-for="Cliente.NomeCliente" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user-check"></i>
                                    </span>
                                </p>
                                @if (User.IsInRole("Admin")){
                                 <div class="control">
                                    <a class="button is-info" href="~/Pedidos/Editar/@Model.IdMarcacao">
                                         <i class="fas fa-pencil"></i>
                                    </a>
                                  </div>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Cliente.MoradaCliente" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Cliente.MoradaCliente" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-location"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="Cliente.TelefoneCliente" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Cliente.TelefoneCliente" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-phone"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="DataCriacao" class="label"></label>
                                <div class="control">
                                </div>
                                <p class="control has-icons-left">
                                    <input asp-for="DataCriacao" class="input" type="datetime-local" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-day"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="DataPedido" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="DataPedido" class="input" type="date" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-day"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="DataMarcacao" class="label"></label>
                                <div class="control has-icons-left">
                                    <p class="control " style="width:100%">
                                        <input class="input" type="text" readonly value="@Model.DataMarcacao.ToShortDateString() @Model.Hora">
                                    </p>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-day"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="Periodo" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Periodo" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-cloud-sun"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="EstadoMarcacaoDesc" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="EstadoMarcacaoDesc" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-check"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="PrioridadeMarcacao" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="PrioridadeMarcacao" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="TipoServico" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="TipoServico" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-wrench"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="TipoEquipamento" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="TipoEquipamento" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-cogs"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="TipoPedido" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="TipoPedido" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-phone-slash"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Referencia" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Referencia" class="input" readonly />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-asterisk"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4 my-auto">
                            <div class="field">
                                <label disabled class="switch is-rounded">
                                    <input type="checkbox" disabled checked="@Model.Piquete">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Piquete)</span>
                                </label>
                            </div>
                        </div>
                        <div class="column is-4 my-auto">
                        <div class="field">
                            <label disabled class="switch is-rounded">
                                <input type="checkbox" disabled checked="@Model.Oficina">
                                <span class="check is-info"></span>
                                <span class="control-label">@Html.DisplayNameFor(model => model.Oficina)</span>
                            </label>
                        </div>
                        </div>
                        <div class="column">
                            <div  class="field">
                                <label asp-for="ResumoMarcacao" class="label"></label>
                                <div class="control">
                                    <textarea class="textarea is-primary" rows="15" asp-for="ResumoMarcacao"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <p class="control is-right">
                        <button class="button is-primary is-pulled-right is-fullwidth" disabled asp-action="Adicionar" asp-controller="FolhasObra">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Nova Folha de Obra</span>
                        </button>
                    </p>
                    &nbsp;
                    @if (Model.LstFolhasObra.Count() == 0)
                    {
                        <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas folhas de obra!</button>
                    }
                    else
                    {
                        <div class="b-table">
                        <div class="table-wrapper has-mobile-cards"> 
                        <table class="table is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LstFolhasObra.First().DataServico)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LstFolhasObra.First().ClienteServico.NomeCliente)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LstFolhasObra.First().EquipamentoServico.NumeroSerieEquipamento)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LstFolhasObra)
                                {
                                    <tr>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstFolhasObra.First().DataServico)" onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                            <span>@item.DataServico.ToString("dd/MM/yyyy")</span>
                                        </td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstFolhasObra.First().ClienteServico.NomeCliente)" onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                            @Html.DisplayFor(modelItem => item.ClienteServico.NomeCliente)
                                        </td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstFolhasObra.First().EquipamentoServico.NumeroSerieEquipamento)" onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                            @Html.DisplayFor(modelItem => item.EquipamentoServico.NumeroSerieEquipamento)
                                        </td>
                                        <td class="is-actions-cell">
                                            <div class="field has-addons">
                                                <p class="control">
                                                    <button class="button" onclick="window.open('@Url.Action("Print", "FolhasObra", new { id = item.IdFolhaObra, target="_blank" })')">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-sticky-note"></i>
                                                        </span>
                                                    </button>
                                                </p>
                                                <p class="control">
                                                    <button class="button" onclick="window.open('@Url.Action("PrintFolhaObra", "FolhasObra", new { id = item.IdFolhaObra, target="_blank"})')">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-print"></i>
                                                        </span>
                                                    </button>
                                                </p>
                                                <p class="control">
                                                    <button class="button" onclick="ConfirmEnviarEmail(@item.IdFolhaObra)" id="btnEnviarMail_@item.IdFolhaObra">
                                                        <span class="icon is-small">
                                                            <i class="fas fa-paper-plane"></i>
                                                        </span>
                                                    </button>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        </div>
                    }
                </li>
                <li>
                    <p class="control">
                        <button class="button is-primary is-pulled-right is-fullwidth" onclick="Bulma('#modalAdicionarComentario').modal().open();">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Novo Comentário</span>
                        </button>
                    </p>
                    &nbsp;
                    @if (Model.LstComentarios.Count() == 0)
                    {

                        <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontrados comentários!</button>
                    }
                    else
                    {
                         <div class="b-table">
                        <div class="table-wrapper has-mobile-cards"> 
                        <table class="table is-hoverable is-fullwidth">
                            <thead><tr><th>@Html.DisplayNameFor(model => model.LstComentarios.First().Utilizador.NomeCompleto)</th><th>@Html.DisplayNameFor(model => model.LstComentarios.First().Descricao)</th><th>@Html.DisplayNameFor(model => model.LstComentarios.First().DataComentario)</th>
                            <tbody>

                                @foreach (var c in Model.LstComentarios)
                                {
                                    <tr>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstComentarios.First().Utilizador.NomeCompleto)"><span>@c.Utilizador.NomeCompleto</span></td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstComentarios.First().Descricao)"><span>@c.Descricao</span></td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstComentarios.First().DataComentario)"><span>@c.DataComentario</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        </div>
                    }
                </li>
                <li>
                    <p class="control">
                        <button class="button is-primary is-pulled-right is-fullwidth" onclick="Bulma('#modalAdicionarAnexo').modal().open();">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Novo Anexo</span>
                        </button>
                    </p>
                    &nbsp;
                    @if (Model.LstAnexos.Count() == 0)
                    {

                        <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontrados anexos!</button>
                    }
                    else
                    {
                         <div class="b-table">
                        <div class="table-wrapper has-mobile-cards"> 
                        <table class="table is-hoverable is-fullwidth">
                            <thead><tr><th>@Html.DisplayNameFor(model => model.LstAnexos.First().NomeUtilizador)</th><th>@Html.DisplayNameFor(model => model.LstAnexos.First().NomeFicheiro)</th><th>@Html.DisplayNameFor(model => model.LstAnexos.First().DataCriacao)</th><th></th>
                            <tbody>

                                @foreach (var a in Model.LstAnexos)
                                {
                                    <tr>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstAnexos.First().NomeUtilizador)"><span>@a.NomeUtilizador</span></td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstAnexos.First().NomeFicheiro)"><span>@a.NomeFicheiro</span></td>
                                        <td data-label="@Html.DisplayNameFor(model => model.LstAnexos.First().DataCriacao)"><span>@a.DataCriacao.ToString("dd-MM-yyyy")</span></td>
                                        <td class="is-actions-cell">
                                            <a class="button is-primary is-outlined" onclick="window.open('@Url.Action("DownloadAnexo", "Pedidos", new { id = @a.AnexoStamp, target="_blank" })')"><i class="fas fa-eye" style="font-size:20px"></i></a>
                                            <a class="button is-danger" href="@Url.Action("ApagarAnexo", "Pedidos", new { id = @a.AnexoStamp })"><i class="fas fa-trash" style="font-size:20px"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        </div>
                    }
                </li>

            </ul>
        </div>
    </div>
</div>


<input type="hidden" id="hiddenFolhaObraId" />
<input type="hidden" id="hiddenIdMarcacao" value="@Model.IdMarcacao" />


<div id="modalAdicionarComentario" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Comentário</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <textarea id="txtComentario" class="textarea is-info" rows="5" placeholder="Comentário" required></textarea>
            </div>
            &nbsp;
                <div class="form-check form-group col">
                    <label class="switch is-rounded">
                        <input type="checkbox" id="chkFechar">
                        <span class="check is-info"></span>
                        <span class="control-label">Fechar Pedido?</span>
                    </label>
                </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="AdicionarComentario()" id="btnConfirmAddComentario" href="javascript:;">Adicionar</button>
        </footer>
    </div>
</div>

<div id="modalAdicionarAnexo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Anexo</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
               <div class="file has-name is-fullwidth" id="file-with-js">
                    <label class="file-label">
                        <input class="file-input" id="fileinput" type="file" name="resume">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fa fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Escolha um ficheiro...
                            </span>
                        </span>
                        <span class="file-name">Por favor escolha um ficheiro</span>
                    </label>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="AdicionarAnexo()" id="btnConfirmAddAnexo" href="javascript:;">Adicionar</button>
        </footer>
    </div>
</div>


<div id="modalEnviarFolhaObra" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Enviar Folha de Obra</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <input id="txtEmail" type="email" class="input" placeholder="Email" value="" required />
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="EnviarEmail()" href="javascript:;">Enviar</button>
        </footer>
    </div>
</div>

<script>
        var input = document.querySelector(
        "#file-with-js>.file-label>.file-input"
        );
        input.onchange = function () {
            if (input.files.length > 0) {
                AdicionarAnexo();
            }
        }
         function AdicionarAnexo(input) {
        var formData = new FormData();
            formData.append("files", document.getElementById('fileinput').files[0]);
        $.ajax(
            {
                url: "/Pedidos/AdicionarAnexo?id=" + document.getElementById('hiddenIdMarcacao').value,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    window.location.reload();
                }
            }
        );
    }


    function AdicionarComentario() {

        document.getElementById("btnConfirmAddComentario").classList.add("is-loading");

        var json = {
            id: document.getElementById("hiddenIdMarcacao").value,
            comentario: document.getElementById("txtComentario").value,
            fechar: document.getElementById('chkFechar').checked ? 1 : 0,
        };

        $.ajax({
            type: "POST",
            url: "/Pedidos/AdicionarComentario",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });
    }

    function ConfirmEnviarEmail(IdFolhaObra) {

        $("#hiddenFolhaObraId").val(IdFolhaObra);
        document.getElementById("btnEnviarMail_" + IdFolhaObra).classList.add("is-loading");

        var json = {
            id: IdFolhaObra
        };
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ObterEmailClienteFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    // alert(JSON.stringify(result));
                    document.getElementById("txtEmail").value = result;
                    var modal = Bulma('#modalEnviarFolhaObra').modal();
                    modal.open();
                    document.getElementById("btnEnviarMail_" + IdFolhaObra).classList.remove("is-loading");
                });
            }
        });
    }

    function EnviarEmail() {

        var idFolhaObra = document.getElementById("hiddenFolhaObraId").value;
        var emailDestino = document.getElementById("txtEmail").value;

        document.getElementById("btnEnviarMail_" + idFolhaObra).classList.add("is-loading");

        var json = {
            id: idFolhaObra,
            emailDestino: emailDestino
        };

        var modal = Bulma('#modalEnviarFolhaObra').modal();
        modal.close();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/EmailFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarMail_" + idFolhaObra).classList.remove("is-loading");

                    if (result == "Sucesso") {
                        bulmaToast.toast({
                          message: 'Email enviado com sucesso',
                          type: 'is-success',
                          closeOnClick: true,
                          pauseOnHover: true,
                          opacity: 0.8,
                          duration: 5000
                        })

                        var json = {
                            id: idFolhaObra,
                            novoemail: emailDestino
                        };
                        $.ajax({
                            type: "POST",
                            url: "/FolhasObra/AtualizarEmailClienteFolhaObra",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                });
                            }
                        });

                    } else {
                        bulmaToast.toast({
                          message: 'Ocorreu um erro!',
                          type: 'is-danger',
                          closeOnClick: true,
                          pauseOnHover: true,
                          opacity: 0.8,
                          duration: 5000
                        })
                    }

                });
            }
        });
    }


</script>
