@model FT_Management.Models.Marcacao


@{
    ViewData["Title"] = "Pedido - " + Model.Cliente.NomeCliente;
}

<div class="input-group mb-3">
    <h1 class="text-center col-lg-11">
        @Html.DisplayFor(model => model.Cliente.NomeCliente)
    </h1>
    <button class="btn btn-outline-secondary col-lg-1 float-right" onclick="location.href = '@(Url.Action("Cliente", "Clientes", new { IdCliente = @Model.Cliente.IdCliente, IdLoja = @Model.Cliente.IdLoja }))'" type="button" id="button-addon2"><i class="far fa-eye" style="margin-top:5px"></i></button>
</div>
<hr />


<div class="d-flex align-items-start" style="flex-grow: 1">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
        <a class="nav-link active" id="v-pills-equipamento-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dados</a>
        <a class="nav-link" id="v-pills-dados-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Folhas de Obra</a>
    </div>

    <div class="tab-content disabled col-lg-11" id="v-pills-tabContent" style="margin-left:auto">
        <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
                <div class="form-group col-lg-2">
                    <div class="form-group">
                        <label asp-for="IdMarcacao" class="control-label"></label>
                        <input asp-for="IdMarcacao" class="form-control" readonly id="IdEquipamento" />
                        <span asp-validation-for="IdMarcacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="Cliente.NomeCliente" class="control-label"></label>
                        <input asp-for="Cliente.NomeCliente" readonly class="form-control" />
                        <span asp-validation-for="Cliente.NomeCliente" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label asp-for="Cliente.MoradaCliente" class="control-label"></label>
                        <input asp-for="Cliente.MoradaCliente" readonly class="form-control" />
                        <span asp-validation-for="Cliente.MoradaCliente" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label class="control-label">Técnico</label>
                        <input asp-for="Tecnico.NomeCompleto" readonly class="form-control" />
                        <span asp-validation-for="Tecnico.NomeCompleto" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="DataCriacao" class="control-label"></label>
                        <input asp-for="DataCriacao" readonly class="form-control col-lg-12" />
                        <span asp-validation-for="DataCriacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="DataMarcacao" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="DataMarcacao" readonly class="form-control col-lg-8" type="date" />
                            <input asp-for="Hora" readonly class="form-control col-lg-4" type="time" />
                        </div>
                        <span asp-validation-for="DataMarcacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-3">
                    <div class="form-group">
                        <label asp-for="Referencia" class="control-label"></label>
                        <input asp-for="Referencia" readonly class="form-control" />
                        <span asp-validation-for="Referencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <div class="form-group">
                        <label asp-for="Periodo" class="control-label"></label>
                        <input asp-for="Periodo" readonly class="form-control" />
                        <span asp-validation-for="Periodo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <div class="form-group">
                        <label asp-for="PrioridadeMarcacao" class="control-label"></label>
                        <input asp-for="PrioridadeMarcacao" readonly class="form-control" />
                        <span asp-validation-for="PrioridadeMarcacao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-3">
                    <div class="form-group">
                        <label asp-for="TipoEquipamento" class="control-label"></label>
                        <input asp-for="TipoEquipamento" readonly class="form-control" />
                        <span asp-validation-for="TipoEquipamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-12">
                    <div class="form-group">
                        <span style="white-space: pre-line">@Model.ResumoMarcacao</span>
                        <span asp-validation-for="ResumoMarcacao" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            @if (Model.LstFolhasObra.Count() == 0)
            {
                <br />
                <button class="btn btn-lg btn-danger btn-block form-group disabled" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas folhas de obra!</button>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LstFolhasObra.First().DataServico)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LstFolhasObra.First().ClienteServico.NomeCliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LstFolhasObra.First().EquipamentoServico.NumeroSerieEquipamento)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LstFolhasObra)
                        {
                            <tr>
                                <td onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                    <span>@item.DataServico.ToString("dd/MM/yyyy")</span>
                                </td>
                                <td onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                    @Html.DisplayFor(modelItem => item.ClienteServico.NomeCliente)
                                </td>
                                <td onclick="location.href = '@(Url.Action("Detalhes", "FolhasObra", new { id = item.IdFolhaObra }))'">
                                    @Html.DisplayFor(modelItem => item.EquipamentoServico.NumeroSerieEquipamento)
                                </td>
                                <td>
                                    <div class="btn-group float-right">
                                        <a class="btn btn-outline-dark btn-lg" onclick="window.open('@Url.Action("Print", "FolhasObra", new { id = item.IdFolhaObra, target="_blank" })')"><i class="fas fa-sticky-note" style="font-size:20px"></i></a>
                                        <a class="btn btn-outline-success btn-lg" onclick="window.open('@Url.Action("PrintFolhaObra", "FolhasObra", new { id = item.IdFolhaObra, target="_blank"})')"><i class="fas fa-print" style="font-size:20px"></i></a>
                                        <a class="btn btn-outline-primary btn-lg" onclick="ConfirmEnviarEmail(@item.IdFolhaObra)" id="btnEnviarMail_@item.IdFolhaObra">
                                            <i class="fas fa-paper-plane" style="font-size:20px"></i><span class="spinner-border text-primary float-right" style="display:none" id="folha_@item.IdFolhaObra" role="status" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>


<script>
    

    var ConfirmEnviarEmail = function (IdFolhaObra) {
        $("#hiddenFolhaObraId").val(IdFolhaObra);
        var json = {
            id: IdFolhaObra
        };
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ObterEmailClienteFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    // alert(JSON.stringify(result));
                    document.getElementById("txtEmail").value = result;
                });
            }
        });
        $("#myModal2").modal('show');

    }

    function EnviarEmail() {

        var idCartao = document.getElementById("hiddenFolhaObraId").value;
        var emailDestino = document.getElementById("txtEmail").value;

        document.getElementById("folha_" + idCartao).style.display = '';
        document.getElementById("btnEnviarMail_" + idCartao).classList.add("disabled");


        var json = {
            id: idCartao,
            emailDestino: emailDestino
        };

        $('#myModal2').modal('toggle');
        $('#myModal2')
            .find("input,textarea,select")
            .val('')
            .end();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/EmailFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("folha_" + idCartao).style.display = 'none';
                    document.getElementById("btnEnviarMail_" + idCartao).classList.remove("disabled");

                    if (result == "Sucesso") {
                        $.notify({
                            message: "Email enviado com sucesso!"
                        }, {
                            // settings
                            type: 'success',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });

                        var json = {
                            id: idCartao,
                            novoemail: emailDestino
                        };
                        $.ajax({
                            type: "POST",
                            url: "/FolhasObra/AtualizarEmailClienteFolhaObra",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                });
                            }
                        });

                    } else {
                        $.notify({
                            message: "Ocorreu um erro!"
                        }, {
                            // settings
                            type: 'danger',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });
                    }

                });
            }
        });
    }



</script>
