@model FT_Management.Models.Cliente

@{
    ViewData["Title"] = "Cliente - " + Model.NomeCliente;
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

    .tabs-content li.is-active {
        display: block;
    }
</style>

<div class="container">
    <div class="columns is-multiline is-centered">
        <div class="column is-8">
            <div class="tile is-centered">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-user-tie"></i>
                            </span>
                            <span>@Model.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="tile is-centered">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification @(Model.Contrato ? "is-info" : "is-warning")">
                        <p class="title has-text-centered">
                            <span>@(Model.Contrato ? "CONTRATO" : "FORA CONTRATO")</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container">
        <div class="tabs-wrapper">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span>Dados</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Marcações</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Intervenções</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Visitas</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Propostas</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Equipamentos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-content mx-2">
                <ul>
                    <li class="is-active">
                        <div class="columns is-multiline">
                            <div class="column is-2">
                                <div class="field">
                                    <label asp-for="IdCliente" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" readonly
                                            value="@Model.IdCliente - @Model.IdLoja">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-2">
                                <div class="field">
                                    <label asp-for="NomeCliente" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="NomeCliente">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-5">
                                <label asp-for="MoradaCliente" class="label"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input class="input is-fullwidth" type="text" readonly asp-for="MoradaCliente">
                                    </div>
                                    <a href="@Utilizador.ObterLinkMapa(Model, User.Claims.Where(u => u.Type.Contains("userdata")).First().Value)"
                                        target="_blank" class="button is-primary" @(Model.MoradaCliente.Length < 2 ?
                                        "disabled" : "")><i class="fas fa-location-arrow"></i></a>
                                </div>
                            </div>
                            <div class="column is-3">
                                <label asp-for="Senha" class="label"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input class="input is-fullwidth" type="text" readonly asp-for="Senha"
                                            id="txtSenha">
                                    </div>
                                    <button type="button" onclick="GerarSenha('@Model.ClienteStamp')"
                                        class="button is-primary"><i class="fas fa-rotate"></i></button>
                                    <div class="control">
                                        <a class="button is-info"
                                            onclick="Bulma('#modalEnviarEmailCliente').modal().open()">
                                            <i class="fa-solid fa-share"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label asp-for="NumeroContribuinteCliente" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" id="IdVisita" readonly
                                            asp-for="NumeroContribuinteCliente">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <label asp-for="EmailCliente" class="label"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input class="input" type="text" readonly asp-for="EmailCliente">
                                    </div>
                                    <a href="mailto:@Model.EmailCliente" target="_blank" class="button is-info"
                                    @(Model.EmailCliente.Length < 5 ? "disabled" : "")><i
                                            class="fas fa-envelope"></i></a>
                                </div>
                            </div>
                            <div class="column is-3">
                                <label asp-for="TelefoneCliente" class="label"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input class="input" type="text" readonly asp-for="TelefoneCliente">
                                    </div>
                                    <a href="tel:@Model.TelefoneCliente" target="_blank"
                                        class="button is-success is-outlined" @(Model.TelefoneCliente.Length < 9 ?
                                        "disabled" : "")><i class="fas fa-phone"></i></a>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label asp-for="PessoaContatoCliente" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" readonly asp-for="PessoaContatoCliente">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            @if (Model.Marcacoes.Count() == 0)
                            {
                                <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram
                                    encontradas marcações!</button>
                            }
                            else
                            {
                                <div class="b-table">
                                    <div class="table-wrapper has-mobile-cards">
                                        <table class="table is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Marcacoes.FirstOrDefault().IdMarcacao)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Marcacoes.FirstOrDefault().DataMarcacao)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Marcacoes.FirstOrDefault().Utilizador)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Marcacoes.FirstOrDefault().EstadoMarcacaoDesc)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Marcacoes)
                                                {
                                                    <tr>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Marcacoes.FirstOrDefault().IdMarcacao)"
                                                            onclick="window.open('@(Url.Action("Pedido", "Pedidos",  new { id = item.IdMarcacao, IdTecnico = item.IdTecnico, target="_blank" }))')">
                                                            <span>@item.IdMarcacao</span>
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Marcacoes.FirstOrDefault().DataMarcacao)"
                                                            onclick="window.open('@(Url.Action("Pedido", "Pedidos",  new { id = item.IdMarcacao, IdTecnico = item.IdTecnico, target="_blank" }))')">
                                                            <span>@item.DataMarcacao.ToShortDateString()</span>
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Marcacoes.FirstOrDefault().Utilizador)"
                                                            onclick="window.open('@(Url.Action("Pedido", "Pedidos",  new { id = item.IdMarcacao, IdTecnico = item.IdTecnico, target="_blank" }))')">
                                                            @Html.DisplayFor(modelItem => item.Tecnico.NomeCompleto)

                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Marcacoes.FirstOrDefault().EstadoMarcacaoDesc)"
                                                            onclick="window.open('@(Url.Action("Pedido", "Pedidos",  new { id = item.IdMarcacao, IdTecnico = item.IdTecnico, target="_blank" }))')">
                                                            @Html.DisplayFor(modelItem => item.EstadoMarcacaoDesc)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            @if (Model.FolhasObra.Count() == 0)
                            {
                                <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram
                                    encontradas intervenções!</button>
                            }
                            else
                            {
                                <div class="b-table">
                                    <div class="table-wrapper has-mobile-cards">
                                        <table class="table is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.FolhasObra.FirstOrDefault().IdFolhaObra)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.FolhasObra.FirstOrDefault().EquipamentoServico.MarcaEquipamento)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.FolhasObra.FirstOrDefault().EquipamentoServico.NumeroSerieEquipamento)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.FolhasObra.FirstOrDefault().DataServico)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.FolhasObra)
                                                {
                                                    <tr>
                                                        <td data-label="@Html.DisplayNameFor(model => model.FolhasObra.FirstOrDefault().IdFolhaObra)"
                                                            onclick="window.open('@(Url.Action("FolhaObra", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                                                            <span>@item.IdFolhaObra</span>
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.FolhasObra.FirstOrDefault().EquipamentoServico.MarcaEquipamento)"
                                                            onclick="window.open('@(Url.Action("FolhaObra", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                                                            @Html.DisplayFor(modelItem =>
                                                    item.EquipamentoServico.MarcaEquipamento) -
                                                            @Html.DisplayFor(modelItem =>
                                                    item.EquipamentoServico.ModeloEquipamento)

                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.FolhasObra.FirstOrDefault().EquipamentoServico.NumeroSerieEquipamento)"
                                                            onclick="window.open('@(Url.Action("FolhaObra", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                                                            @Html.DisplayFor(modelItem =>
                                                    item.EquipamentoServico.NumeroSerieEquipamento)
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.FolhasObra.FirstOrDefault().DataServico)"
                                                            onclick="window.open('@(Url.Action("FolhaObra", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                                                            <span>@item.DataServico.ToShortDateString()</span>
                                                        </td>
                                                        <td class="is-actions-cell">
                                                            <a class="button is-outlined is-fullwidth is-primary"
                                                                onclick="window.open('@Url.Action("Documento", "FolhasObra", new { id = item.IdFolhaObra})')"><i
                                                                    class="fas fa-print" style="font-size:20px"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            @if (Model.Visitas.Count() == 0)
                            {
                                <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram
                                    encontradas visitas!</button>
                            }
                            else
                            {
                                <div class="b-table">
                                    <div class="table-wrapper has-mobile-cards">
                                        <table class="table is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().IdVisita)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().DataVisita)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().ObsVisita)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().EstadoVisita)
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Visitas)
                                                {
                                                    <tr>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().IdVisita)"
                                                            onclick="window.open('@(Url.Action("Visita", "Visitas", new { idVisita = item.IdVisita, ReturnUrl = "~/Clientes/Cliente/?IdCliente=" + Model.IdCliente + "&IdLoja=" + Model.IdLoja,  target="_blank" }))')">
                                                            <span>@item.IdVisita</span>
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().DataVisita)"
                                                            onclick="window.open('@(Url.Action("Visita", "Visitas", new { idVisita = item.IdVisita, ReturnUrl = "~/Clientes/Cliente/?IdCliente=" + Model.IdCliente + "&IdLoja=" + Model.IdLoja,  target="_blank" }))')">
                                                            <span>@item.DataVisita.ToShortDateString()</span>

                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().ObsVisita)"
                                                            onclick="window.open('@(Url.Action("Visita", "Visitas", new { idVisita = item.IdVisita, ReturnUrl = "~/Clientes/Cliente/?IdCliente=" + Model.IdCliente + "&IdLoja=" + Model.IdLoja,  target="_blank" }))')">
                                                            <span>@item.ObsVisita</span>
                                                        </td>
                                                        <td data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().EstadoVisita)"
                                                            onclick="window.open('@(Url.Action("Visita", "Visitas", new { idVisita = item.IdVisita, ReturnUrl = "~/Clientes/Cliente/?IdCliente=" + Model.IdCliente + "&IdLoja=" + Model.IdLoja,  target="_blank" }))')">
                                                            <span>@item.EstadoVisita</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            @if (Model.Visitas.Count() == 0 || !(Model.Visitas.Any(v => v.Propostas.Count > 0)))
                            {
                                <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram
                                    encontradas propostas!</button>
                            }
                            else
                            {
                                <div class="b-table">
                                    <div class="table-wrapper has-mobile-cards">
                                        <table class="table is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().IdProposta)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().DataProposta)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().ValorProposta)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().EstadoProposta)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var visita in Model.Visitas)
                                                {
                                                    foreach (var item in visita.Propostas)
                                                    {
                                                        <tr>
                                                            <td
                                                                data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().IdProposta)">
                                                                <span>@item.IdProposta</span>
                                                            </td>
                                                            <td
                                                                data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().DataProposta)">
                                                                <span>@item.DataProposta.ToShortDateString()</span>

                                                            </td>
                                                            <td
                                                                data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().ValorProposta)">
                                                                <span>@item.ValorProposta €</span>
                                                            </td>
                                                            <td
                                                                data-label="@Html.DisplayNameFor(model => model.Visitas.FirstOrDefault().Propostas.FirstOrDefault().EstadoProposta)">
                                                                <span>@item.EstadoProposta</span>
                                                            </td>
                                                            <td class="is-actions-cell">
                                                                <a class="button is-outlined is-fullwidth is-primary"
                                                                    onclick="@item.UrlProposta"><i class="fas fa-print"
                                                                        style="font-size:20px"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            @if (Model.Equipamentos.Count() == 0)
                            {
                                <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram
                                    encontrados equipamentos!</button>
                            }
                            else
                            {
                                <div class="b-table">
                                    <div class="table-wrapper has-mobile-cards">
                                        <table class="table is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Equipamentos.FirstOrDefault().MarcaEquipamento)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Equipamentos.FirstOrDefault().ModeloEquipamento)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model =>
                                                    model.Equipamentos.FirstOrDefault().NumeroSerieEquipamento)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Equipamentos)
                                                {
                                                    <tr
                                                        onclick="window.open('@(Url.Action("Detalhes", "Equipamentos", new { id = item.EquipamentoStamp }))')">
                                                        <td
                                                            data-label="@Html.DisplayNameFor(model => model.Equipamentos.FirstOrDefault().MarcaEquipamento)">
                                                            <span>@item.MarcaEquipamento</span>

                                                        </td>
                                                        <td
                                                            data-label="@Html.DisplayNameFor(model => model.Equipamentos.FirstOrDefault().ModeloEquipamento)">
                                                            <span>@item.ModeloEquipamento</span>
                                                        </td>
                                                        <td
                                                            data-label="@Html.DisplayNameFor(model => model.Equipamentos.FirstOrDefault().NumeroSerieEquipamento)">
                                                            <span>@item.NumeroSerieEquipamento</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

<div class="modal" id="modalEnviarEmailCliente">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Enviar Email</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Tem a certeza que deseja enviar um email para o cliente com os dados de login da WebApp?</p>
            <div class="field" style="width:100%">
                <div class="control"><input type="email" class="input" id="txtEmailCliente" value="@Model.EmailCliente">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button id="btnEnviarEmailCliente" type="button" class="button is-info is-large is-fullwidth"
                onclick="EnviarEmailCliente(@Model.IdCliente, @Model.IdLoja, document.getElementById('txtEmailCliente').value)"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar</span>
            </button>
        </footer>
    </div>
</div>

<script>
    function EnviarEmailCliente(id, loja, email) {

        document.getElementById("btnEnviarEmailCliente").classList.add("is-loading");

        $.ajax({
            type: "POST",
            url: "/Clientes/EmailSenha/" + id + "?loja=" + loja + "&email=" + email,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarEmailCliente").classList.remove("is-loading");
                    if (result == "1") {
                        notify('Email enviado com sucesso!')
                    } else {
                        notifyError('Ocorreu um erro ao enviar o email com a senha do cliente!')
                    }

                });
            }
        });
        Bulma('#modalEnviarEmailCliente').modal().close();
    }

    function GerarSenha(stamp) {
        $.ajax({
            type: "POST",
            url: "/Clientes/Senha/" + stamp,
            traditional: true,
            success: function (result) {
                if (result != "") {
                    $(function () {
                        document.getElementById("txtSenha").value = result;
                        notify('Senha gerada  com sucesso!');
                        window.location.reload();
                    });
                } else {
                    $(function () {
                        notifyError('Não foi possivel gerar a senha!');
                    });
                }
            }
        });
    }
</script>