@model IEnumerable<FT_Management.Models.Cliente>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;

@{
    ViewData["Title"] = "Clientes";
}
<table width="100%">
    <tr>
        <td class="col-lg-8">
            <h1>Listagem de Clientes</h1>
        </td>
        <td class="col-lg-4" style="margin-bottom:5px;">
            <form asp-action="Index" method="get">
                <div class="input-group" style="margin-left:auto; margin-right:0;">
                    <input type="text" style="min-width: 100px" class="form-control" placeholder="Nome do Cliente" aria-label="Nome do Cliente" aria-describedby="button-addon4" name="Nome" value="@ViewData["Nome"]">
                    <button type="submit" class="btn btn-primary float-lg-right">
                        <i class="fas fa-search fa-lg"></i>
                    </button>
                    <a asp-action="Index" class="btn btn-secondary float-lg-right"><i class="fas fa-backspace"></i></a>
                </div>
            </form>
        </td>

    </tr>
</table>
<br />
@if (Model.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas folhas de obra!</button>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefoneCliente)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td onclick="window.open('@(Url.Action("Cliente", "Clientes", new { IdCliente = item.IdCliente, IdLoja = item.IdLoja, target="_blank" }))')">
                        <span>@item.IdCliente - @item.IdLoja</span>
                    </td>
                    <td onclick="window.open('@(Url.Action("Cliente", "Clientes", new { IdCliente = item.IdCliente, IdLoja = item.IdLoja, target="_blank" }))')">
                        @Html.DisplayFor(modelItem => item.NomeCliente)
                    </td>
                    <td onclick="window.open('@(Url.Action("Cliente", "Clientes", new { IdCliente = item.IdCliente, IdLoja = item.IdLoja, target="_blank" }))')">
                        @Html.DisplayFor(modelItem => item.TelefoneCliente)
                    </td>
                    <td>
                        <div class="btn-group float-right">
                            <a class="btn btn-info btn-lg text-black-50 @(item.TelefoneCliente.Length < 9 ? "disabled" : "")" href="tel:@item.TelefoneCliente"><i class="fas fa-phone-alt float-left" style="margin-top:5px"></i></a>
                            <a class="btn btn-success btn-lg text-black-50" href="https://maps.google.com/?daddr=@item.MoradaCliente"><i class="fas fa-location-arrow float-left" style="margin-top:5px"></i></a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Clientes", new { page, Nome = @ViewData["Nome"] }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)

