@model IEnumerable<FT_Management.Models.Encomenda>

@{
    ViewData["Title"] = "Encomendas";
}

<div class="columns is-gapless">
    <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced has-background-danger-light">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="fa-solid fa-calendar-xmark"></i></span>
                    Em Atraso
                </p>
            <a class="card-header-icon button is-info m-1 is-disabled">@Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.ATRASO)).Count()</a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                        @if (Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.ATRASO)).Count() == 0)
                        {
                            <button class="button is-rounded is-fullwidth" disabled>Não foram encontradas encomendas!</button>
                        }
                        else
                        {
                            <table class="table is-fullwidth has-background-danger-light">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                    </tr>
                                </thead>
                                    @foreach (var item in Model)
                                    {
                                        if (@item.Total && item.DataEnvio <= DateTime.Now.AddDays(-1) && item.DataEnvio.Year > 1900)
                                        {
                                            <tr class="lista-toggle" style="font-weight:bold">
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)">@(DateTime.Now.Subtract(item.DataEnvio).Days)</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                            </td>
                                            </tr>
                                            <tbody class="detail is-hidden">
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    @foreach (var linha in item.LinhasEncomenda)
                                                    {
                                                        <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                            <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                            <td data-label="Designação" colspan="3">@linha.Produto.Designacao_Produto</td>
                                                            <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                        </tr>
                                                    }
                                        </tbody>
                                        }
                                        else
                                        {
                                            foreach (var linha in item.LinhasEncomenda.Where(e => e.DataEnvio <= DateTime.Now.AddDays(-1) && e.DataEnvio.Year > 1900 && !e.Total && !e.Fornecido).ToList())
                                            {

                                                <tr class="lista-toggle" style="font-weight:bold">
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@linha.IdEncomenda</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@linha.NomeCliente</td>
                                                     <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)">@(DateTime.Now.Subtract(linha.DataEnvio).Days)</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@linha.Produto.Stock_Fisico</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                                </tr>
                                                <tbody class="detail is-hidden">
                                                    @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                        <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                        <td data-label="Designação" colspan="3">@linha.Produto.Designacao_Produto</td>
                                                        <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                    </tr>
                                            </tbody>

                                            }
                                        }
                                    }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced has-background-success-light">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="fa-solid fa-calendar-day"></i></span>
                    Hoje
                </p>
            <a class="card-header-icon button is-info m-1 is-disabled">@Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.HOJE)).Count()</a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                         @if (Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.HOJE)).Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas encomendas!</button>
                        }
                        else
                        {
                            <table class="table is-fullwidth has-background-success-light">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                    </tr>
                                </thead>
                                    @foreach (var item in Model)
                                    {
                                        if (@item.Total && item.DataEnvio.ToShortDateString() == DateTime.Now.ToShortDateString())
                                        {
                                            <tr class="lista-toggle" style="font-weight:bold">
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                             </tr>
                                             <tbody class="detail is-hidden">
                                                 @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    @foreach (var linha in item.LinhasEncomenda)
                                                    {
                                                        <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                            <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                            <td data-label="Designação" colspan="2">@linha.Produto.Designacao_Produto</td>
                                                            <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                        </tr>
                                                    }
                                                    
                                            </tbody>
                                        }
                                        else
                                        {
                                            foreach (var linha in item.LinhasEncomenda.Where(e => e.DataEnvio.ToShortDateString() == DateTime.Now.ToShortDateString() && !e.Total && !e.Fornecido).ToList())
                                            {
                                                <tr class="lista-toggle" style="font-weight:bold">
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@linha.IdEncomenda</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@linha.NomeCliente</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@linha.Produto.Stock_Fisico</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                                </tr>
                                                <tbody class="detail is-hidden">
                                                    @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                        <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                        <td data-label="Designação" colspan="2">@linha.Produto.Designacao_Produto</td>
                                                        <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                    </tr>
                                            </tbody>
                                            }
                                        }
                                    }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced has-background-warning-light">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="fa-solid fa-calendar-week"></i></span>
                    Amanhã
                </p>
            <a class="card-header-icon button is-info m-1 is-disabled">@Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.AMANHA)).Count()</a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                        @if (Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.AMANHA)).Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas encomendas!</button>
                        }
                        else
                        {
                            <table class="table is-fullwidth has-background-warning-light">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                    </tr>
                                </thead>
                                    @foreach (var item in Model)
                                    {
                                        if (@item.Total && item.DataEnvio.ToShortDateString() == DateTime.Now.AddDays(1).ToShortDateString())
                                        {
                                            <tr class="lista-toggle" style="font-weight:bold">
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                            </tr>
                                            <tbody class="detail is-hidden">
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    @foreach (var linha in item.LinhasEncomenda)
                                                    {
                                                        <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                            <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                            <td data-label="Designação" colspan="2">@linha.Produto.Designacao_Produto</td>
                                                            <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                        </tr>
                                                    }
                                            </tbody>
                                        }
                                        else
                                        {
                                            foreach (var linha in item.LinhasEncomenda.Where(e => e.DataEnvio.ToShortDateString() == DateTime.Now.AddDays(1).ToShortDateString() && !e.Total && !e.Fornecido).ToList())
                                            {
                                                <tr class="lista-toggle" style="font-weight:bold">
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@linha.IdEncomenda</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@linha.NomeCliente</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@linha.Produto.Stock_Fisico</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                                </tr>
                                                <tbody class="detail is-hidden">
                                                    @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                        <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                        <td data-label="Designação" colspan="2">@linha.Produto.Designacao_Produto</td>
                                                        <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                    </tr>
                                            </tbody>
                                            }
                                        }
                                    }
                            </table>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced">
            <header class="card-header">
                <p class="card-header-title">
                    <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                    Próximos
                </p>
            <a class="card-header-icon button is-info m-1 is-disabled">@Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.FUTURO)).Count()</a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                        @if (Model.Where(e => e.ExisteEncomenda(Encomenda.Tipo.FUTURO)).Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas encomendas!</button>
                        }
                        else
                        {
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                    </tr>
                                </thead>
                                    @foreach (var item in Model)
                                    {
                                        if (@item.Total && item.DataEnvio >= DateTime.Now.AddDays(1))
                                        {
                                            <tr class="lista-toggle" style="font-weight:bold">
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)">@(item.DataEnvio.Subtract(DateTime.Now).Days + 1)</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                            </tr>
                                            <tbody class="detail is-hidden">
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                @foreach (var linha in item.LinhasEncomenda)
                                                {
                                                    <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                        <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                        <td data-label="Designação" colspan="3">@linha.Produto.Designacao_Produto</td>
                                                        <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                    </tr>
                                                    }
                                            </tbody>
                                        }
                                        else
                                        {
                                            foreach (var linha in item.LinhasEncomenda.Where(e => e.DataEnvio >= DateTime.Now.AddDays(1) && !e.Total && !e.Fornecido).ToList())
                                            {
                                                <tr class="lista-toggle" style="font-weight:bold">
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@linha.IdEncomenda</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@linha.NomeCliente</td>
                                                     <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().DataEnvio)">@(linha.DataEnvio.Subtract(DateTime.Now).Days + 1)</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@linha.Produto.Stock_Fisico</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)" style="width:100%">
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                    </span>
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                    </span>
                                                    @if (item.Prioritario)
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-clock"></i>
                                                    </span>
                                                }
                                                @if (!string.IsNullOrEmpty(item.Obs))
                                                {
                                                    <span class="icon  mr-2">
                                                        <i class="fa-solid fa-comment"></i>
                                                    </span>
                                                }
                                                </td>
                                                </tr>
                                                <tbody class="detail is-hidden">
                                                    @if (!string.IsNullOrEmpty(item.Obs))
                                                    {
                                                        <tr>
                                                            <td data-label="Observações" colspan="5"><p class="title is-6" style="font-style:italic">@item.Obs</p></td>
                                                        </tr>
                                                    }
                                                    <tr onclick="window.open('@(Url.Action("Produto", "Produtos", new { id = linha.Produto.Ref_Produto, target="_blank" }))')">
                                                        <td data-label="Referência">@linha.Produto.Ref_Produto</td>
                                                        <td data-label="Designação" colspan="3">@linha.Produto.Designacao_Produto</td>
                                                        <td data-label="Quantidade">@linha.Produto.Stock_Fisico</td>
                                                    </tr>
                                                    
                                            </tbody>
                                            }
                                        }
                                    }
                            </table>
                        }                    
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
    let cardToggles = document.getElementsByClassName('lista-toggle');
    for (let i = 0; i < cardToggles.length; i++) {
        cardToggles[i].addEventListener('click', e => {
            e.currentTarget.parentElement.nextElementSibling.classList.toggle('is-hidden');
        });
    }
    });
</script>