@model IEnumerable<FT_Management.Models.Utilizador>

@{
    ViewData["Title"] = "Marcações";
}

<link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />

<div class="columns is-multiline">
    <div class="column is-9">
        <div class="card">
            <div class="card-content p-4">
                <div class="media">
                    <div class="media-content">
                        <div class="columns">
                            <div class="column is-4 title is-size-3">
                                <button class="button is-info title is-size-2 is-fullwidth mb-4 is-rounded">
                                    Últimos 7 Dias
                                </button>
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Atribuidas: <b>@ViewData["TotaisSemana"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@ViewData["FinalizadosSemana"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendente: <b>@(int.Parse(ViewData["TotaisSemana"].ToString()) - int.Parse(ViewData["FinalizadosSemana"].ToString()))</b><br />
                                &nbsp;
                                <div class="progress-container">
                                    <progress class="progress is-info is-large" max="@ViewData["TotaisSemana"]" value="@ViewData["FinalizadosSemana"]"></progress>
                                </div>
                            </div>
                            <div class="column is-4 title is-size-3">
                                <button class="button is-info title is-size-2 is-fullwidth mb-4 is-rounded">
                                    30 Dias
                                </button>
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Finalizados: <b>@ViewData["Finalizados30"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@ViewData["Pendentes30"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-check"></i></span>Percentagem: <b>@(int.Parse(ViewData["Finalizados30"].ToString()) * 100 / (int.Parse(ViewData["Finalizados30"].ToString()) + int.Parse(ViewData["Pendentes30"].ToString()))) %</b><br />
                                &nbsp;
                                <div class="progress-container">
                                    <progress class="progress is-info is-large" max="@(int.Parse(ViewData["Finalizados30"].ToString()) + int.Parse(ViewData["Pendentes30"].ToString()))" value="@ViewData["Finalizados30"]"></progress>
                                </div>
                            </div>
                            <div class="column is-4 title is-size-3">
                                <button class="button is-info title is-size-2 is-fullwidth mb-4 is-rounded">
                                    90 Dias
                                </button>
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Finalizados: <b>@ViewData["Finalizados90"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@ViewData["Pendentes90"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-check"></i></span>Percentagem: <b>@(int.Parse(ViewData["Finalizados90"].ToString()) * 100 / (int.Parse(ViewData["Finalizados90"].ToString()) + int.Parse(ViewData["Pendentes90"].ToString()))) %</b><br />
                                &nbsp;
                                <div class="progress-container">
                                    <progress class="progress is-info is-large" max="@(int.Parse(ViewData["Finalizados90"].ToString()) + int.Parse(ViewData["Pendentes90"].ToString()))" value="@ViewData["Finalizados90"]"></progress>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card" style="height:100%">
            <div class="card-content p-4">
                <div class="media">
                    <div class="media-content">
                        <div class="columns">
                            <div class="column">
                                <button class="button is-warning title is-size-2 is-fullwidth is-rounded mb-5">
                                    Pendentes
                                </button>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12 title is-size-3">
                                <span class="icon mr-3"><i class="fa-solid fa-screwdriver-wrench"></i></span>Orçamento: <b>@ViewData["Orcamento"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-file-invoice"></i></span>Peças: <b>@ViewData["Pecas"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-building"></i></span>Em Oficina: <b>@ViewData["Oficina"]</b><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        @foreach (Utilizador u in Model)
        {
            <div class="column is-3">
                <div class="card" style="height:100%">
                    <div class="card-content p-4">
                        <div class="media">
                            <div class="columns">
                                <div class="column is-3">
                                    <figure class="image is-48x48">
                                        <img class="is-rounded" src="@u.ImgUtilizador" alt="user">
                                    </figure>
                                </div>
                                <div class="column is-10">
                                        <p class="title is-size-3">
                                            @u.NomeCompleto
                                            <button class="my-1 button is-danger is-small is-rounded is-hidden" hidden type="button">
                                                Em
                                                Curso: @(u.MarcacaoCurso.Cliente != null ? u.MarcacaoCurso.Cliente.NomeCliente : "-------------")
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="columns is-size-4">
                                <div class="column is-4 ">
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Agendado: <b>@(u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count())</b><br />
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count()</b><br />
                                    <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count()</b><br />
                                    &nbsp;
                                    <div class="progress-container">
                                        <progress class="progress is-info is-large" data-max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count())" max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count())" value="@u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count()"></progress>
                                    </div>
                                </div>
                                <div class="column is-4">
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Agendado: <b>@(u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count())</b><br />
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count()</b><br />
                                    <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count()</b><br />
                                    &nbsp;
                                    <div class="progress-container">
                                        <progress class="progress is-info is-large" data-max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count())" max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count())" value="@u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count()"></progress>
                                    </div>
                                </div>
                                <div class="column is-4">
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Agendado: <b>@(u.ObterMarcacoes(DateTime.Now, false).Count() + u.ObterMarcacoes(DateTime.Now, true).Count())</b><br />
                                    <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now, true).Count()</b><br />
                                    <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@u.ObterMarcacoes(DateTime.Now, false).Count()</b><br />
                                    &nbsp;
                                    <div class="progress-container">
                                        <progress class="progress is-info is-large" data-max="@(u.ObterMarcacoes(DateTime.Now, false).Count() + u.ObterMarcacoes(DateTime.Now, true).Count())" max="@(u.ObterMarcacoes(DateTime.Now, false).Count() + u.ObterMarcacoes(DateTime.Now, true).Count())" value="@u.ObterMarcacoes(DateTime.Now, true).Count()"></progress>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        }
    </div>
</div>

<script>
    document.querySelectorAll('progress').forEach(element => {
        var p = element.value * 100 / element.max;

        if (p == 0 && element.dataset.max == 0) {
            element.value = 1;
            element.max = 1;
            p = 100;
        }
        if (p >= 95) {
            element.classList.add('is-success');
        } else if (p >= 90) {
            element.classList.add('is-warning');
        } else {
            element.classList.add('is-danger');
        }
    });
</script>
