@model IEnumerable<FT_Management.Models.Utilizador>

@{
    ViewData["Title"] = "Marcações";
}

<div class="columns is-multiline">
    <div class="column is-9">
        <div class="card">
            <div class="card-content p-4">
                <div class="media">
                    <div class="media-content">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-size-1">
                                    DASHBOARD - Últimos 7 Dias
                                </p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-4 title is-size-3">
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Atribuidas: <b>@ViewData["TotaisSemana"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@ViewData["FinalizadosSemana"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendente: <b>@(int.Parse(ViewData["TotaisSemana"].ToString()) - int.Parse(ViewData["FinalizadosSemana"].ToString()))</b><br />
                                &nbsp;
                                <div class="progress-container">
                                    <progress class="progress is-info is-large" max="@ViewData["TotaisSemana"]" value="@ViewData["FinalizadosSemana"]"></progress>
                                </div>
                            </div>
                            <div class="column is-4 title is-size-3">
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Finalizados: <b>@ViewData["Finalizados"]</b><br />
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendentes: <b>@ViewData["Pendentes"]</b><br />
                                <br />
                                &nbsp;
                                <div class="progress-container">
                                    <progress class="progress is-info is-large" max="@(int.Parse(ViewData["Finalizados"].ToString()) + int.Parse(ViewData["Pendentes"].ToString()))" value="@ViewData["Finalizados"]"></progress>
                                </div>
                            </div>
                            <div class="column is-4 title is-size-3">
                                <span class="icon mr-3"><i class="fa-regular fa-calendar-check"></i></span>Todos: <b>@(int.Parse(ViewData["Finalizados"].ToString()) * 100 / (int.Parse(ViewData["Finalizados"].ToString()) + int.Parse(ViewData["Pendentes"].ToString()))) %</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Últimos 7 dias: <b>@(int.Parse(ViewData["FinalizadosSemana"].ToString()) * 100 / int.Parse(ViewData["TotaisSemana"].ToString())) %</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-3">
        <div class="card" style="height:100%">
            <div class="card-content p-4">
                <div class="media">
                    <div class="media-content">
                        <div class="columns">
                            <div class="column">
                                <p class="title is-size-1">
                                    Pendentes
                                </p>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-12 title is-size-3">
                                <span class="icon mr-3"><i class="fa-solid fa-screwdriver-wrench"></i></span>Orçamento: <b>@ViewData["Orcamento"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-file-invoice"></i></span>Peças: <b>@ViewData["Pecas"]</b><br />
                                <span class="icon mr-3"><i class="fa-solid fa-building"></i></span>Em Oficina: <b>@ViewData["Oficina"]</b><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-multiline">
        @foreach (Utilizador u in Model)
        {
            <div class="column is-3">
                <div class="card" style="height:100%">
                    <div class="card-content p-4">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="@u.ImgUtilizador" alt="user">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="columns">
                                    <div class="column">
                                        <p class="title is-size-3">
                                            @u.NomeCompleto
                                            <button class="my-1 button is-danger is-small is-rounded is-hidden" hidden type="button">
                                                Em
                                                Curso: @(u.MarcacaoCurso.Cliente != null ? u.MarcacaoCurso.Cliente.NomeCliente : "-------------")
                                            </button>
                                        </p>
                                    </div>
                                </div>
                                <div class="columns is-size-4">
                                    <div class="column is-4 ">
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Atribuidas: <b>@(u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count())</b><br />
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count()</b><br />
                                        <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendente: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count()</b><br />
                                        &nbsp;
                                        <div class="progress-container">
                                            <progress class="progress is-info is-large" max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-2), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count())" value="@u.ObterMarcacoes(DateTime.Now.AddDays(-2), true).Count()"></progress>
                                        </div>
                                    </div>
                                    <div class="column is-4">
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Atribuidas: <b>@(u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count())</b><br />
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count()</b><br />
                                        <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendente: <b>@u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count()</b><br />
                                        &nbsp;
                                        <div class="progress-container">
                                            <progress class="progress is-info is-large" max="@(u.ObterMarcacoes(DateTime.Now.AddDays(-1), false).Count() + u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count())" value="@u.ObterMarcacoes(DateTime.Now.AddDays(-1), true).Count()"></progress>
                                        </div>
                                    </div>
                                    <div class="column is-4">
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-day"></i></span>Atribuidas: <b>@(u.ObterMarcacoes(DateTime.Now, false).Count() + u.ObterMarcacoes(DateTime.Now, true).Count())</b><br />
                                        <span class="icon mr-3"><i class="fa-solid fa-calendar-check"></i></span>Concluidas: <b>@u.ObterMarcacoes(DateTime.Now, true).Count()</b><br />
                                        <span class="icon mr-3"><i class="fa-regular fa-calendar-xmark"></i></span>Pendente: <b>@u.ObterMarcacoes(DateTime.Now, false).Count()</b><br />
                                        &nbsp;
                                        <div class="progress-container">
                                            <progress class="progress is-info is-large" max="@(u.ObterMarcacoes(DateTime.Now, false).Count() + u.ObterMarcacoes(DateTime.Now, true).Count())" value="@u.ObterMarcacoes(DateTime.Now, true).Count()"></progress>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<script>
   
</script>
