@model IEnumerable<FT_Management.Models.Utilizador>

@{
  ViewData["Title"] = "Utilizadores";
}

<style>
  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
</style>

<div class='columns is-centered is-multiline'>
  @foreach (var u in Model)
  {
    <div class="column is-3" onclick="AbrirModal(@u.Id, '@u.NomeCompleto')">
      <div
        class='card @(u.Aniversario || u.Ferias ? "has-background-info" : (u.AcessoAtivo ? "has-background-success" : "has-background-danger"))'>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img class="is-rounded" src="@u.ImgUtilizador" alt="user">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">@u.NomeCompleto</p>
              <p class="subtitle is-6">@u.UltimoAcesso.ToShortTimeString()<b>@(u.Aniversario ? " Aniversário" :
                (u.Ferias ? " Férias" : ""))
                </b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>

<div class="modal" id="modalPin">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="txtHeaderModal">Registar Acesso</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <input type="password" class="input is-large my-2 has-text-centered" value="" id='txtInputPin'>
      <input type="hidden" value="" id='txtUtilizadorSelecionado'>
      <div class='columns is-mobile is-centered is-multiline'>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 1"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-1"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 2"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-2"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 3"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-3"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 4"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-4"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 5"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-5"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 6"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-6"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 7"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-7"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 8"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-8"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 9"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-9"></i>
            </span>
          </button>
        </div>
        <div class='column is-4'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 0"
            href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-0"></i>
            </span>
          </button>
        </div>
        <div class='column is-8'>
          <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
            onclick="document.getElementById('txtInputPin').value = '';" href="javascript:;">
            <span class="icon">
              <i class="fa-solid fa-backspace"></i>
            </span>
          </button>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button type="button" id="btnEntrada" class="button is-success is-fullwidth is-large" onclick="RegistarEntrada()"
        href="javascript:;">
        <span class="icon">
          <i class="fa-solid fa-right-to-bracket"></i>
        </span>
        <span>Entrada</span>
      </button>
      <button type="button" id="btnSaida" class="button is-danger is-fullwidth is-large" onclick="RegistarSaida()"
        href="javascript:;">
        <span class="icon">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span>Saida</span>
      </button>
    </footer>
  </div>
</div>

<div class="modal" id="modalMensagem">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Acesso</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div id="divMensagem" class="is-1 has-text-centered title"></div>
    </section>
  </div>
</div>

<script>
  function AbrirModal(id, nome) {
    document.getElementById('txtUtilizadorSelecionado').value = id;
    document.getElementById('txtHeaderModal').innerHTML = "Registar Acesso - " + nome;
    EstadoAtual();
  }
  function RegistarEntrada() {
    $.ajax({
      type: "POST",
      url: "/Acessos/Adicionar",
      data: { "api": '@ViewData["API"]', "id": document.getElementById('txtUtilizadorSelecionado').value, "tipo": "1", "pin": document.getElementById('txtInputPin').value },
      success: function (result) {
        $(function () {
          if (result[0] == "1") {
            document.getElementById("divMensagem").innerHTML = result[1];
            Bulma('#modalPin').modal().close();
            Bulma('#modalMensagem').modal().open();
            setTimeout(function () {
              window.location.reload();
            }, 2500);
          } else {
            Bulma('#modalPin').modal().close();
            document.getElementById('txtInputPin').value = '';
            notifyError(result[1]);
          }
        });
      }
    });
  }
  function RegistarSaida() {
    $.ajax({
      type: "POST",
      url: "/Acessos/Adicionar",
      data: { "api": '@ViewData["API"]', "id": document.getElementById('txtUtilizadorSelecionado').value, "tipo": "2", "pin": document.getElementById('txtInputPin').value },
      success: function (result) {
        $(function () {
          if (result[0] == "1") {
            document.getElementById("divMensagem").innerHTML = result[1];
            Bulma('#modalPin').modal().close();
            Bulma('#modalMensagem').modal().open();
            setTimeout(function () {
              window.location.reload();
            }, 2500);
          } else {
            Bulma('#modalPin').modal().close();
            document.getElementById('txtInputPin').value = '';
            notifyError(result[1]);
          }
        });
      }
    });
  }

  function EstadoAtual() {
    $.ajax({
      type: "GET",
      url: "/Acessos/Obter/" + document.getElementById('txtUtilizadorSelecionado').value,
      data: { "api": '@ViewData["API"]' },
      success: function (result) {
        $(function () {

          result.tipo == 1 ? document.getElementById('btnEntrada').classList.add('is-hidden') : document.getElementById('btnEntrada').classList.remove('is-hidden');
          result.tipo == 2 ? document.getElementById('btnSaida').classList.add('is-hidden') : document.getElementById('btnSaida').classList.remove('is-hidden');
          Bulma('#modalPin').modal().open();
        });
      }
    });
  }


</script>