@model IEnumerable<FT_Management.Models.Utilizador>

@{
    ViewData["Title"] = "Utilizadores";
}
    <style>

        #timer {
            font-size: 48px;
            color: #333;
            opacity: 1;
            transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
        }
         body, html {
            overflow: hidden;
            margin: 0;
            padding: 0;
            }
    </style>

    <div class='columns is-centered is-multiline'>
        <div class="column is-1"></div>
        <div class="column is-7"><p class="subtitle" style="text-align: center;">@Html.Raw(ViewData["Frase"])</p></div>    
        <div class="column is-1"></div>
        <div class="column is-2"><div id="timer" onclick="CriarCodigo();Bulma('#modalReadFaceIdPin').modal().open();"></div></div>
        <div class="column is-1"></div>
        <div class="column is-12 p-0 m-0"><hr></div>
        @foreach (var u in Model)
        {
            <div class="column is-3" onclick="AbrirModal(@u.Id, '@u.NomeCompleto')">
                <div class='card @(u.Aniversario || u.Ferias ? "has-background-info" : (ViewData["Acesso"].ToString() == "1" ? (u.AcessoAtivo ? "has-background-success" : "has-background-danger") : ""))'>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="@u.ImgUtilizador" alt="user">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">@u.NomeCompleto</p>
                                <p class="subtitle is-6">
                                    @(ViewData["Hora"].ToString() == "1" ? u.UltimoAcesso.ToShortTimeString() :
              "")<b>
                                        @(u.Aniversario ? " Aniversário" :
                (u.Ferias ? " Férias" : ""))
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="modal" id="modalNoFaceId">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" id="divHeaderModal">
                <p class="modal-card-title" id="txtHeaderModal">Registar Face ID</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
            <div>
               <p>O utilizador selecionado nao tem <b>FACE ID</b> associado. Terá de requisitar ao um administrador para registar o seu FaceID, ou poderá fazê-lo no seu perfil!</p>
            </div>
            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-success is-fullwidth is-large" onclick="FecharModal()"
                        href="javascript:;">
                    <span class="icon">
                       <i class="fa-solid fa-xmark"></i>
                    </span>
                    <span>Fechar</span>
                </button>
            </footer>
        </div>
    </div>

    <div class="modal" id="modalFaceId">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" id="divHeaderModal">
                <p class="modal-card-title" id="txtHeaderModal">Registar Acesso</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <input type="hidden" class="input is-large my-2 has-text-centered" value="">
                <input type="hidden" value="0" id='txtUtilizadorSelecionado'>  
            <div  style="position: relative;">
                <video id="video" playsinline class="video" width="600" height="337" style="width: 100%; border-radius: 20px;"></video>
                <canvas id="canvas" class="canvas" style="position: absolute; top: 0; left: 0; z-index: 10"></canvas>
            </div>
            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-success is-fullwidth is-large" onclick="CriarCodigo();isFaceDetectionEnabled = false;Bulma('#modalPin').modal().open();"
                        href="javascript:;">
                    <span class="icon">
                       <i class="fa-solid fa-keyboard"></i>
                    </span>
                    <span>PIN</span>
                </button>
            </footer>
        </div>
    </div>
     <div class="modal" id="modalLoadingFaceId">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">A carregar ... </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div width="600" height="337" style="width: 100%; border-radius: 20px;">
                    <img src="https://i.pinimg.com/originals/1c/13/f3/1c13f3fe7a6bba370007aea254e195e3.gif" style="width:600px;">
                </div>
            </section>
            <footer class="modal-card-foot">

            </footer>
        </div>
    </div>
     <div class="modal" id="modalFaceIdSuccess">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Sucesso</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div width="600" height="337" style="width: 100%; border-radius: 20px;">
                    <img id="faceidSuccess" src="https://assets-v2.lottiefiles.com/a/b3497a14-1150-11ee-8f36-0f83069a3c82/9BUtul0Vz2.gif">
                    <div id="divMensagem" class="is-1 has-text-centered title"></div></div>
            </section>
            <footer class="modal-card-foot">

            </footer>
        </div>
    </div>     <div class="modal" id="modalFaceIdError">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Erro</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div width="600" height="337" style="width: 100%; border-radius: 20px;">
                    <img id="faceidError" src="https://i.pinimg.com/originals/39/27/d2/3927d27b60d5e4d11c064c09b4e273f0.gif" style="width:100%">
                    <div class="is-1 has-text-centered title">Face ID nao detetado!</div></div>
            </section>
            <footer class="modal-card-foot">

            </footer>
        </div>
    </div>

    <div class="modal" id="modalReadFaceIdPin">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Registar FaceID</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <input type="password" class="input is-large my-2 has-text-centered" value="" id='txtInputPinFaceID'>
                <div class='columns is-mobile is-centered is-multiline'>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 1"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-1"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 2"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-2"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 3"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-3"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 4"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-4"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 5"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-5"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 6"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-6"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 7"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-7"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 8"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-8"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 9"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-9"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = document.getElementById('txtInputPinFaceID').value + 0"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-0"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-8'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPinFaceID').value = '';" href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-backspace"></i>
                            </span>
                        </button>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-success is-fullwidth is-large" onclick="ObterCodigo(document.getElementById('txtInputPinFaceID').value, function (result){if (result) { isFaceReadEnabled=true;Bulma('#modalReadFaceIdPin').modal().close();notify('Gravar FaceID Ativo');}});"
                        href="javascript:;">
                    <span class="icon">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </span>
                    <span>Gravar</span>
                </button>
            </footer>
        </div>
    </div>

    <div class="modal" id="modalPin">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Registar Acesso</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <input type="password" class="input is-large my-2 has-text-centered" value="" id='txtInputPin'>
                <div class='columns is-mobile is-centered is-multiline'>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 1"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-1"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 2"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-2"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 3"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-3"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 4"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-4"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 5"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-5"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 6"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-6"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 7"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-7"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 8"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-8"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 9"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-9"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-4'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = document.getElementById('txtInputPin').value + 0"
                                href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-0"></i>
                            </span>
                        </button>
                    </div>
                    <div class='column is-8'>
                        <button type="button" class="button is-fullwidth is-large disable-dbl-tap-zoom"
                                onclick="document.getElementById('txtInputPin').value = '';" href="javascript:;">
                            <span class="icon">
                                <i class="fa-solid fa-backspace"></i>
                            </span>
                        </button>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-success is-fullwidth is-large" onclick="ObterCodigo(document.getElementById('txtInputPin').value, function (result){if (result) RegistarAcesso()});"
                        href="javascript:;">
                    <span class="icon">
                        <i class="fa-solid fa-check-to-slot"></i>
                    </span>
                    <span>Gravar</span>
                </button>
            </footer>
        </div>
    </div>

    <script>

    let isFaceDetectionEnabled = false; // Variável de controle
    let detected = 0;
    let nDetected = 0;
    let isFaceReadEnabled = false; 
    let averageDescriptor = new Float32Array(128);
    const model = [@Html.Raw(Json.Serialize(Model.ToList()))];
    let stamp = '';

    document.addEventListener("DOMContentLoaded", async function () {
        const webcam = document.getElementById("video");
        const canvas = document.getElementById("canvas");

        try {
            const stream = await navigator.mediaDevices.getUserMedia({ video });
            webcam.srcObject = stream;
            webcam.play();
        } catch (err) {
            console.error("Erro ao acessar a webcam:", err);
        }

        function recognizeFace(detectedDescriptors, model, threshold) {
            for (let i = 0; i < model.length; i++) {
                for (const person of detectedDescriptors) {
                    if (model[i].faceRec.split(' ').length == person.descriptor.length) {
                        const distance = faceapi.euclideanDistance(person.descriptor, model[i].faceRec.split(' '));
                        //console.log(model[i].faceRec.split(' '));
                        //console.log(distance);
                        if (distance < threshold) {
                            // Face recognized as a match
                            return model[i];
                        }
                    }
                }
            }

            // Face not recognized
            return 'UNKNOWN';
        }

        const startFaceDetection = async () => {
            const videoElement = webcam;
            const canvasElement = canvas;
            canvasElement.width = videoElement.width;
            canvasElement.height = videoElement.height;
            const displaySize = { width: videoElement.width, height: videoElement.height };
            faceapi.matchDimensions(canvasElement, displaySize);

            // Carregue o modelo de detecção facial
            await faceapi.nets.tinyFaceDetector.loadFromUri("/lib/vladmandic/face-api/model");
            await faceapi.loadFaceLandmarkModel("/lib/vladmandic/face-api/model");
            await faceapi.loadFaceRecognitionModel("/lib/vladmandic/face-api/model");

            const detectionInterval = setInterval(async () => {
        if (isFaceDetectionEnabled) { 
                if (detected == 1 && isFaceReadEnabled) {
                    if (detected == 1) {
                        notify("Detetado utilizador com sucesso!");
                        averageDescriptor = averageDescriptor.map(value => value / detected);
                        Bulma('#modalFaceId').modal().close();
                        isFaceDetectionEnabled = false;
                        console.log(averageDescriptor);
                        $.ajax({
                            type: "PUT",
                            url: "/Utilizadores/Utilizador/" + parseInt(document.getElementById('txtUtilizadorSelecionado').value),
                            data: {"faceid": averageDescriptor.join(' ') },
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            success: function (result) {
                                $(function () {
                                    if (result == "1") {
                                        notify("Utilizador atualizado com sucesso!");
                                        window.location.reload();
                                    } else {
                                        notifyError("Erro ao atualizar o utilizador");
                                    }
                                });
                            }
                        });
                    }
                }else if (detected > 10) {
                        isFaceDetectionEnabled = false;
                        RegistarAcesso();
                        document.getElementById('faceidSuccess').src = document.getElementById('faceidSuccess').src;
                        Bulma('#modalFaceId').modal().close();
                        Bulma('#modalFaceIdSuccess').modal().open();
                        setTimeout(function() {
                            FecharModal();
                        }, 3200);
                    }

                    if (nDetected > 40) {
                        document.getElementById('faceidError').src = document.getElementById('faceidError').src;
                        Bulma('#modalFaceId').modal().close();
                        Bulma('#modalFaceIdError').modal().open();
                        setTimeout(function() {
                            FecharModal();
                        }, 3200);
                    }

                    const detections = await faceapi.detectAllFaces(videoElement, new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptors();

                    if (isFaceReadEnabled) {
                        const resizedDetections = faceapi.resizeResults(detections, displaySize);

                   
                    if (resizedDetections.length > 0) {
                        for (const detection of detections) {
                            const confidenceScore = detection.detection.score;
                            if (confidenceScore > 0.98) {
                                averageDescriptor = detection.descriptor;
                                detected = 1;
                            }
                        }

                    } else {
                        nDetected++;
                    }
                    }else if (detections.length > 0) {
                        var p = recognizeFace(detections, model[0].filter(obj => obj.id === parseInt(document.getElementById('txtUtilizadorSelecionado').value)), 0.50);
                        if (p.id == document.getElementById('txtUtilizadorSelecionado').value) {
                            detected++;
                        } else {
                            nDetected++;
                        }
                    } else {
                        nDetected++;
                    }

                    canvasElement
                        .getContext("2d")
                        .clearRect(0, 0, canvasElement.width, canvasElement.height);
                    faceapi.draw.drawDetections(canvasElement, detections);
                }
            }, 100);
        };

        startFaceDetection();
    });


  function AbrirModal(id, nome) {
    document.getElementById('txtUtilizadorSelecionado').value = id;
    if (model[0].filter(obj => obj.id === parseInt(document.getElementById('txtUtilizadorSelecionado').value))[0].faceRec === '' && !isFaceReadEnabled) {
        Bulma('#modalNoFaceId').modal().open();
    }else{
        Bulma('#modalLoadingFaceId').modal().open();
        setTimeout(function() {
            Bulma('#modalLoadingFaceId').modal().close();
            Bulma('#modalFaceId').modal().open();
        }, 1000);
        document.getElementById('txtHeaderModal').innerHTML = "Registar Acesso - " + nome;
        isFaceDetectionEnabled = true;
    }
  }

    function FecharModal() {
        isFaceDetectionEnabled = false;
        isFaceReadEnabled=false;
        nDetected = 0;
        detected = 0;
        document.getElementById('txtUtilizadorSelecionado').value = '0';
        document.getElementById('txtInputPin').value = '';
        Bulma('#modalFaceId').modal().close();
        Bulma('#modalNoFaceId').modal().close();
        Bulma('#modalPin').modal().close();
        Bulma('#modalLoadingFaceId').modal().close(); 
        Bulma('#modalFaceIdSuccess').modal().close(); 
        Bulma('#modalFaceIdError').modal().close();
    }
    
    function RegistarAcesso() {
    $.ajax({
      type: "POST",
      url: "/Acessos/Acesso",
      data: { "api": '@ViewData["API"]', "id": document.getElementById('txtUtilizadorSelecionado').value, "tipo": "3", "pin": '9233' },
      success: function (result) {
        $(function () {
          if (result[0] == "1") {
            document.getElementById("divMensagem").innerHTML = result[1];
            document.getElementById('faceidSuccess').src = document.getElementById('faceidSuccess').src;
            Bulma('#modalPin').modal().close();
            Bulma('#modalFaceIdSuccess').modal().open();
            setTimeout(function() {
                FecharModal();
            }, 3200);
          } else {
            Bulma('#modalPin').modal().close();
            Bulma('#modalFaceIdError').modal().open();
            setTimeout(function() {
                FecharModal();
            }, 3200);
          }
        });
      }
    });
  }

  function CriarCodigo() {
    $.ajax({
      type: "POST",
      url: "/Home/Codigo",
      success: function (result) {
        $(function () {
          stamp = result;
        });
      }
    });
  }  
  function ObterCodigo(pin,callback) {
    $.ajax({
      type: "GET",
      url: "/Home/Codigo",
      data: {"stamp": stamp, "pin": pin},
      success: function (result) {
        $(function () {
            callback(true);
        });
      }
    });
  }



    function NotificacaoEscritorio() {
    $.ajax({
      type: "POST",
      url: "/Utilizadores/Notificacao",
      data: { "api": '@ViewData["API"]', "Mensagem": "Está alguem na entrada!" },
      success: function (result) {
          notify("Notificação enviada com sucesso");
      }
    });
  }

 function updateTimer() {
        const timerElement = document.getElementById('timer');
        const currentTime = new Date();
        const hours = currentTime.getHours().toString().padStart(2, '0');
        const minutes = currentTime.getMinutes().toString().padStart(2, '0');
        const seconds = currentTime.getSeconds().toString().padStart(2, '0');

        const currentTimeString = `${hours}:${minutes}:${seconds}`;
        timerElement.textContent = currentTimeString;

        // Trigger a reflow by reading the offsetHeight property
        void timerElement.offsetHeight;

        // Apply color and fade-out animation
        timerElement.style.color = '#ff6347'; // Tomato color
        timerElement.style.opacity = 0;
    }

    function fadeInTimer() {
        const timerElement = document.getElementById('timer');
        // Apply fade-in animation after a short delay
        setTimeout(() => {
            timerElement.style.color = '#333'; // Reset color to default
            timerElement.style.opacity = 1;
        }, 100);
    }

    function startTimer() {
        updateTimer(); // Update the timer immediately
        setInterval(() => {
            updateTimer(); // Update the timer every second
            fadeInTimer(); // Trigger fade-in animation
        }, 1000);
    }

    // Start the timer when the page loads
    window.onload = startTimer;
    </script>
