@model IEnumerable<FT_Management.Models.Armazem>

@{
    ViewData["Title"] = "Inventário";
}

<form asp-action="Index" method="get">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fa-solid fa-dolly"></i>
                                </span>
                                <span>Inventário</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
@if (Model.Count() == 0)
{
    <button class="button is-danger is-rounded is-outlined is-large is-fullwidth" disabled>Não foram encontrados
    armazéns!</button>
}
else
{
    <div class="column mx-1">
    <div class="card has-table has-mobile-sort-spaced">
        <header class="card-header has-background-info">
            <p class="card-header-title" style="color:#ffffff">
                <span class="icon mr-3"> <i class="fa-solid fa-warehouse"></i></span>
                Armazéns
            </p>
            <a class="card-header-icon button is-success m-1 is-disabled">@Model.Count()</a>
        </header>
        <div class="card-content">
            <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ArmazemId)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ArmazemNome)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {
                                    <tr>
                                        <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().ArmazemId)">
                                            @item.ArmazemId</td>
                                        <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().ArmazemNome)">
                                            @item.ArmazemNome</td>
                                        <td class="is-actions-cell">
                                            <a class="button is-large is-success is-rounded is-pulled-right" style="width:100%"
                                                onclick="VerDossiersInventario('@item.ArmazemId')"><span
                                                    class="icon is-small"><i class="fa-solid fa-eye"></i></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal" id="modalDossiersInventario">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="txtHeaderModal">###</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div id="divDossiers"></div>
            </div>
        </section>
        <footer class="modal-card-foot">

            <div class="buttons is-centered" style="width:100%">
            <button class="button is-info is-large is-fullwidth" onclick="Bulma('#modalConfirmNovoDossier').modal().open();">
                 <span class="icon">
                <i class="fa-solid fa-circle-check"></i>
            </span>
            <span>Criar</span></button>
            <button class="button is-large is-fullwidth" onclick="Bulma('#modalDossiersInventario').modal().close();"> <span class="icon">
                <i class="fa-solid fa-circle-xmark"></i>
            </span>
            <span>Fechar</span></button>
            </div>
        </footer>
    </div>
</div>

<div class="modal" id="modalConfirmNovoDossier">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Novo Dossier</p>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja criar um novo dossier de inventário associado a este armazém?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button class="button is-info is-large is-fullwidth"
                onclick="CriarDossier(document.getElementById('txtHiddenNumArmazem').value);"> <span class="icon">
                <i class="fa-solid fa-circle-check"></i>
            </span>
            <span>Criar</span></button>
            <button class="button is-large is-fullwidth" onclick="Bulma('#modalConfirmNovoDossier').modal().close();"> <span class="icon">
                <i class="fa-solid fa-circle-xmark"></i>
            </span>
            <span>Fechar</span></button>

            </div>
        </footer>
    </div>
</div>

<input id="txtHiddenNumArmazem" hidden />
<script>
    function CriarDossier(id) {
        $.ajax({
            url: '/Inventario/Dossier/',
            data: { "id": id },
            type: "POST",
            success: function (data) {
                if (data[0] == "1") {
                    window.location.href = data[2];
                } else {
                    notifyError(data[1]);
                }
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao criar um novo dossier!');
            },
            failure: function (response) {
                notifyError('Ocorreu um erro ao criar um novo dossier!');
            }
        });
        Bulma('#modalConfirmNovoDossier').modal().close();
        Bulma('#modalDossiersInventario').modal().close();
    }

    function VerDossiersInventario(id) {
        document.getElementById('txtHiddenNumArmazem').value = id;

        $.ajax({
            url: '/Inventario/Dossiers/',
            data: { "id": id },
            type: "GET",
            success: function (data) {
                document.getElementById("txtHeaderModal").innerHTML = "Dossiers - Armazém " + id;
                if (!data || data.length === 0) {
                    var html = "<button class='button is-danger is-rounded is-outlined is-fullwidth' disabled>Não foram encontrados dossiers associados a este armazém!</button>";
                    document.getElementById("divDossiers").innerHTML = html;
                } else {
                    var html = "<table class='table is-hoverable' style='width:100%;'><tr><th>Nº do Dossier</th><th>Criado a:</th><th>Criado por:</th><th></th></tr>";
                    data.forEach(obj => {
                        html += "<tr><td>" + obj.idPicking + "</td><td>" + new Date(obj.dataDossier).toLocaleDateString() + "</td><td>" + obj.editadoPor + "</td><td><a class='button is-large is-success is-rounded is-pulled-right' style='width:100%' href='/Inventario/Dossier/" + obj.picking_Stamp + "'><span class='icon is-small'><i class='fa-solid fa-eye'></i></span></a> </td></tr>";
                    });
                    html += "</table>";
                    document.getElementById("divDossiers").innerHTML = html;
                }

                Bulma('#modalDossiersInventario').modal().open();
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao obter os dossiers associados a este armazém!');
            },
            failure: function (response) {
                notifyError('Ocorreu um erro ao obter os dossiers associados a este armazém!');
            }
        });
    }
    function copiarTexto(id) {

        notify('Texto copiado com sucesso!');
        // text area method
        let textArea = document.createElement("textarea");
        textArea.value = document.getElementById(id).value;
        // make the textarea out of viewport
        textArea.style.position = "fixed";
        textArea.style.left = "-999999px";
        textArea.style.top = "-999999px";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        return new Promise((res, rej) => {
            // here the magic happens
            document.execCommand('copy') ? res() : rej();
            textArea.remove();
        });

    }

</script>