@model FT_Management.Models.Utilizador

@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>Perfil de Utilizador (@Model.NomeUtilizador)</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section is-main-section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fa-solid @(Model.Admin ? "fa-user-graduate" : "fa-user")"></i>
                        </span>
                        - Perfil
                    </p>
                </header>
                <div class="card-content">

                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.NomeCompleto)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" readonly  asp-for="NomeCompleto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.EmailUtilizador)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" readonly asp-for="EmailUtilizador"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.IdPHC)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" readonly  asp-for="IdPHC"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Iniciais)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" readonly  asp-for="Iniciais" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Pin)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" readonly asp-for="Pin"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.TipoUtilizador)</label></div><div class="field-body">
                            <div class="field">
                                    <span class="select" style="width:100%">
                                        <select style="width:100%" asp-for="TipoUtilizador" id="LstTipoUtilizador" disabled >
                                            <option id="1">Técnico</option>
                                            <option id="2">Comercial</option>
                                            <option id="3">Escritório</option>
                                        </select>
                                    </span>
                                    <script>
                                        document.getElementById("LstTipoUtilizador").selectedIndex = @Model.TipoUtilizador - 1;
                                    </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fa-solid fa-user-pen"></i>
                        </span>
                         - Editar Perfil
                    </p>
                </header>

                <div class="card-content">
                    <form method="post" style="width:100%" asp-controller="Utilizadores" asp-action="AtualizarUtilizador">
                        <input type="hidden" class="input"   asp-for="Id" name="id">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">@Html.DisplayNameFor(model => model.NomeCompleto)</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" autocomplete="on" name="name" required="required" class="input" asp-for="NomeCompleto">
                                    </div>
                                    <p class="help"> Required. Your name</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">@Html.DisplayNameFor(model => model.EmailUtilizador)</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="email" autocomplete="on" name="email" required="required" class="input" asp-for="EmailUtilizador">
                                    </div>
                                    <p class="help"> Required. Your e-mail</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Pin)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" name="pin" maxlength=4 class="input" asp-for="Pin"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Iniciais)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" name="iniciais" maxlength=2 class="input" asp-for="Iniciais"></div>
                            </div>
                        </div>
                    </div>
                     <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.CorCalendario)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="color" name="cor" class="input" asp-for="CorCalendario"></div>
                            </div>
                        </div>
                    </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field">
                                        <div class="field-body">
                                            <div class="field is-grouped">
                                                <div class="control">
                                                    <button type="submit" class="button is-info" control-id="ControlID-17">
                                                        <span> Atualizar </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title"><span class="icon"><i class="fa-solid fa-user-lock"></i></span> - Alterar Senha </p>
        </header><div class="card-content">
            <form method="post" style="width:100%" asp-controller="Utilizadores" asp-action="AtualizarSenha">
                <input type="hidden" class="input"   asp-for="Id" name="id">
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Senha Atual</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="on" name="password_current" required="required" autcomplete="current-password" class="input" control-id="ControlID-19">
                            </div><p class="help">
                                Required. Your current password
                            </p>
                        </div>
                    </div>
                </div><hr><div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Nova Senha</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password" required="required" class="input" control-id="ControlID-20">


                            </div><p class="help">
                                Required. New password
                            </p>
                        </div>
                    </div>
                </div><div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Confirmar Nova Senha</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password_confirmation" required="required" class="input" control-id="ControlID-21">


                            </div><p class="help">
                                Required. New password one more time
                            </p>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>
                <hr><div class="field is-horizontal">
                    <div class="field-label is-normal">
                    </div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-info" control-id="ControlID-22">
                                    <span> Atualizar </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
