@model FT_Management.Models.Utilizador

@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-user"></i>
                            </span>
                            <span>Perfil de Utilizador (@Model.NomeUtilizador)</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section is-main-section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fa-solid @(Model.Admin ? "fa-user-graduate" : "fa-user")"></i>
                        </span>
                        - Perfil
                    </p>
                </header>
                <div class="card-content">
                    <input type="hidden" asp-for="Id" id="txtHiddenIdUtilizador"/>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.NomeCompleto)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" disabled  asp-for="NomeCompleto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.EmailUtilizador)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" disabled asp-for="EmailUtilizador"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.IdPHC)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" disabled  asp-for="IdPHC"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Iniciais)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" disabled  asp-for="Iniciais" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Pin)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" class="input" disabled asp-for="Pin"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.TipoUtilizador)</label></div><div class="field-body">
                            <div class="field">
                                    <span class="select" style="width:100%">
                                        <select style="width:100%" asp-for="TipoUtilizador" id="LstTipoUtilizador" disabled >
                                            <option id="1">Técnico</option>
                                            <option id="2">Comercial</option>
                                            <option id="3">Escritório</option>
                                        </select>
                                    </span>
                                    <script>
                                        document.getElementById("LstTipoUtilizador").selectedIndex = @Model.TipoUtilizador - 1;
                                    </script>
                            </div>
                        </div>
                    </div>
                    <div class="field has-addons is-horizontal">
                      <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.ApiKey.Key)</label></div><div class="field-body">
                      <div class="control">
                        <input class="input" type="text" disabled id="txtApiKey" asp-for="ApiKey.Key">
                      </div>
                      <div class="field has-addons">
                          <p class="control">
                            <button class="button is-info" @(Model.ApiKey.Key == "" ? "disabled" : "" ) onclick="copiarTexto('txtApiKey');">
                              Copiar
                            </button>
                          </p>
                          <p class="control">
                            <button class="button is-primary" onclick="GerarApiKey();">
                              Gerar
                            </button>
                          </p>
                           <p class="control">
                            <button class="button is-link" @(Model.ApiKey.Key == "" ? "disabled" : "" ) onclick="Bulma('#modalLinks').modal().open();">
                              <i class="fa-solid fa-info"></i>
                            </button>
                          </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modalLinks">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Calendários</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">Calendário de Serviços</label></div><div class="field-body">
                            <div class="field" style="width:100%">
                                <div class="control"><input type="text" class="input" id="txtPedidos" disabled value="@(new Uri("http://"+@Context.Request.Host+"/Pedidos/Calendario?ApiKey=" + @Model.ApiKey.Key))"></div>
                            </div>
                            <div class="field has-addons">
                              <p class="control">
                                <button class="button is-info" onclick="copiarTexto('txtPedidos');">
                                  Copiar
                                </button>
                              </p>
                              <p class="control">
                                <a class="button is-primary" href="@(new Uri("http://"+@Context.Request.Host+"/Pedidos/Calendario?ApiKey=" + @Model.ApiKey.Key))">
                                   <i class="fa-solid fa-plus"></i>
                                </a>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">Calendário de Férias</label></div><div class="field-body">
                            <div class="field" style="width:100%">
                                <div class="control"><input type="text" class="input" id="txtFerias" disabled value="@(new Uri("http://"+@Context.Request.Host+"/Ferias/Calendario?ApiKey=" + @Model.ApiKey.Key))" ></div>
                            </div>
                            <div class="field has-addons">
                              <p class="control">
                                <button class="button is-info" onclick="copiarTexto('txtFerias');">
                                  Copiar
                                </button>
                              </p>
                              <p class="control">
                                <a class="button is-primary" href="@(new Uri("http://"+@Context.Request.Host+"/Ferias/Calendario?ApiKey=" + @Model.ApiKey.Key))">
                                   <i class="fa-solid fa-plus"></i>
                                </a>
                              </p>
                            </div>
                        </div>
                    </div>
            </section>
          </div>
        </div>

        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="fa-solid fa-user-pen"></i>
                        </span>
                         - Editar Perfil
                    </p>
                </header>

                <div class="card-content">
                    <form method="post" style="width:100%" asp-controller="Utilizadores" asp-action="AtualizarUtilizador">
                        <input type="hidden" class="input"   asp-for="Id" name="id">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">@Html.DisplayNameFor(model => model.NomeCompleto)</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" autocomplete="on" name="name" required="required" class="input" asp-for="NomeCompleto">
                                    </div>
                                    <p class="help"> Required. Your name</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">@Html.DisplayNameFor(model => model.EmailUtilizador)</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="email" autocomplete="on" name="email" required="required" class="input" asp-for="EmailUtilizador">
                                    </div>
                                    <p class="help"> Required. Your e-mail</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Pin)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" name="pin" maxlength=4 class="input" asp-for="Pin"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.Iniciais)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="text" name="iniciais" maxlength=2 class="input" asp-for="Iniciais"></div>
                            </div>
                        </div>
                    </div>
                     <div class="field is-horizontal">
                        <div class="field-label is-normal"><label class="label">@Html.DisplayNameFor(model => model.CorCalendario)</label></div><div class="field-body">
                            <div class="field">
                                <div class="control"><input type="color" name="cor" class="input" asp-for="CorCalendario"></div>
                            </div>
                        </div>
                    </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field">
                                        <div class="field-body">
                                            <div class="field is-grouped">
                                                <div class="control">
                                                    <button type="submit" class="button is-info" control-id="ControlID-17">
                                                        <span> Atualizar </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title"><span class="icon"><i class="fa-solid fa-user-lock"></i></span> - Alterar Senha </p>
        </header><div class="card-content">
            <form method="post" style="width:100%" asp-controller="Utilizadores" asp-action="AtualizarSenha">
                <input type="hidden" class="input"   asp-for="Id" name="id">
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Senha Atual</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="on" name="password_current" required="required" autcomplete="current-password" class="input" control-id="ControlID-19">
                            </div><p class="help">
                                Required. Your current password
                            </p>
                        </div>
                    </div>
                </div><hr><div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Nova Senha</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password" required="required" class="input" control-id="ControlID-20">


                            </div><p class="help">
                                Required. New password
                            </p>
                        </div>
                    </div>
                </div><div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Confirmar Nova Senha</label></div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password_confirmation" required="required" class="input" control-id="ControlID-21">


                            </div><p class="help">
                                Required. New password one more time
                            </p>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>
                <hr><div class="field is-horizontal">
                    <div class="field-label is-normal">
                    </div><div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-info" control-id="ControlID-22">
                                    <span> Atualizar </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
 function copiarTexto(id) {
                  
                bulmaToast.toast({
                  message: 'Texto copiado com sucesso!',
                  type: 'is-success',
                  closeOnClick: true,
                  pauseOnHover: true,
                  opacity: 0.8,
                  duration: 5000
                })

             // text area method
            let textArea = document.createElement("textarea");
            textArea.value = document.getElementById(id).value;
            // make the textarea out of viewport
            textArea.style.position = "fixed";
            textArea.style.left = "-999999px";
            textArea.style.top = "-999999px";
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
            return new Promise((res, rej) => {
                // here the magic happens
                document.execCommand('copy') ? res() : rej();
                textArea.remove();
            });

        }

    
        function GerarApiKey() {
            $.ajax({
                type: "POST",
                url: "/Utilizadores/GerarApiKey/" + document.getElementById("txtHiddenIdUtilizador").value,
                traditional: true,
                success: function (result) {
                    if (result != "") {
                    $(function () {
                        document.getElementById("txtApiKey").value = result;
                        bulmaToast.toast({
                          message: 'Api Key gerada com sucesso!',
                          type: 'is-success',
                          closeOnClick: true,
                          pauseOnHover: true,
                          opacity: 0.8,
                          duration: 5000
                        });
                        window.location.reload();
                    });
                    }else{
                    $(function () {
                        bulmaToast.toast({
                          message: 'Não foi possivel gerar a Api Key!',
                          type: 'is-danger',
                          closeOnClick: true,
                          pauseOnHover: true,
                          opacity: 0.8,
                          duration: 5000
                        })
                    });
                    }
                }
            });
        }
</script>