@model FT_Management.Models.FeriasUtilizador

@{
    ViewData["Title"] = "Férias";
}

<script src="https://momentjs.com/downloads/moment.min.js"></script>

<div class="row">
    <div class="col-lg-4">
        <h1>Férias</h1>
    </div>
    <div class="btn-group col-lg-4" role="group" aria-label="Basic outlined example">
        <button type="button" disabled class="btn btn-outline-success btn-lg">
            Dias Marcados: @Model.DiasMarcados
        </button>
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Escritorio"))
        {
            <button type="button" data-toggle="modal" data-target="#myModal4" class="btn btn-outline-danger btn-lg">
                Dias por Marcar: @(Model.DiasDisponiveis - Model.DiasMarcados)
            </button>

        }
        else
        {
            <button type="button" disabled class="btn btn-outline-danger btn-lg">
                Dias por Marcar: @(Model.DiasDisponiveis - Model.DiasMarcados)
            </button>

        }
    </div>
    <div class="btn-group btn-group-lg col-lg-4" role="group" aria-label="Basic example">
        <a class="btn btn-outline-primary float-right" onclick="location.href = '@(Url.Action("Calendario", "Ferias"))'"><i class="far fa-calendar-alt" style="margin-top:5px"></i> Calendário</a>
        <a class="btn btn-primary text-white float-right" data-toggle="modal" data-target="#myModal2"><i class="fas fa-plus" style="margin-top:5px"></i> Adicionar</a>
    </div>
</div>
<br />
<input type="hidden" id="hiddenIdUtilizador" value="@ViewData["IdUtilizador"]" name="IdUtilizador">
<input type="hidden" id="hiddenAno" name="Ano" value="@ViewData["Ano"]" />
<input type="hidden" id="hiddenIdFerias" name="IdFerias" />

@if (Model.Ferias.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas férias associadas!</button>
}
else
{
    <table class=" table table-hover">
        <thead>
            <tr>
                <th>
                    Data Inicio
                </th>
                <th>
                    Data Fim
                </th>
                <th>
                    Aprovado Por
                </th>
                <th>
                    Observações
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ferias)
            {
                <tr class="@(item.Validado ? "table-success" : "table-danger")">
                    <td>
                        <span>@item.DataInicio.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        <span>@item.DataFim.ToString("dd/MM/yyyy")</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidadoPorNome)
                    </td>

                    <td style="width: 60%;">
                        @Html.DisplayFor(modelItem => item.Obs)
                    </td>
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Escritorio"))
                    {
                        <td>
                            <div class="btn-group float-right">
                                <a class="btn btn-outline-danger" onclick="location.href='@Url.Action("Apagar", "Ferias", item)'"><i class="fas fa-trash" style="font-size:20px"></i></a>
                                <a class="btn btn-outline-success"  onclick="ConfirmValidarFerias(@item.Id)" href="javascript:;"><i class="fas fa-check" style="font-size:20px"></i></a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar Dias de Férias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Dias de Férias</label>
                    <input type="text" class="form-control" id="txtDiasFerias">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AlterarDiasFerias()" href="javascript:;">Validar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Validar Férias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Observações</label>
                    <textarea class="form-control" rows="8" placeholder="" id="txtObsValidar" name="Obs" required></textarea>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="ValidarFerias()" href="javascript:;">Validar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Férias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Data Inicio:</label>
                    <input type="text" class="form-control" id="txtDataInicio" disabled>
                    <script>
                        $('#txtDataInicio').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            minDate: new Date(document.getElementById('hiddenAno').value, 0, 1),
                            maxDate: new Date(document.getElementById('hiddenAno').value, 11, 31)
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Data Fim:</label>
                    <input type="text" class="form-control" id="txtDataFim" disabled>
                    <script>
                        $('#txtDataFim').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            minDate: new Date(document.getElementById('hiddenAno').value, 0, 1),
                            maxDate: new Date(document.getElementById('hiddenAno').value, 11, 31)
                        });
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AdicionarFerias()" href="javascript:;">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<div>
    <br />
    <a class="btn btn-lg btn-secondary" onclick="location.href = '@(Url.Action("Index", "Ferias"))'" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">< Voltar</a>

</div>
<script>
    function AdicionarFerias() {
        var json = {
            datainicio: document.getElementById('txtDataInicio').value,
            datafim: document.getElementById('txtDataFim').value,
            idutilizador: document.getElementById('hiddenIdUtilizador').value,
        };

        var dF = moment(document.getElementById('txtDataFim').value, "DD/MM/YYYY").toDate();
        var dI = moment(document.getElementById('txtDataInicio').value, "DD/MM/YYYY").toDate();
        var Diff = (dF - dI) / (1000 * 3600 * 24);
        var DiasMarcados = (@Model.DiasDisponiveis - @Model.DiasTotais);

        if (Diff > DiasMarcados) {
            $(function () {
                $.notify({
                    message: "Dias escolhidos excedem dias disponiveis!"
                }, {
                    // settings
                    type: 'danger',
                    onShow: function () {
                        this.css({ 'width': 'auto', 'height': 'auto' });
                    }
                });
            });
        }else {
            $.ajax({
                type: "POST",
                url: "/Ferias/AdicionarFerias",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        window.location.reload();
                    });
                }
            });
        }
        $("#myModal2").modal('hide');
    }

    function AlterarDiasFerias() {
        var json = {
            dias: document.getElementById('txtDiasFerias').value,
            ano: document.getElementById('hiddenAno').value,
            idutilizador: document.getElementById('hiddenIdUtilizador').value,
        };

        
            $.ajax({
                type: "POST",
                url: "/Ferias/AlterarDiasFerias",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        window.location.reload();
                    });
                }
            });
        $("#myModal4").modal('hide');
    }

    function ConfirmValidarFerias(Id) {
        document.getElementById("hiddenIdFerias").value = Id;
        $("#myModal3").modal('show');
    }

    function ValidarFerias() {
        var json = {
            id: document.getElementById('hiddenIdFerias').value,
            obs: document.getElementById('txtObsValidar').value
        };

        $.ajax({
            type: "POST",
            url: "/Ferias/Validar",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });

        $("#myModal3").modal('hide');
    }
</script>
