@model FT_Management.Models.FeriasUtilizador

@{
    ViewData["Title"] = "Férias - " + Model.utilizador.NomeCompleto;
}

<script src="https://momentjs.com/downloads/moment.min.js"></script>


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-umbrella-beach"></i>
                            </span>
                            <span>Férias - @Model.utilizador.NomeCompleto</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-8 my-auto">
            <div class="buttons is-right is-grouped">
                <p class="control">
                    <button class="button is-info disabled">
                        <span class="icon"><i class="fa fa-calendar-days"></i></span>
                        <span>@Html.DisplayNameFor(model => model.DiasTotais): @Model.DiasTotais</span>
                    </button>
                </p>
                <p class="control">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <button class="button is-danger" id="alterarDiasFerias">
                            <span class="icon"><i class="fa fa-calendar-xmark"></i></span>
                            <span>@Html.DisplayNameFor(model => model.DiasDisponiveis): @(Model.DiasDisponiveis -
                            Model.DiasTotais)</span>
                        </button>
                    }
                    else
                    {
                        <button class="button is-danger disabled">
                            <span class="icon"><i class="fa fa-calendar-plus"></i></span>
                            <span>@Html.DisplayNameFor(model => model.DiasDisponiveis): @(Model.DiasDisponiveis -
                            Model.DiasTotais)</span>
                        </button>
                    }
                </p>
                <p class="control">
                    <button class="button is-primary disabled">
                        <span class="icon"><i class="fa fa-calendar-check"></i></span>
                        <span>@Html.DisplayNameFor(model => model.DiasMarcados): @Model.DiasMarcados</span>
                    </button>
                </p>
            </div>
            <div class="buttons is-right is-grouped">
                <p class="control">
                    <a class="button is-info is-outlined"
                        onclick="location.href = '@(Url.Action("CalendarioView", "Ferias"))'">
                        <span class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                        <span>Calendário</span>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-primary is-outlined" id="addFerias">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Adicionar</span>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-info">
                        <span>Ano em Visualização: @ViewData["Ano"]</span>
                    </a>
                </p>
            </div>
        </div>

    </div>
</div>
<hr />
<input type="hidden" id="hiddenIdUtilizador" value="@ViewData["IdUtilizador"]" name="IdUtilizador">
<input type="hidden" id="hiddenAno" name="Ano" value="@ViewData["Ano"]" />
<input type="hidden" id="hiddenIdFerias" name="IdFerias" />

@if (Model.Ferias.Count() == 0)
{
    <br />
    <button class="button is-fullwidth is-danger is-outlined">Não foram encontradas férias associadas!</button>
}
else
{
    <div class="container">
    <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().DataInicio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().DataFim)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().ValidadoPorNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().Obs)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Ferias)
                        {
                            <tr class="@(item.Validado ? "has-background-success-light" : "has-background-danger-light")">
                                <td style="min-width: 20%;"
                                    data-label="@Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().DataInicio)">
                                    <span>@item.DataInicio.ToString("ddd dd/MM/yyyy")</span>
                                </td>
                                <td style="min-width: 20%;"
                                    data-label="@Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().DataFim)">
                                    <span>@item.DataFim.ToString("ddd dd/MM/yyyy")</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().ValidadoPorNome)">
                                    @Html.DisplayFor(modelItem => item.ValidadoPorNome)
                                </td>

                                <td data-label="@Html.DisplayNameFor(model => model.Ferias.FirstOrDefault().Obs)"
                                    style="width: 40%;">
                                    @Html.DisplayFor(modelItem => item.Obs)
                                </td>
                                <td class="is-actions-cell">
                                    <div class="field has-addons is-pulled-right">

                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            @if (!item.Validado)
                                            {
                                                <a class="button mr-2 is-outlined is-primary" onclick="ConfirmValidarFerias(@item.Id)"
                                                    href="javascript:;"><i class="fas fa-check" style="font-size:20px"></i></a>
                                            }
                                            <a class="button is-danger is-outlined" onclick="ConfirmApagarFerias2(@item.Id)"
                                                href="javascript:;"><i class="fas fa-trash" style="font-size:20px"></i></a>
                                        }

                                        else
                                        {
                                            <a class="button is-danger is-outlined" onclick="ConfirmApagarFerias1(@item.Id)"
                                                href="javascript:;"><i class="fas fa-trash" style="font-size:20px"></i></a>

                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div id="modalAlterarDiasFerias" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Alterar Dias de Férias</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <p class="control has-icons-left">
                    <input type="text" class="input is-success" id="txtDiasFerias" placeholder="Nº de Dias de Férias">
                    <span class="icon is-small is-left">
                        <i class="fas fa-arrow-down-1-9"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" id="btnAlterarDiasFerias" onclick="AlterarDiasFerias()"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-check-circle"></i>
                </span>
                <span>Validar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalApagarFerias2" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-minus"></i>
                </span>
                <span>Apagar Férias</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <p>Tem a certeza que deseja apagar estas datas? <b>Esta ação é irreversivel!</b></p>
            </div>
            <div class="form-group">
                <p class="control has-icons-left">
                    <textarea class="textarea" rows="8" placeholder="Observações" id="txtObsApagar" name="Obs"
                        required></textarea>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-danger" id="btnApagarFerias" onclick="ApagarFerias()"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Apagar</span>
            </button>
        </footer>
    </div>
</div>


<div id="modalValidarFerias" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-check"></i>
                </span>
                <span>Validar Férias</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="control">
                <p class="control has-icons-left">
                    <textarea class="textarea" rows="8" placeholder="Observações" id="txtObsValidar" name="Obs"
                        required></textarea>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" id="btnValidarFerias" onclick="ValidarFerias()"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>Validar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalApagarFerias" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-minus"></i>
                </span>
                <span>Apagar Férias</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="control">
                <p>Tem a certeza que deseja apagar estas datas? <b>Esta ação é irreversivel!</b></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-danger" id="btnApagarFerias2" onclick="ApagarFerias2()"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Apagar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalAddFerias" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-plus"></i>
                </span>
                <span>Adicionar Férias</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="control">
                <input type="date" class="input" id="txtDataInicio" disabled>
                <script>
                    bulmaCalendar.attach('#txtDataInicio', {
                        color: 'info',
                        isRange: true,
                        lang: 'pt',
                        labelFrom: 'Inicio',
                        labelTo: 'Fim',
                        displayMode: 'inline',
                        dateFormat: 'dd/MM/yyyy',
                        todayLabel: 'Hoje',
                        clearLabel: 'Limpar',
                        cancelLabel: 'Cancelar',
                        minDate: new Date(document.getElementById('hiddenAno').value, 0, 1),
                        maxDate: new Date(parseInt(document.getElementById('hiddenAno').value) + 1, 2, 31)
                    });
                </script>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" id="btnAdicionarFerias" onclick="AdicionarFerias()"
                href="javascript:;">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Adicionar</span>
            </button>
        </footer>
    </div>
</div>


<script>
    document.querySelector('#addFerias').addEventListener('click', function (e) {
        var modal = Bulma('#modalAddFerias').modal();
        modal.open();
    });

    document.querySelector('#alterarDiasFerias').addEventListener('click', function (e) {
        var modal = Bulma('#modalAlterarDiasFerias').modal();
        modal.open();
    });

    function AdicionarFerias() {
        if (document.getElementById('txtDataInicio').value.split('-')[0] == '') {
            notifyError('Tem de escolher a data de inicio e fim!');
        } else {
            document.getElementById("btnAdicionarFerias").classList.add("is-loading");
            var json = {
                datainicio: document.getElementById('txtDataInicio').value.split('-')[0],
                datafim: document.getElementById('txtDataInicio').value.split('-')[1],
                idutilizador: document.getElementById('hiddenIdUtilizador').value,
            };

            var dF = moment(document.getElementById('txtDataInicio').value.split('-')[1], "DD/MM/YYYY").toDate();
            var dI = moment(document.getElementById('txtDataInicio').value.split('-')[0], "DD/MM/YYYY").toDate();
            var Diff = (dF - dI) / (1000 * 3600 * 24);
            var DiasMarcados = (@Model.DiasDisponiveis - @Model.DiasTotais);

            if (Diff >= DiasMarcados) {
                document.getElementById("btnAdicionarFerias").classList.remove("is-loading");
                $(function () {
                    notifyError('Dias escolhidos excedem dias disponiveis!');
                });
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Ferias/Ferias",
                    data: json,
                    traditional: true,
                    success: function (result) {
                        $(function () {
                            window.location.reload();
                        });
                    }
                });
            }
        }
    }

    function AlterarDiasFerias() {
        document.getElementById("btnAlterarDiasFerias").classList.add("is-loading");
        var json = {
            dias: document.getElementById('txtDiasFerias').value,
            ano: document.getElementById('hiddenAno').value,
            idutilizador: document.getElementById('hiddenIdUtilizador').value,
        };


        $.ajax({
            type: "PUT",
            url: "/Ferias/Dias",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });
    }

    function ConfirmValidarFerias(Id) {
        document.getElementById("hiddenIdFerias").value = Id;
        var modal = Bulma('#modalValidarFerias').modal();
        modal.open();
    }

    function ConfirmApagarFerias1(Id) {
        document.getElementById("hiddenIdFerias").value = Id;
        var modal = Bulma('#modalApagarFerias').modal();
        modal.open();
    }

    function ConfirmApagarFerias2(Id) {
        document.getElementById("hiddenIdFerias").value = Id;
        var modal = Bulma('#modalApagarFerias2').modal();
        modal.open();
    }

    function ApagarFerias2() {
        document.getElementById("btnApagarFerias2").classList.add("is-loading");
        var json = {
            id: document.getElementById('hiddenIdFerias').value
        };

        $.ajax({
            type: "DELETE",
            url: "/Ferias/Ferias",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });

    }

    function ApagarFerias() {
        document.getElementById("btnApagarFerias").classList.add("is-loading");
        var json = {
            id: document.getElementById('hiddenIdFerias').value,
            obs: document.getElementById('txtObsApagar').value
        };

        $.ajax({
            type: "DELETE",
            url: "/Ferias/Ferias",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });

    }

    function ValidarFerias() {
        document.getElementById("btnValidarFerias").classList.add("is-loading");
        var json = {
            id: document.getElementById('hiddenIdFerias').value,
            obs: document.getElementById('txtObsValidar').value
        };

        $.ajax({
            type: "POST",
            url: "/Ferias/Validar",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });
    }
</script>
