@model FT_Management.Models.FolhaObra

@{
    ViewData["Title"] = "Nova Folha de Obra";
}

<link rel="stylesheet" href="~/lib/bulma-steps/dist/css/bulma-steps.min.css">
<script src="~/lib/bulma-steps/dist/js/bulma-steps.min.js"></script>

<style>
    .wrapper {
        position: relative;
        width: 400px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 400px;
        height: 200px;
        background-color: white;
    }
</style>

<form asp-action="Adicionar" name="frmAdicionar" id="frmAdicionar">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-12">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                <span>Nova Folha de Obra</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <input type="hidden" class="input" asp-for="RubricaCliente" id="txtRubricaCliente">

    <div class="container">
        <div class="steps is-small" id="stepsDemo">
            <div class="step-item is-active">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Equipamento</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Intervenção</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Relatório</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                    <p class="step-title">Peças</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">5</div>
                <div class="step-details">
                    <p class="step-title">Outros</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">6</div>
                <div class="step-details">
                    <p class="step-title">Rúbrica</p>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="hero is-danger is-medium">&nbsp;</div>
            <div class="steps-actions">
                <div class="steps-action">
                    <a href="#" data-nav="previous" id="stepsPrevious" class="is-fullwidth button is-light">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Anterior</span>
                    </a>
                </div>
                <div class="steps-action">
                    <a href="#" data-nav="next" id="stepsNext" onclick="resizeCanvas();"
                        class="is-fullwidth button is-light">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span>Próximo</span>
                    </a>
                </div>
            </div>
            <div class="steps-content">
                <div class="step-content is-active">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="EquipamentoServico.NumeroSerieEquipamento"></label>
                                <div class="control">
                                    <input type="hidden" asp-for="EquipamentoServico.EquipamentoStamp"
                                        id="txtEquipamentoStamp" />
                                    <p class="control has-icons-left">
                                        <input type="text" class="input" inputmode="numeric"
                                            asp-for="EquipamentoServico.NumeroSerieEquipamento" id="txtEquipamento">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <span asp-validation-for="EquipamentoServico.EquipamentoStamp"
                                    class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-4">
                            <div class="field">
                                <div class="control">
                                    <input type="date" class="input "
                                        value="@(DateTime.Parse(Model.DataServico.ToString()).ToString("yyyy-MM-dd"))"
                                        asp-for="DataServico" id="txtData">
                                    <script>
                                        bulmaCalendar.attach('#txtData', {
                                            color: 'info',
                                            lang: 'pt',
                                            displayMode: 'inline',
                                            dateFormat: 'dd/MM/yyyy',
                                            todayLabel: 'Hoje',
                                            showClearButton: false,
                                            cancelLabel: 'Cancelar'
                                        });
                                    </script>
                                </div>
                                <span asp-validation-for="DataServico" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label>Inicio</label>
                                <div class="control">
                                    <input type="time" class="input" id="txtHoraInicio"
                                        value="@Model.IntervencaosServico.First().HoraInicio.ToShortTimeString()">
                                </div>
                            </div>
                            <div class="field">
                                <label>Fim</label>
                                <div class="control">
                                    <input type="time" class="input" id="txtHoraFim"
                                        value="@Model.IntervencaosServico.First().HoraFim.ToShortTimeString()">
                                </div>
                            </div>
                            <button type="button" onclick="AdicionarIntervencao()"
                                class="button is-info is-outlined is-fullwidth">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Adicionar Intervenção</span>
                            </button>

                        </div>
                        <div class="column is-4">
                            <label asp-for="ListaIntervencoes"></label>
                            <input type="hidden" class="input" asp-for="ListaIntervencoes" id="ListaIntervencoes">
                            <div class="list has-visible-pointer-controls" id="divListaIntervencoes">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="RelatorioServico"></label>
                                <div class="control">
                                    <textarea class="textarea is-primary" rows="15"
                                        asp-for="RelatorioServico"></textarea>
                                </div>
                                <span asp-validation-for="RelatorioServico" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="SituacoesPendentes"></label>
                                <div class="control">
                                    <textarea class="textarea is-primary" rows="15"
                                        asp-for="SituacoesPendentes"></textarea>
                                </div>
                                <span asp-validation-for="SituacoesPendentes" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field">
                                <div class="field has-addons">
                                    <p class="control has-icons-left" style="width:100%">
                                        <span class="select" style="width:100%">
                                            <select id="selectPecas" style="width:100%"></select>
                                        </span>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                    <div class="control">
                                        <a class="button is-info"
                                            onclick="ObterPeca(document.getElementById('selectPecas').value)">
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <span asp-validation-for="PecasServico" class="has-text-danger"></span>
                        </div>

                        <div class="column is-12">
                            <label asp-for="ListaPecas"></label>
                            <input type="hidden" class="input" asp-for="ListaPecas" id="ListaPecas">
                            <div class="list has-visible-pointer-controls" id="divListaPecas">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="EstadoFolhaObra"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width:100%">
                                        <select asp-for="EstadoFolhaObra" asp-items="ViewBag.EstadoFolhaObra"
                                            class="form-control" style="width:100%">
                                        </select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="EstadoFolhaObra" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="TipoFolhaObra"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width:100%">
                                        @{
                                            var LstTipoFolhaObra = ViewData["TipoFolhaObra"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%" asp-for="TipoFolhaObra"
                                            asp-items="@(new SelectList(LstTipoFolhaObra))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="TipoFolhaObra" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="EmGarantia">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.EmGarantia)</span>
                                </label>
                                <span asp-validation-for="EmGarantia" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="Avisar">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Avisar)</span>
                                </label>
                                <span asp-validation-for="Avisar" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="RecolhaOficina">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model =>
                                        model.RecolhaOficina)</span>
                                </label>
                                <span asp-validation-for="RecolhaOficina" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="ConferidoPor"></label>
                                <div class="control">
                                    <input class="input is-primary" type="text" asp-for="ConferidoPor" />
                                </div>
                                <span asp-validation-for="ConferidoPor" class="has-text-danger"></span>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="wrapper" style="width: 100%;" id="divRubrica">
                                <canvas id="signature-pad" class="signature-pad"
                                    style="width:100%;border:2px solid #000000;"></canvas>
                            </div>
                            <br />
                            <button class="button is-info" type="button" id="btnDesfazerRubrica">Desfazer</button>
                            <button class="button is-danger" type="button"
                                onclick="signaturePad.clear();">Limpar</button>
                        </div>
                        &nbsp;
                        <button type="button" onclick="ValidarFolhaObra()" class="button is-info is-large is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Criar Folha de Obra</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div class="columns is-multiline mx-1 ">
            <div class="column is-12">
                <div class="field">
                    <label asp-for="ClienteServico.NomeCliente"></label>
                    <div class="control">
                        <input type="hidden" asp-for="ClienteServico.IdCliente" id="txtIdCliente" />
                        <input type="hidden" asp-for="ClienteServico.IdLoja" id="txtIdLoja" />
                        <p class="control has-icons-left">
                            <input type="text" class="input" value="@Model.ClienteServico.NomeCliente"
                                asp-for="ClienteServico.NomeCliente" id="txtCustomer">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-check"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="ClienteServico.IdCliente" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="ReferenciaServico"></label>
                    <div class="control">
                        <p class="control">
                            <input type="text" class="input" asp-for="ReferenciaServico">
                        </p>
                    </div>
                    <span asp-validation-for="ReferenciaServico" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="IdMarcacao"></label>
                    <div class="control">
                        <p class="control">
                            <input type="text" class="input" asp-for="IdMarcacao">
                        </p>
                    </div>
                    <span asp-validation-for="IdMarcacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="CobrarDeslocacao" id="chkCobrarDeslocacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.CobrarDeslocacao)</span>
                    </label>
                    <span asp-validation-for="CobrarDeslocacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="EnviarEmail" id="chkEnviarEmail">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model => model.EnviarEmail)</span>
                    </label>
                    <span asp-validation-for="EnviarEmail" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="GuardarLocalizacao" id="chkGuardarLocalizacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.GuardarLocalizacao)</span>
                    </label>
                    <span asp-validation-for="GuardarLocalizacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="FecharMarcacao" id="chkFecharMarcacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.FecharMarcacao)</span>
                    </label>
                    <span asp-validation-for="FecharMarcacao" class="has-text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal" id="modalDeslocacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Deslocação</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja cobrar a deslocação a este cliente?</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="CobrarDeslocacao(true)">Sim</button>
            <button class="button" onclick="CobrarDeslocacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalEnviarEmail">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Email</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja enviar um email com a folha de obra para o cliente?</p>
            <input type="email" class="input" asp-for="EmailCliente" id="txtEmailCliente" />
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="EnviarEmail(true)">Sim</button>
            <button class="button" onclick="EnviarEmail(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalGuardarLocalizacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Localização</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja guardar a localização atual do cliente?</p>
            <div class="field">
                <div class="control">
                    <input class="input is-primary" type="text" disabled
                        asp-for="Utilizador.Viatura.LocalizacaoMorada" />
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="GuardarLocalizacao(true)">Sim</button>
            <button class="button" onclick="GuardarLocalizacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalGuardarLocalizacao2">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Localização</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja guardar a localização atual do cliente?</p>
            <div class="field has-addons">
                <div class="control" style="width:100%">
                    <input class="input is-primary" type="text" disabled
                        asp-for="Utilizador.Viatura.LocalizacaoMorada" />
                </div>
                <p class="control">
                    <a class="button is-static">
                        @Model.Utilizador.Viatura.Matricula
                    </a>
                </p>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="GuardarLocalizacao2()">Sim</button>
            <button class="button" onclick="Bulma('#modalGuardarLocalizacao2').modal().close();">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalFecharMarcacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Marcação</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Deseja fechar a marcação?</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="FecharMarcacao(true)">Sim</button>
            <button class="button" onclick="FecharMarcacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Validar Mensagens</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">Mensagens:</label></div>
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <div class="control"><textarea type="text" class="textarea" id="txtMensagens" readonly rows=8
                                value=""></textarea></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="GerarCodigo();" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-check-circle"></i>
                </span>
                <span>Gerar Código</span>
            </button>
        </footer>
    </div>
</div>

<div class="modal" id="modalAguardarValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Por favor aguarde ...</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <p class="title has-text-centered has-text-weight-bold" style="font-size:150px" id='countdown'>
                        </p><progress class="progress is-info is-large" id='pb_timer'></progress>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    bulmaSteps.attach('.steps', {
        onShow: id => {
            if (id == 5) {
                resizeCanvas();
            }
        },
        onError: error => {
            console.log(error);
        }
    });

    var canvas = document.getElementById('signature-pad');
    signaturePad = new SignaturePad(canvas);

    document.getElementById('btnDesfazerRubrica').addEventListener('click', function () {
        var data = signaturePad.toData();
        if (data) {
            data.pop(); // remove the last dot or line
            signaturePad.fromData(data);
        }
    });

    function resizeCanvas() {
        const data = signaturePad.toData();

        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        if (canvas.width == 0) { canvas.width = canvas.offsetWidth; canvas.height = 200; }

        signaturePad.clear();
        if (data.length > 0) { signaturePad.fromData(data) };
    }

    window.onresize = function (event) {
        resizeCanvas();
    };

    resizeCanvas();

    CarregarIntervencoes();
    CarregarPecas();

    let interval;
    let time = 0;
    let stamp_codigo = '';
    function AtualizarTimer() {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;

        seconds = seconds < 10 ? '0' + seconds : seconds;

        document.getElementById('countdown').innerHTML = minutes + ':' + seconds;
        document.getElementById('pb_timer').value = time;
        time--;
        if (seconds % 10 === 0) ValidarCodigo(stamp_codigo);
    }

    function CriarCodigo(stamp) {
        $.ajax({
            type: "POST",
            url: "/FolhasObra/CriarCodigo/" + stamp,
            data: { "obs": document.getElementById("txtMensagens").value }
        });
    }

    function ValidarCodigo(stamp) {
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ValidarCodigo/" + stamp,
            success: function (result) {
                $(function () {
                    if (result == "1") {
                        bulmaToast.toast({
                            message: 'Código aprovado com sucesso!',
                            type: 'is-success',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        });
                        clearInterval(interval);
                        Bulma('#modalAguardarValidacao').modal().close();
                        Bulma('#modalDeslocacao').modal().open();
                    } else if (result == "2") {
                        bulmaToast.toast({
                            message: 'O código foi rejeitado pelo utilizador!',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        });
                        clearInterval(interval);
                        Bulma('#modalAguardarValidacao').modal().close();
                    }
                });
            }
        });
    }

    function ValidarFolhaObra() {
        document.getElementById('txtRubricaCliente').value = canvas.toDataURL();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/ValidarFolhaObra",
            data: $("#frmAdicionar").serialize(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                $(function () {
                    document.getElementById("txtMensagens").value = result;
                    if (result != "") {
                        Bulma('#modalValidacao').modal().open();
                    } else {
                        Bulma('#modalDeslocacao').modal().open();
                    }
                });
            }
        });
    }

    function GerarCodigo() {
        stamp_codigo = Date.now() + Math.random();
        CriarCodigo(stamp_codigo);
        time = 5 * 60;
        interval = setInterval(AtualizarTimer, 1000);
        document.getElementById('pb_timer').max = time;

        Bulma('#modalValidacao').modal().close();
        Bulma('#modalAguardarValidacao').modal().open();
    }
    function CobrarDeslocacao(valor) {
        document.getElementById('chkCobrarDeslocacao').checked = valor;
        Bulma('#modalDeslocacao').modal().close();

        Bulma('#modalEnviarEmail').modal().open();
    }
    function EnviarEmail(valor) {
        document.getElementById('chkEnviarEmail').checked = valor;
        Bulma('#modalEnviarEmail').modal().close();

        Bulma('#modalGuardarLocalizacao').modal().open();
    }
    function GuardarLocalizacao(valor) {
        document.getElementById('chkGuardarLocalizacao').checked = valor;
        Bulma('#modalGuardarLocalizacao').modal().close();

        Bulma('#modalFecharMarcacao').modal().open();
    }
    function FecharMarcacao(valor) {
        document.getElementById('chkFecharMarcacao').checked = valor;
        Bulma('#modalFecharMarcacao').modal().close();

        document.getElementById('frmAdicionar').submit();
    }
    function GuardarLocalizacao2() {
        $.ajax({
            url: '/FolhasObra/GuardarLocalizacao/',
            data: { "IdCliente": document.getElementById("txtIdCliente").value, "IdLoja": document.getElementById("txtIdLoja").value },
            type: "POST",
            success: function (response) {
                var equipamentos = "";
                $(response).each(function () {
                    equipamentos = equipamentos + '<option value="' + this.idEquipamento + '">' + this.descricaoEquipamento + '</option>'
                });

                var equipamentosList = $("#selectEquipamentos");
                equipamentosList.empty();
                equipamentosList.append(equipamentos);
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });

        Bulma('#modalGuardarLocalizacao2').modal().close();

    }

    function AdicionarIntervencao() {
        if (moment(document.getElementById('txtHoraInicio').value, "HH:mm", true).isValid() && moment(document.getElementById('txtHoraFim').value, "HH:mm", true).isValid()) {
            document.getElementById('divListaIntervencoes').innerHTML += `<div class="list-item" id="lst-datas-${document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value}"><div class="list-item-title" style="width:80%">${document.getElementById('txtHoraInicio').value} - ${document.getElementById('txtHoraFim').value}</div><div class="list-item-controls"><div class="buttons is-right"><button class="button is-danger" type="button" onclick="RemoverIntervencao('${document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value}')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>`;
            document.getElementById('ListaIntervencoes').value = `${document.getElementById('ListaIntervencoes').value + document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value};`;
        }
    }

    function RemoverIntervencao(data) {
        document.getElementById('lst-datas-' + data).remove();
        document.getElementById('ListaIntervencoes').value = document.getElementById('ListaIntervencoes').value.replace(data + ';', '');
        if (document.getElementById('ListaIntervencoes').value.slice(-1) != ";" && document.getElementById('ListaIntervencoes').value != "") document.getElementById('ListaIntervencoes').value = document.getElementById('ListaIntervencoes').value + ";";
    }

    function CarregarIntervencoes() {
        var intervencoes = document.getElementById('ListaIntervencoes').value;
        document.getElementById('ListaIntervencoes').value = '';

        intervencoes.split(";").forEach(function (item) {
            console.log(item.split("|")[0]);
            console.log(item.split("|")[1]);
            document.getElementById('txtHoraInicio').value = item.split("|")[0];
            document.getElementById('txtHoraFim').value = item.split("|")[1];
            AdicionarIntervencao();
        });
        document.getElementById('txtHoraInicio').value = '@Model.IntervencaosServico.First().HoraInicio.ToShortTimeString()';
        document.getElementById('txtHoraFim').value = '@Model.IntervencaosServico.First().HoraFim.ToShortTimeString()';
    }

    function AdicionarPeca(ref, desig) {
        document.getElementById('divListaPecas').innerHTML += `<div class="list-item" id="${ref}"><div class="list-item-title" style="width:80%">${ref + ' - ' + desig + ' (1 UN)'}</div><div class="list-item-controls"><div class="buttons is-right"><button class="button is-danger" type="button" onclick="RemoverPeca('${ref}')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>`;
        document.getElementById('ListaPecas').value = `${document.getElementById('ListaPecas').value + ref};`;
    }

    function RemoverPeca(ref) {
        document.getElementById(ref).remove();
        document.getElementById('ListaPecas').value = document.getElementById('ListaPecas').value.replace(ref + ';', '');
        if (document.getElementById('ListaPecas').value.slice(-1) != ";" && document.getElementById('ListaPecas').value != "") document.getElementById('ListaPecas').value = document.getElementById('ListaPecas').value + ";";
    }

    function CarregarPecas() {
        $.ajax({
            url: '/Produtos/ObterPecasUtilizador/',
            type: "POST",
            success: function (response) {
                var pecas = "";
                $(response).each(function () {
                    pecas = pecas + '<option value="' + this.ref_Produto + '">' + this.ref_Produto + ' - ' + this.designacao_Produto + ' (' + (this.stock_PHC - this.stock_Res + this.stock_Rec) + ' UN)</option>'
                });

                var pecasList = $("#selectPecas");
                pecasList.empty();
                pecasList.append(pecas);
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }

    function ObterPeca(ref) {
        $.ajax({
            url: '/Produtos/ObterPeca?ref_produto=' + ref,
            type: "POST",
            success: function (response) {
                AdicionarPeca(response.ref_Produto, response.designacao_Produto)
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });

    }

    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Clientes/ObterClientes/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente + " (" + item.idCliente + " - " + item.idLoja + ")",
                                val: item.idCliente,
                                val2: item.idLoja
                            };
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#txtIdCliente").val(i.item.val);
                $("#txtIdLoja").val(i.item.val2);
            },
            minLength: 1
        });
    });

    $(function () {
        $("#txtEquipamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Equipamentos/ObterEquipamentos/',
                    data: { "prefix": request.term, "no": "@Model.ClienteServico.IdCliente", "loja": "@Model.ClienteServico.IdLoja" },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.numeroSerieEquipamento + " (" + item.marcaEquipamento + " - " + item.modeloEquipamento + ")",
                                val: item.equipamentoStamp
                            };
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#txtEquipamentoStamp").val(i.item.val);
            },
            minLength: 1
        });
    });


    (document.querySelectorAll('#modalAguardarValidacao') || []).forEach(($close) => {
        const $target = $close.closest('#modalAguardarValidacao');

        $close.addEventListener('click', () => {
            if (!($target.classList.contains('is-active'))) clearInterval(interval);
        });
    });
</script>
