@model FT_Management.Models.FolhaObra

@{
    ViewData["Title"] = "Nova Folha de Obra - " + @Model.ClienteServico.NomeCliente;
}

<link rel="stylesheet" href="~/lib/bulma-steps/dist/css/bulma-steps.min.css">
<script src="~/lib/bulma-steps/dist/js/bulma-steps.min.js"></script>

<style>
    .wrapper {
        position: relative;
        width: 400px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 400px;
        height: 200px;
        background-color: white;
    }
</style>
<div class="pageloader is-info" id="pageloader"><span class="title">A carregar ...</span></div>
<form asp-action="FolhaObra" method="POST" name="frmAdicionar" id="frmAdicionar">
    <div class="container">
        <div class="columns is-mobile is-centered">
            <div class="column is-12">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                                <span>Nova Folha de Obra - @Model.ClienteServico.NomeCliente</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <input type="hidden" class="input" asp-for="RubricaCliente" id="txtRubricaCliente">

    <div class="container">
        <div class="steps is-small" id="stepsDemo">
            <div class="step-item is-active">
                <div class="step-marker">1</div>
                <div class="step-details">
                    <p class="step-title">Equipamento</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">2</div>
                <div class="step-details">
                    <p class="step-title">Intervenção</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">3</div>
                <div class="step-details">
                    <p class="step-title">Relatório</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">4</div>
                <div class="step-details">
                    <p class="step-title">Peças</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">5</div>
                <div class="step-details">
                    <p class="step-title">Outros</p>
                </div>
            </div>
            <div class="step-item">
                <div class="step-marker">6</div>
                <div class="step-details">
                    <p class="step-title">Rúbrica</p>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="hero is-danger is-medium">&nbsp;</div>
            <div class="steps-actions">
                <div class="steps-action">
                    <button data-nav="previous" id="stepsPrevious" class="is-fullwidth button is-danger" type="button">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Anterior</span>
                    </button>
                </div>
                <div class="steps-action">
                    <button data-nav="next" id="stepsNext" onclick="resizeCanvas();"
                        class="is-fullwidth button is-success" type="button">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span>Próximo</span>
                    </button>
                </div>
            </div>
            <div class="steps-content">
                <div class="step-content is-active">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field ">
                                <label asp-for="EquipamentoServico.NumeroSerieEquipamento"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <input type="hidden" asp-for="EquipamentoServico.EquipamentoStamp"
                                            id="txtEquipamentoStamp" />
                                        <p class="control has-icons-left">
                                            <input type="text" class="input"
                                                asp-for="EquipamentoServico.NumeroSerieEquipamento" id="txtEquipamento">
                                            <span class="icon is-small is-left">
                                                <i class="fa-solid fa-display"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="control">
                                        <label class="mx-1 switch is-large is-outlined" style="height:40px">
                                            <input type="checkbox" id="chkDesbloquearEquipamentos"
                                                onchange="DesbloquearEquipamentos();">
                                            <span class="check is-success"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control buttons">
                                        <button class="button is-secondary is-fullwidth" type="button"
                                            onclick="LimparEquipamento()">
                                            <span class="icon">
                                                <i class="fa-solid fa-backspace"></i>
                                            </span>
                                            <span>Limpar</span>
                                        </button>
                                        <button type="button" class="button is-info is-fullwidth" id="btnObterHistorico"
                                            onclick="ObterHistoricoEquipamento()" disabled>
                                            <span class="icon">
                                                <i class="fas fa-history"></i>
                                            </span>
                                            <span>Histórico de Manutenções</span>
                                        </button>
                                        <button type="button" class="button is-success is-fullwidth"
                                            id="btnObterEquipamentos" onclick="ObterEquipamentosCliente()">
                                            <span class="icon">
                                                <i class="fas fa-desktop"></i>
                                            </span>
                                            <span>Visualizar Equipamentos do Cliente</span>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="EquipamentoServico.EquipamentoStamp"
                                    class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-4">
                            <label asp-for="ListaIntervencoes"></label>
                            <input type="hidden" class="input" asp-for="ListaIntervencoes" id="ListaIntervencoes">
                            <div class="list has-visible-pointer-controls" id="divListaIntervencoes">
                            </div>
                            <button id="btnZeroIntervencoes"
                                class="button is-danger my-1 is-large is-rounded is-fullwidth" disabled>Sem
                                Intervenções</button>
                            <span asp-validation-for="ListaIntervencoes" class="has-text-danger"></span>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <div class="control">
                                    <input type="date" class="input "
                                        value="@(DateTime.Parse(Model.DataServico.ToString()).ToString("yyyy-MM-dd"))"
                                        asp-for="DataServico" id="txtData">
                                    <script>
                                        bulmaCalendar.attach('#txtData', {
                                            color: 'info',
                                            lang: 'pt',
                                            dateFormat: 'dd/MM/yyyy',
                                            todayLabel: 'Hoje',
                                            showClearButton: false,
                                            cancelLabel: 'Cancelar'
                                        });
                                    </script>
                                </div>
                                <span asp-validation-for="DataServico" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label>Inicio</label>
                                <div class="control">
                                    <input type="time" class="input" id="txtHoraInicio"
                                        value="@Model.IntervencaosServico.First().HoraInicio.ToShortTimeString()">
                                </div>
                            </div>
                            <div class="field">
                                <label>Fim</label>
                                <div class="control">
                                    <input type="time" class="input" id="txtHoraFim"
                                        value="@Model.IntervencaosServico.First().HoraFim.ToShortTimeString()">
                                </div>
                            </div>
                            <button type="button" onclick="AdicionarIntervencao()" class="button is-info is-fullwidth">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Adicionar Intervenção</span>
                            </button>

                        </div>

                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="RelatorioServico"></label>
                                <div class="control">
                                    <textarea class="textarea is-primary" rows="15"
                                        asp-for="RelatorioServico"></textarea>
                                </div>
                                <span asp-validation-for="RelatorioServico" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="SituacoesPendentes"></label>
                                <div class="control">
                                    <textarea class="textarea is-primary" rows="15"
                                        asp-for="SituacoesPendentes"></textarea>
                                </div>
                                <span asp-validation-for="SituacoesPendentes" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-12">
                            <div class="field ">
                                <label asp-for="PecasServico"></label>
                                <div class="field has-addons">
                                    <div class="control" style="width:100%">
                                        <p class="control has-icons-left">
                                            <input type="text" class="input" id="txtPecas">
                                            <span class="icon is-small is-left">
                                                <i class="fa-solid fa-gears"></i>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <button type="button" class="button is-primary is-outlined"
                                                onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) - 1">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="control" style="width:75px">
                                            <input type="number" class="input" id="txtQtd" value="1">
                                        </div>
                                        <div class="control">
                                            <button type="button" class="button is-primary is-outlined"
                                                onclick="document.getElementById('txtQtd').value = parseInt(document.getElementById('txtQtd').value) + 1">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <input type="hidden" class="input" id="txtStampPeca">
                                    <span asp-validation-for="PecasServico" class="has-text-danger"></span>
                                </div>
                            </div>
                            <div class="control buttons">
                                <button class="button is-info is-fullwidth" type="button"
                                    onclick="ObterPeca(document.getElementById('txtStampPeca').value, document.getElementById('txtQtd').value)"
                                    disabled id="btnAdicionarPeca">
                                    <span class="icon">
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                    <span>Adicionar Peça</span>
                                </button>
                                <button class="button is-secondary is-fullwidth" type="button" onclick="LimparPecas()">
                                    <span class="icon">
                                        <i class="fa-solid fa-backspace"></i>
                                    </span>
                                    <span>Limpar</span>
                                </button>
                                <button type="button" class="button is-success is-fullwidth"
                                    onclick="Bulma('#modalPecas').modal().open();">
                                    <span class="icon">
                                        <i class="fa-solid fa-list-ul"></i>
                                    </span>
                                    <span>Visualizar Stock</span>
                                </button>

                            </div>
                            <div class="column is-12">
                                <label asp-for="ListaPecas"></label>
                                <input type="hidden" class="input" asp-for="ListaPecas" id="ListaPecas">
                                <div class="list has-visible-pointer-controls" id="divListaPecas">
                                </div>
                                <button id="btnZeroPecas" class="button is-danger my-1 is-large is-rounded is-fullwidth"
                                    disabled>Sem Peças</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="EstadoFolhaObra"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width:100%">
                                        <select asp-for="EstadoFolhaObra" asp-items="ViewBag.EstadoFolhaObra"
                                            class="form-control" style="width:100%">
                                        </select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="EstadoFolhaObra" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="TipoFolhaObra"></label>
                                <p class="control has-icons-left">
                                    <span class="select" style="width:100%">
                                        @{
                                            var LstTipoFolhaObra = ViewData["TipoFolhaObra"] as IList<String>;
                                        }
                                        <select class="select" id="lstTipoFO" style="width:100%" asp-for="TipoFolhaObra"
                                            asp-items="@(new SelectList(LstTipoFolhaObra))"></select>
                                    </span>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hourglass"></i>
                                    </span>
                                </p>
                                <span asp-validation-for="TipoFolhaObra" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="EmGarantia">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model =>
                                        model.EmGarantia)</span>
                                </label>
                                <span asp-validation-for="EmGarantia" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="Avisar">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model => model.Avisar)</span>
                                </label>
                                <span asp-validation-for="Avisar" class="has-text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-3 my-auto">
                            <div class="field">
                                <label class="switch is-rounded">
                                    <input type="checkbox" asp-for="RecolhaOficina">
                                    <span class="check is-info"></span>
                                    <span class="control-label">@Html.DisplayNameFor(model =>
                                        model.RecolhaOficina)</span>
                                </label>
                                <span asp-validation-for="RecolhaOficina" class="has-text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-content">
                    <div class="columns is-multiline mx-1">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="ConferidoPor"></label>
                                <div class="control">
                                    <input class="input is-primary" type="text" asp-for="ConferidoPor" />
                                </div>
                                <span asp-validation-for="ConferidoPor" class="has-text-danger"></span>
                            </div>
                            <div class="field mb-6">
                                <p class="control">
                                    <button type="button" class="button is-primary is-pulled-right is-fullwidth"
                                        onclick="Bulma('#modalAdicionarAnexo').modal().open();">
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span>Adicionar Anexos</span>
                                    </button>
                                </p>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="wrapper" style="width: 100%;" id="divRubrica">
                                <canvas id="signature-pad" class="signature-pad"
                                    style="width:100%;border:2px solid #000000;"></canvas>
                            </div>
                            <br />
                            <button class="button is-warning" type="button" id="btnDesfazerRubrica">Desfazer</button>
                            <button class="button is-danger" type="button"
                                onclick="signaturePad.clear();">Limpar</button>
                        </div>

                        &nbsp;
                        <button type="button" onclick="ValidarFolhaObra()" class="button is-info is-large is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Criar Folha de Obra</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div class="columns is-multiline mx-1 ">
            <input type="text" class="input" asp-for="FicheirosAnexo" id="Ficheiros">
            <input type="email" class="input" asp-for="EmailCliente" id="EmailCliente" />
            <div class="column is-12">
                <div class="field">
                    <label asp-for="ClienteServico.NomeCliente"></label>
                    <div class="control">
                        <input type="hidden" asp-for="ClienteServico.IdCliente" id="txtIdCliente" />
                        <input type="hidden" asp-for="ClienteServico.IdLoja" id="txtIdLoja" />
                        <p class="control has-icons-left">
                            <input type="text" class="input" value="@Model.ClienteServico.NomeCliente"
                                asp-for="ClienteServico.NomeCliente" id="txtCustomer">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user-check"></i>
                            </span>
                        </p>
                    </div>
                    <span asp-validation-for="ClienteServico.IdCliente" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="ReferenciaServico"></label>
                    <div class="control">
                        <p class="control">
                            <input type="text" class="input" asp-for="ReferenciaServico">
                        </p>
                    </div>
                    <span asp-validation-for="ReferenciaServico" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label asp-for="IdMarcacao"></label>
                    <div class="control">
                        <p class="control">
                            <input type="text" class="input" asp-for="IdMarcacao">
                        </p>
                    </div>
                    <span asp-validation-for="IdMarcacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="CobrarDeslocacao" id="chkCobrarDeslocacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.CobrarDeslocacao)</span>
                    </label>
                    <span asp-validation-for="CobrarDeslocacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="Piquete" id="chkPiquete">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.Piquete)</span>
                    </label>
                    <span asp-validation-for="Piquete" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="EnviarEmail" id="chkEnviarEmail">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model => model.EnviarEmail)</span>
                    </label>
                    <span asp-validation-for="EnviarEmail" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="GuardarLocalizacao" id="chkGuardarLocalizacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.GuardarLocalizacao)</span>
                    </label>
                    <span asp-validation-for="GuardarLocalizacao" class="has-text-danger"></span>
                </div>
            </div>
            <div class="column is-3 my-auto">
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" asp-for="FecharMarcacao" id="chkFecharMarcacao">
                        <span class="check is-info"></span>
                        <span class="control-label">@Html.DisplayNameFor(model =>
                            model.FecharMarcacao)</span>
                    </label>
                    <span asp-validation-for="FecharMarcacao" class="has-text-danger"></span>
                </div>
            </div>
        </div>
    </div>

</form>


<div id="modalAdicionarAnexo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Anexo</p>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <form action="/Dossiers/Anexo" method="POST" class="dropzone" id="dropAnexo">
                    <div class="dz-message needsclick">
                        Largue vários anexos aqui para fazer o upload
                    </div>
                </form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                onclick="Bulma('#modalAdicionarAnexo').modal().close();" id="btnConfirmAddAnexo"
                href="javascript:;">Fechar</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalDeslocacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Deslocação</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja cobrar a deslocação a este cliente?</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="CobrarDeslocacao(true)">Sim</button>
            <button class="button" onclick="CobrarDeslocacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalEnviarEmail">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Email</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja enviar um email com a folha de obra para o cliente?</p>
            <input type="email" class="input" asp-for="EmailCliente" id="txtEmailCliente" />
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="EnviarEmail(true)">Sim</button>
            <button class="button" onclick="EnviarEmail(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalGuardarLocalizacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Localização</p>
        </header>
        <section class="modal-card-body">
            <p>Deseja guardar a localização atual do cliente?</p>
            <div class="field has-addons">
                <div class="control" style="width:100%">
                    <input class="input is-primary" type="text" disabled
                        asp-for="Utilizador.Viatura.LocalizacaoMorada" />
                </div>
                <p class="control">
                    <a class="button is-static">
                        @Model.Utilizador.Viatura.Matricula
                    </a>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="GuardarLocalizacao(true)">Sim</button>
            <button class="button" onclick="GuardarLocalizacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalFecharMarcacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Marcação</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Deseja fechar a marcação?</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="FecharMarcacao(true)">Sim</button>
            <button class="button" onclick="FecharMarcacao(false)">Não</button>
        </footer>
    </div>
</div>

<div class="modal" id="modalValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Validar Mensagens</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">Mensagens:</label></div>
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <div class="control"><textarea type="text" class="textarea" id="txtMensagens" readonly rows=8
                                value=""></textarea></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            @if (User.IsInRole("Admin"))
            {
                <button type="button" class="button is-info" onclick="AbrirMensagens();" href="javascript:;">
                    <span class="icon">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <span>Ignorar</span>
                </button>
            }
            else
            {
                <button type="button" class="button is-info" onclick="GerarCodigo();" href="javascript:;">
                    <span class="icon">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <span>Gerar Código</span>
                </button>
            }

        </footer>
    </div>
</div>

<div class="modal" id="modalAguardarValidacao">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Por favor aguarde ...</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field" style="width:100%">
                        <p class="title has-text-centered has-text-weight-bold" style="font-size:125px" id='countdown'>
                        </p><progress class="progress is-info is-large" id='pb_timer'></progress>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="modalObterHistorico" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Histórico de Intervenções</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p> </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                onclick="Bulma('#modalObterHistorico').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>


<div id="modalObterHistoricoVazio" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Histórico de Intervenções</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <button class="button is-danger is-outlined is-rounded is-fullwidth">Não existem intervenções!</button>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                onclick="Bulma('#modalObterHistoricoVazio').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalEquipamentos" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Equipamentos</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p> </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                onclick="Bulma('#modalEquipamentos').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>
<div id="modalPecas" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Peças em Stock</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p> </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-large is-fullwidth"
                onclick="Bulma('#modalPecas').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    bulmaSteps.attach('.steps', {
        onShow: id => {
            if (id == 5) {
                resizeCanvas();
            }
        }
    });

    (document.querySelectorAll('#modalAguardarValidacao') || []).forEach(($close) => {
        const $target = $close.closest('#modalAguardarValidacao');

        $close.addEventListener('click', () => {
            if (!($target.classList.contains('is-active'))) clearInterval(interval);
        });
    });


    Dropzone.options.dropAnexo = { // camelized version of the `id`
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 10, // MB
        success: function (file) {
            document.getElementById('Ficheiros').value += file.xhr.response.replace('"', '').replace('"', '') + ";";
            console.log(document.getElementById('Ficheiros').value);
        }
    };

    var canvas = document.getElementById('signature-pad');
    signaturePad = new SignaturePad(canvas, {
        minWidth: 0.5,
        maxWidth: 1
    });

    document.getElementById('btnDesfazerRubrica').addEventListener('click', function () {
        var data = signaturePad.toData();
        if (data) {
            data.pop(); // remove the last dot or line
            signaturePad.fromData(data);
        }
    });

    function resizeCanvas() {
        const data = signaturePad.toData();

        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        if (canvas.width == 0) { canvas.width = canvas.offsetWidth; canvas.height = 200; }

        signaturePad.clear();
        if (data.length > 0) { signaturePad.fromData(data) };
        if (data.length == 0) { signaturePad.fromDataURL('data:image/png;base64,' + document.getElementById('txtRubricaCliente').value); }
    }

    window.onresize = function (event) {
        resizeCanvas();
    };

    resizeCanvas();

    CarregarIntervencoes();
    CarregarPecasStock();
    CarregarPecas();

    function ValidarFolhaObra() {
        document.getElementById('txtRubricaCliente').value = signaturePad.isEmpty() ? "" : canvas.toDataURL();
        notify("A validar folha de obra ...");
        $.ajax({
            type: "POST",
            url: "/FolhasObra/Validar",
            data: $("#frmAdicionar").serialize(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                $(function () {
                    document.getElementById("txtMensagens").value = result;
                    if (result != "") {
                        Bulma('#modalValidacao').modal().open();
                    } else {
                        notify("Folha de Obra sem mensagens de validação!");
                        AbrirMensagens();
                    }
                });
            }
        });
    }

    function DesbloquearEquipamentos() {
        if (!chkDesbloquearEquipamentos.checked) {
            notify('Listagem de equipamentos bloqueada!');
        } else {
            notify('Listagem de equipamentos desbloqueada!');
        }
    }
    //CODIGO DE VALIDACAO
    let interval;
    let time = 0;
    let stamp_codigo = '';
    function AtualizarTimer() {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;

        seconds = seconds < 10 ? '0' + seconds : seconds;

        document.getElementById('countdown').innerHTML = minutes + ':' + seconds;
        document.getElementById('pb_timer').value = time;
        time--;
        if (seconds % 10 === 0) ValidarCodigo(stamp_codigo);
        if (time <= 0) { clearInterval(interval); Bulma('#modalAguardarValidacao').modal().close(); notifyError("Por favor tente novamente. Excedeu o tempo limite para aprovação do código!"); };
    }

    function CriarCodigo(stamp) {
        $.ajax({
            type: "POST",
            url: "/FolhasObra/CriarCodigo/" + stamp,
            data: { "obs": document.getElementById("txtMensagens").value }
        });
    }

    function ValidarCodigo(stamp) {
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ValidarCodigo/" + stamp,
            success: function (result) {
                $(function () {
                    if (result == "1") {
                        notify("Código Aprovado");
                        clearInterval(interval);
                        Bulma('#modalAguardarValidacao').modal().close();
                        AbrirMensagens();
                    } else if (result == "2") {
                        notifyError("Código Rejeitado");
                        clearInterval(interval);
                        Bulma('#modalAguardarValidacao').modal().close();
                    }
                });
            }
        });
    }

    function GerarCodigo() {
        stamp_codigo = Date.now() + Math.random();
        CriarCodigo(stamp_codigo);
        time = 5 * 60;
        interval = setInterval(AtualizarTimer, 1000);
        document.getElementById('pb_timer').max = time;
        AtualizarTimer();

        Bulma('#modalValidacao').modal().close();
        Bulma('#modalAguardarValidacao').modal().open();
        notify("Código gerado com sucesso. A aguardar aprovação!");
    }

    //VALIDACOES FINAIS DA FOLHA DE OBRA
    function AbrirMensagens() {
        if (document.getElementById('lstTipoFO').value == "Externo") {
            Bulma('#modalDeslocacao').modal().open();
        } else {
            Bulma('#modalEnviarEmail').modal().open();
        }
    }
    function CobrarDeslocacao(valor) {
        document.getElementById('chkCobrarDeslocacao').checked = valor;
        Bulma('#modalDeslocacao').modal().close();

        Bulma('#modalEnviarEmail').modal().open();
    }
    function EnviarEmail(valor) {
        document.getElementById('chkEnviarEmail').checked = valor;
        Bulma('#modalEnviarEmail').modal().close();
        document.getElementById('EmailCliente').value = document.getElementById('txtEmailCliente').value;
        //Bulma('#modalGuardarLocalizacao').modal().open();
        Bulma('#modalFecharMarcacao').modal().open();
    }
    function GuardarLocalizacao(valor) {
        document.getElementById('chkGuardarLocalizacao').checked = valor;
        Bulma('#modalGuardarLocalizacao').modal().close();

        Bulma('#modalFecharMarcacao').modal().open();
    }
    function FecharMarcacao(valor) {
        document.getElementById('chkFecharMarcacao').checked = valor;
        Bulma('#modalFecharMarcacao').modal().close();
        document.getElementById('pageloader').classList.add('is-active');
        document.getElementById('frmAdicionar').submit();
    }

    //INTERVENCOES
    function AdicionarIntervencao() {
        if (moment(document.getElementById('txtHoraInicio').value, "HH:mm", true).isValid() && moment(document.getElementById('txtHoraFim').value, "HH:mm", true).isValid() && moment(document.getElementById('txtData').bulmaCalendar.value(), "DD/MM/YYYY", true).isValid()) {
            document.getElementById('divListaIntervencoes').innerHTML += `<div class="list-item" id="lst-datas-${document.getElementById('txtData').bulmaCalendar.value()} ${document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value}"><div class="list-item-title" style="width:100%">${document.getElementById('txtData').bulmaCalendar.value()} ${document.getElementById('txtHoraInicio').value} - ${document.getElementById('txtHoraFim').value}</div><div class="list-item-controls"><div class="buttons is-right is-fullwidth"><button class="button is-danger" type="button" onclick="RemoverIntervencao('${document.getElementById('txtData').bulmaCalendar.value()} ${document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value}')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>`;
            document.getElementById('ListaIntervencoes').value = `${document.getElementById('ListaIntervencoes').value + document.getElementById('txtData').bulmaCalendar.value() + " " + document.getElementById('txtHoraInicio').value}|${document.getElementById('txtHoraFim').value};`;
            notify("Intervenção adicionada com sucesso!");
        }
        if (!document.getElementById("btnZeroIntervencoes").hidden && (document.getElementById('ListaIntervencoes').value)) document.getElementById("btnZeroIntervencoes").classList.add("is-hidden");
    }

    function RemoverIntervencao(data) {
        document.getElementById('lst-datas-' + data).remove();
        document.getElementById('ListaIntervencoes').value = document.getElementById('ListaIntervencoes').value.replace(data + ';', '');
        if (document.getElementById('ListaIntervencoes').value.slice(-1) != ";" && document.getElementById('ListaIntervencoes').value != "") document.getElementById('ListaIntervencoes').value = document.getElementById('ListaIntervencoes').value + ";";
        if (!(document.getElementById('ListaIntervencoes').value)) document.getElementById("btnZeroIntervencoes").classList.remove("is-hidden");
        notify("Intervenção removida com sucesso!");
    }

    function CarregarIntervencoes() {
        var intervencoes = document.getElementById('ListaIntervencoes').value;
        document.getElementById('ListaIntervencoes').value = '';

        intervencoes.split(";").forEach(function (item) {
            document.getElementById('txtData').bulmaCalendar.value(item.split(" ")[0]);
            document.getElementById('txtHoraInicio').value = item.split("|")[0];
            document.getElementById('txtHoraFim').value = item.split("|")[1];
            AdicionarIntervencao();
        });
        document.getElementById('txtData').bulmaCalendar.value('@Model.DataServico.ToShortDateString()');
        document.getElementById('txtHoraInicio').value = '@Model.IntervencaosServico.First().HoraInicio.ToShortTimeString()';
        document.getElementById('txtHoraFim').value = '@Model.IntervencaosServico.First().HoraFim.ToShortTimeString()';
    }

    //PEÇAS
    function AdicionarPeca(stamp, ref, desig, qtd) {
        document.getElementById('divListaPecas').innerHTML += `<div class="list-item" id="${stamp + '|' + qtd}"><div class="list-item-title" style="width:100%">${ref + ' - ' + desig + ' (' + qtd + ' UN)'}</div><div class="list-item-controls"><div class="buttons is-right"><button class="button is-danger is-fullwidth" type="button" onclick="RemoverPeca('${stamp + '|' + qtd}')"><span class="icon is-small"> <i class="fas fa-trash"></i> </span></button></div></div>`;
        document.getElementById('ListaPecas').value = `${document.getElementById('ListaPecas').value + stamp + '|' + qtd};`;
        notify("Peça " + ref + " adicionada com sucesso!");

        if (!document.getElementById("btnZeroPecas").hidden && (document.getElementById('ListaPecas').value)) document.getElementById("btnZeroPecas").classList.add("is-hidden");
    }

    function RemoverPeca(stamp) {
        document.getElementById(stamp).remove();
        document.getElementById('ListaPecas').value = document.getElementById('ListaPecas').value.replace(stamp + ';', '');
        if (document.getElementById('ListaPecas').value.slice(-1) != ";" && document.getElementById('ListaPecas').value != "") document.getElementById('ListaPecas').value = document.getElementById('ListaPecas').value + ";";
        notify("Peça removida com sucesso!");

        if (!(document.getElementById('ListaPecas').value)) document.getElementById("btnZeroPecas").classList.remove("is-hidden");
    }

    function CarregarPecas() {
        document.getElementById('divListaPecas').innerHTML = '';
        var pecas = document.getElementById('ListaPecas').value;
        document.getElementById('ListaPecas').value = '';

        pecas.split(";").forEach(function (item) {
            ObterPeca(item.split("|")[0], item.split("|")[1]);
        });
    }

    $(function () {
        $("#txtPecas").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Produtos/Pecas/',
                    data: { "filter": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.ref_Produto + " - " + item.designacao_Produto.trim(),
                                val: item.stampProduto
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter as peças do utilizador!');
                    },
                    failure: function (response) {
                        notifyError('Ocorreu um erro ao obter as peças do utilizador!');
                    }
                });
            },
            select: function (e, i) {
                $("#txtStampPeca").val(i.item.val);
                document.getElementById("btnAdicionarPeca").disabled = false;
                notify("Peça " + i.item.label + " selecionada com sucesso!");
            },
            minLength: 1
        }).css('z-index', 10);
    });

    function CarregarPecasStock() {
        $.ajax({
            url: '/Produtos/Pecas/',
            type: "GET",
            success: function (response) {
                var html = "<div class=\"b-table\"><div class=\"table-wrapper has-mobile-cards\"><table class=\"table table-hover is-fullwidth\"> <thead><tr><th style=\"width: 110px\">Referência</th><th>Designação</th><th>Quantidade</th><th></th></tr></thead><tbody>";
                $(response).each(function () {
                    html += "<tr><td data-label='Referência'>" + this.ref_Produto + "</td><td data-label='Designação'>" + this.designacao_Produto.trim() + "</td><td data-label='Quantidade'>" + this.stock_Atual + " / " + this.stock_PHC + "</td><td class='is-actions-cell'><button class='button is-success is-fullwidth' type='button' onclick='PreencherPeca(\"" + this.ref_Produto + " - " + this.designacao_Produto + "\", \"" + this.stampProduto + "\")'><span class='icon is-small'><i class='fas fa-check'></i></span><span>Selecionar</span></button></td></tr>";

                });
                html += "</tbody></table></div></div>"
                $('#modalPecas').find('.modal-body').html(html);
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao carregar as peças do utilizador!');
            },
            failure: function (response) {
                notifyError('Ocorreu um erro ao carregar as peças do utilizador!');
            }
        });
    }

    function PreencherPeca(designacao, stamp) {
        $("#txtStampPeca").val(stamp);
        $("#txtPecas").val(designacao);
        document.getElementById("btnAdicionarPeca").disabled = false;
        Bulma('#modalPecas').modal().close();
        notify("Peça " + designacao + " selecionada com sucesso!");
    }
    function ObterPeca(stamp, qtd) {
        if (stamp !== "" && qtd > 0) {
            $.ajax({
                url: '/Produtos/Peca/' + stamp,
                type: "GET",
                success: function (response) {
                    AdicionarPeca(response.stampProduto, response.ref_Produto, response.designacao_Produto.trim(), qtd);
                    LimparPecas();
                },
                error: function (response) {
                    notifyError('Ocorreu um erro ao obter a informação da peça!');
                },
                failure: function (response) {
                    notifyError('Ocorreu um erro ao obter a informação da peça!');
                }
            });
        }
    }

    function LimparPecas() {
        document.getElementById('txtPecas').value = '';
        document.getElementById('txtStampPeca').value = '';
        document.getElementById("btnAdicionarPeca").disabled = true;
        document.getElementById("txtQtd").value = '1';
    }

    //CLIENTES
    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Clientes/Clientes/',
                    data: { "prefix": request.term },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente + " (" + item.idCliente + " - " + item.idLoja + ")",
                                val: item.idCliente,
                                val2: item.idLoja
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter o cliente!');
                    },
                    failure: function (response) {
                        notifyError('Ocorreu um erro ao obter o cliente!');
                    }
                });
            },
            select: function (e, i) {
                $("#txtIdCliente").val(i.item.val);
                $("#txtIdLoja").val(i.item.val2);
                notify("Cliente " + i.item.label + " selecionado com sucesso!");
            },
            minLength: 1
        }).css('z-index', 10);
    });

    //EQUIPAMENTOS
    $(function () {
        $("#txtEquipamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Equipamentos/Equipamentos/',
                    data: { "prefix": request.term, "no": (chkDesbloquearEquipamentos.checked ? "0" : "@Model.ClienteServico.IdCliente"), "loja": (chkDesbloquearEquipamentos.checked ? "0" : "@Model.ClienteServico.IdLoja") },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.numeroSerieEquipamento + " (" + item.marcaEquipamento + " - " + item.modeloEquipamento + ")",
                                val: item.equipamentoStamp
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    },
                    failure: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    }
                });
            },
            select: function (e, i) {
                $("#txtEquipamentoStamp").val(i.item.val);
                document.getElementById("btnObterHistorico").disabled = false;
                notify("Equipamento " + i.item.label + " selecionado com sucesso!");
            },
            minLength: 1
        }).css('z-index', 10);
    });

    function LimparEquipamento() {
        document.getElementById("btnObterHistorico").disabled = true;
        document.getElementById("txtEquipamentoStamp").value = '';
        document.getElementById("txtEquipamento").value = '';
        notify('Equipamento limpo com sucesso!');

    }

    function PreencherEquipamento(designacao, stamp) {
        $("#txtEquipamentoStamp").val(stamp);
        $("#txtEquipamento").val(designacao);
        document.getElementById("btnObterHistorico").disabled = false;
        Bulma('#modalEquipamentos').modal().close();
        notify("Equipamento " + designacao + " selecionado com sucesso!");
    }

    function ObterEquipamentosCliente() {
        $.ajax({
            url: '/Equipamentos/Equipamentos/',
            data: { "prefix": "", "no": "@Model.ClienteServico.IdCliente", "loja": "@Model.ClienteServico.IdLoja" },
            type: "GET",
            success: function (data) {
                var html = "<div class=\"b-table\"><div class=\"table-wrapper has-mobile-cards\"><table class=\"table table-hover is-fullwidth\"><thead><tr><th style=\"width: 110px\">Marca</th><th>Modelo</th><th>Numero de Série</th><th></th></tr></thead><tbody>";
                $(data).each(function () {
                    html += "<tr><td data-label='Marca'>" + this.marcaEquipamento + "</td><td data-label='Modelo'>" + this.modeloEquipamento + "</td><td data-label='N/S'>" + this.numeroSerieEquipamento + "</td><td class='is-actions-cell'><button class='button is-success is-fullwidth' type='button' onclick='PreencherEquipamento(\"" + this.numeroSerieEquipamento + "\", \"" + this.equipamentoStamp + "\")'><span class='icon is-small'><i class='fas fa-check'></i></span><span>Selecionar</span></button></td></tr>";
                });
                html += "</tbody></table></div></div>"
                $('#modalEquipamentos').find('.modal-body').html(html);
                Bulma('#modalEquipamentos').modal().open();
                notify("Obtidos com sucesso os equipamentos associados a este cliente!");
            },
            error: function (response) {
                notifyError('Ocorreu um erro ao obter os equipamentos do cliente!');
            },
            failure: function (response) {
                notifyError('Ocorreu um erro ao obter os equipamentos do cliente!');
            }
        });
    }

    function ObterHistoricoEquipamento() {
        var Stamp = document.getElementById('txtEquipamentoStamp').value;

        $.ajax({
            url: "/Equipamentos/Historico",
            type: "GET",
            data: "id=" + Stamp,
            dataType: "json", // type of data you're expecting from response
            success: function (json) {
                var html = "<table class=\"table table-hover\" <thead><tr><th style=\"width: 110px\">Data</th><th>Técnico</th><th>Relatório</th></tr></thead><tbody>";

                var existeFolhasObra = false;
                for (var i = 0; i < json.json.length; i++) {
                    var obj = json.json[i];
                    var tecnico = obj.nomeTecnico;

                    var date = new Date(obj.dataServiço);

                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day = date.getDate();

                    if (day < 10) {
                        day = '0' + day;
                    }
                    if (month < 10) {
                        month = '0' + month;
                    }
                    html += "<tr onclick=\"location.href = '/FolhasObra/FolhaObra/" + obj.idFolhaObra + "'\"><td>" + day + '-' + month + '-' + year + "</td><td>" + tecnico + "</td><td>" + obj.relatorioServico + "</td></tr>";
                    existeFolhasObra = true;
                }
                html += "</tbody></table>"
                $('#modalObterHistorico').find('.modal-body').html(html);
                if (existeFolhasObra) {
                    var modal = Bulma('#modalObterHistorico').modal();
                    modal.open();
                } else {
                    var modal = Bulma('#modalObterHistoricoVazio').modal();
                    modal.open();
                };
                notify("Obtido com sucesso as intervenções associadas ao equipamento selecionado!");
            },
            error: function (error) {
                notifyError('Ocorreu um erro ao obter as intervenções associadas ao equipamento selecionado!');
            }
        });
    }

</script>
