@model FT_Management.Models.FolhaObra

@{
    ViewData["Title"] = "Editar Intervenção";
}

<h1>Editar Intervenção</h1>
<hr />
<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apagar Intervenção</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Tens a certeza que queres apagar esta intervenção?</h4>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-danger" onclick="ApagarIntervencao()">Sim</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apagar Peça</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Tens a certeza que queres apagar esta Peça?</h4>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    <a href="#" class="btn btn-danger" onclick="ApagarPeca()">Sim</a>
                </div>

            </div>

        </div>

    </div>
    <div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active" id="v-pills-equipamento-tab" data-toggle="pill" href="#v-pills-equipamento" role="tab" aria-controls="v-pills-equipamento" aria-selected="true">Equipamento</a>
        <a class="nav-item nav-link" id="v-pills-dados-tab" data-toggle="pill" href="#v-pills-dados" role="tab" aria-controls="v-pills-dados" aria-selected="false">Dados</a>
        <a class="nav-item nav-link" id="v-pills-intervencoes-tab" data-toggle="pill" href="#v-pills-intervencoes" role="tab" aria-controls="v-pills-intervencoes" aria-selected="false">Intervenções</a>
        <a class="nav-item nav-link" id="v-pills-pecas-tab" data-toggle="pill" href="#v-pills-pecas" role="tab" aria-controls="v-pills-pecas" aria-selected="false">Peças</a>
        @*<a class="nav-item nav-link" id="v-pills-sig-tab" data-toggle="pill" href="#v-pills-sig" role="tab" aria-controls="v-pills-sig" aria-selected="false">Rubrica</a>*@
        <a class="nav-item nav-link" id="v-pills-recibo-tab" data-toggle="pill" href="#v-pills-recibo" role="tab" aria-controls="v-pills-recibo" aria-selected="false">Recibo</a>
    </div>

    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-equipamento" role="tabpanel" aria-labelledby="v-pills-equipamento-tab">
            <br />
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="form-group d-none">
                        <label asp-for="EquipamentoServico.IdEquipamento" class="control-label"></label>
                        <input asp-for="EquipamentoServico.IdEquipamento" class="form-control" id="IdEquipamento" />
                        <span asp-validation-for="EquipamentoServico.IdEquipamento" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <input asp-for="IdCartao" class="form-control" id="IdEquipamento" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EquipamentoServico.NumeroSerieEquipamento" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="EquipamentoServico.NumeroSerieEquipamento" class="form-control col-10" id="NumeroSerieEquipamento" />
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" onclick="ObterEquipamento()">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-primary" onclick="ObterHistoricoEquipamento()">
                                    <i class="fas fa-history"></i>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="EquipamentoServico.NumeroSerieEquipamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal fade" id="myModal3" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Histórico de Intervenções</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p> </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal4" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Histórico de Intervenções</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <btn class="btn btn-danger btn-block btn-lg disabled">Não existem intervenções!</btn>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="form-group d-none">
                        <label asp-for="EquipamentoServico.DesignacaoEquipamento" class="control-label"></label>
                        <input asp-for="EquipamentoServico.DesignacaoEquipamento" class="form-control" id="DesignacaoEquipamento" />
                        <span asp-validation-for="EquipamentoServico.DesignacaoEquipamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EquipamentoServico.MarcaEquipamento" class="control-label"></label>
                        <input asp-for="EquipamentoServico.MarcaEquipamento" class="form-control" id="MarcaEquipamento" />
                        <span asp-validation-for="EquipamentoServico.MarcaEquipamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label asp-for="EquipamentoServico.ModeloEquipamento" class="control-label"></label>
                        <input asp-for="EquipamentoServico.ModeloEquipamento" class="form-control" id="ModeloEquipamento" />
                        <span asp-validation-for="EquipamentoServico.ModeloEquipamento" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label asp-for="EstadoEquipamento" class="col-form-label"></label>
                        <select asp-for="EstadoEquipamento" class="form-control">
                            <option>Instalação</option>
                            <option>Garantia</option>
                            <option>Não Garantia</option>
                            <option>Outro</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="v-pills-dados" role="tabpanel" aria-labelledby="v-pills-dados-tab">
            <br />
            <div class="row">
                <div class="form-group col-lg-6">

                    <div class="form-group d-none">
                        <label asp-for="ClienteServico.IdCliente" class="control-label"></label>
                        <input asp-for="ClienteServico.IdCliente" class="form-control" id="IdCliente" />
                        <span asp-validation-for="ClienteServico.IdCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="IdFolhaObra" class="control-label"></label>
                        <input asp-for="IdFolhaObra" class="form-control" id="txtIdFolhaObra" />
                        <span asp-validation-for="IdFolhaObra" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClienteServico.NomeCliente" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="ClienteServico.NomeCliente" class="form-control col-10" id="NomeCliente" />
                            <button type="button" class="btn btn-primary col-2" onclick="ObterCliente()">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <span asp-validation-for="ClienteServico.NomeCliente" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="form-group">
                        <label asp-for="ConferidoPor" class="control-label"></label>
                        <input asp-for="ConferidoPor" class="form-control" id="PessoaContactoCliente" />
                        <span asp-validation-for="ConferidoPor" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="ClienteServico.MoradaCliente" class="control-label"></label>
                        <input asp-for="ClienteServico.MoradaCliente" class="form-control" id="MoradaCliente" />
                        <span asp-validation-for="ClienteServico.MoradaCliente" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="ClienteServico.EmailCliente" class="control-label"></label>
                        <input asp-for="ClienteServico.EmailCliente" class="form-control" id="EmailCliente" />
                        <span asp-validation-for="ClienteServico.EmailCliente" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-8">

                    <div class="form-group">
                        <label asp-for="ReferenciaServico" class="control-label"></label>
                        <input asp-for="ReferenciaServico" class="form-control" />
                        <span asp-validation-for="ReferenciaServico" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <input type="checkbox" class="custom-checkbox" style="margin-top:35px; width: 30px; height: 30px;" asp-for="AssistenciaRemota" />
                    <label asp-for="AssistenciaRemota" class="control-label" margin-top:10px;font-size:20px;"></label>
                </div>

                <div class="w-100"></div>
                <div class="form-group col-lg-12">

                    <div class="form-group">
                        <label asp-for="RelatorioServico" class="control-label"></label>
                        @Html.EditorFor(model => model.RelatorioServico, new { htmlAttributes = new { @class = "form-control", @rows = "8" } })
                        <span asp-validation-for="RelatorioServico" class="text-danger"></span>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="form-group col-lg-12">

                    <div class="form-group">
                        <label asp-for="SituacoesPendentes" class="control-label"></label>
                        @Html.EditorFor(model => model.SituacoesPendentes, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })
                        <span asp-validation-for="SituacoesPendentes" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="v-pills-intervencoes" role="tabpanel" aria-labelledby="v-pills-intervencoes-tab">
            <br />
            <div class="row">
                <div class="form-group col-lg-8">
                    <div class="form-group col-12">
                        <div class="row">

                            <label asp-for="DataServico" class="control-label col-2"></label>
                            @Html.TextBoxFor(m => m.DataServico, "{0:dd/MM/yyyy}", new { @class = "form-control col-8", @readonly = "true" })
                            <span asp-validation-for="DataServico" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <button type="button" class="btn btn-primary btn-block" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AbrirIntervencao()">
                        Adicionar Intervenção
                    </button>
                </div>

            </div>
            <hr />
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Intervenção</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="data" class="col-sm-4 col-form-label">Data Intervenção</label>
                                <div class="col-sm-8">
                                    @*DateTimePicker*@
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    <script src="~/js/gijgo.min.js" type="text/javascript"></script>
                                    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />

                                    <input type="text" class="form-control" id="txtData">
                                    <script>
                                        var today = new Date();
                                        var dd = String(today.getDate()).padStart(2, '0');
                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                        var yyyy = today.getFullYear();

                                        $('#txtData').datepicker({
                                            format: 'dd-mm-yyyy',
                                            value: dd + '-' + mm + '-' + yyyy
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="horaInicio" class="col-sm-4 col-form-label">Hora Inicio</label>
                                <div class="col-sm-8">
                                    @*DateTimePicker*@
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    <script src="~/js/gijgo.min.js" type="text/javascript"></script>
                                    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />

                                    <input type="text" class="form-control" id="txtHoraInicio">
                                    <script>
                                        var today = new Date();
                                        $('#txtHoraInicio').timepicker({ mode: '24hr', value: (today.getHours()) + ':00' });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="horaFim" class="col-sm-4 col-form-label">Hora Fim</label>
                                <div class="col-sm-8">
                                    @*DateTimePicker*@
                                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                    <script src="~/js/gijgo.min.js" type="text/javascript"></script>
                                    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />

                                    <input type="text" class="form-control" id="txtHoraFim">
                                    <script>
                                        var today = new Date();
                                        $('#txtHoraFim').timepicker({ mode: '24hr', value: (today.getHours() + 1) + ':00' });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                @{ var LstTecnicos = ViewData["Tecnicos"] as IList<Utilizador>;}
                                <label for="tecnico" class="col-sm-4 col-form-label">Técnico</label>
                                <select class="form-control col-sm-8" id="txtTecnico" asp-items="@(new SelectList(LstTecnicos, "NomeCompleto", "NomeCompleto", ViewData["SelectedTecnico"]))"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AdicionarIntervencao()" href="javascript:;">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-danger btn-block disabled form-group @(Model.IntervencaosServico.Count() == 0 ? "" : "d-none")" id="no-int" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas intervenções associadas a esta folha de obra!</button>

            <table class="table table-hover @(Model.IntervencaosServico.Count() == 0 ? "d-none" : "")" id="tblIntervencao">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Hora Inicio
                        </th>
                        <th>
                            Hora Fim
                        </th>
                        <th>
                            Tecnico
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IntervencaosServico)
                    {
                        <tr id="row_@item.IdIntervencao">
                            <td>
                                <span>@item.DataServiço.ToString("dd-MM-yyyy")</span>
                            </td>
                            <td>
                                <span>@item.HoraInicio.ToString("HH:mm")</span>
                            </td>
                            <td>
                                <span>@item.HoraFim.ToString("HH:mm")</span>
                            </td>
                            <td>
                                <span>@item.NomeTecnico</span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-block btn-lg" onclick="ConfirmApagarIntervencao(@item.IdIntervencao)"><i class="fas fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



            <input type="hidden" id="hiddenPecaId" />
            <input type="hidden" id="hiddenIntervencaoId" />
            <input type="hidden" id="hiddenNomeTecnico" value="@ViewData["SelectedTecnico"]" />

        </div>
        <div class="tab-pane fade show" id="v-pills-pecas" role="tabpanel" aria-labelledby="v-pills-pecas-tab">

            <br />
            <div class="row">
                <div class="form-group col-4">
                    <button type="button" class="btn btn-primary btn-block" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s; height: 100%; font-size: 20px" data-toggle="modal" data-target="#exampleModal2">
                        Adicionar Peças
                    </button>
                </div>
                <div class="form-group col-8">
                    <label asp-for="GuiaTransporteAtual" class="control-label"></label>
                    <input asp-for="GuiaTransporteAtual" class="form-control" />
                    <span asp-validation-for="GuiaTransporteAtual" class="text-danger"></span>

                </div>

            </div>
            <hr />
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar Peças</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="horaInicio" class="col-sm-4 col-form-label">Referencia</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group-prepend col" id="button-addon3">
                                        <input type="text" class="form-control" id="txtRefProduto">
                                        <button type="button" class="btn btn-primary" onclick="ObterDesignacao()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="horaInicio" class="col-sm-4 col-form-label">Designacao</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="txtDesignacao">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="horaInicio" class="col-sm-4 col-form-label">Quantidade</label>
                                <div class="input-group col-sm-8">
                                    <div class="input-group-prepend col" id="button-addon3">
                                        <button onclick="MenosUm(0.1)" class="btn btn-danger btn-sm" type="button"><</button>
                                        <button onclick="MenosUm(1)" class="btn btn-danger btn-sm" type="button"><<</button>
                                        <button onclick="MenosUm(10)" class="btn btn-danger btn-sm" type="button"><<<</button>
                                        <input class="form-control" min="0" max="999" name="txtQuantidade" id="txtQuantidade" value="1" readonly style="width:70px;">
                                        <button onclick="MaisUm(0.1)" class="btn btn-primary btn-sm" type="button">></button>
                                        <button onclick="MaisUm(1)" class="btn btn-primary btn-sm" type="button">>></button>
                                        <button onclick="MaisUm(10)" class="btn btn-primary btn-sm" type="button">>>></button>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                                  <label class="col-sm-4 col-form-label">Tipo</label>
                                    <select class="form-control col-sm-8" id="tipoun">
                                        <option>UN</option>
                                        <option>MT</option>
                                        <option>CM</option>
                                        <option>L</option>
                                    </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AdicionarPeca()" href="javascript:;">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-danger btn-block disabled form-group @(Model.PecasServico.Count() == 0 ? "" : "d-none")" id="no-pecas" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas peças associadas a esta folha de obra!</button>

            <table class="table table-hover @(Model.PecasServico.Count() == 0 ? "d-none" : "")" id="tblPecas">
                <thead>
                    <tr>
                        <th>
                            Referencia
                        </th>
                        <th>
                            Designação
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PecasServico)
                    {
                        <tr id="linha_@item.Ref_Produto">
                            <td>
                                <span>@item.Ref_Produto</span>
                            </td>
                            <td>
                                <span>@item.Designacao_Produto</span>
                            </td>
                            <td>
                                <span>@item.Stock_Fisico</span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger btn-block btn-lg" onclick="ConfirmApagarPeca('@item.Ref_Produto')"><i class="fas fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade show" id="v-pills-sig" role="tabpanel" aria-labelledby="v-pills-sig-tab">
            <br />


            <p>
                <canvas id="signature" width="1000" height="1000" style="border: 1px solid rgba(0, 0, 0, 0.1);width:100%;height:100%;"></canvas><hr />
            <p class="text-center">Assine acima</p>
            <div class="btn-group btn-block">
                <button hidden type="button" id="accept"
                        class="btn btn-primary col-lg-6 btn-lg">
                    Guardar Assinatura
                </button>
                <button type="button" id="clean"
                        class="btn btn-secondary btn-lg">
                    Limpar
                </button>
            </div>
            <input type="text" hidden id="clienteAssinatura" asp-for="@Model.RubricaCliente">

        </div>
        <div class="tab-pane fade show" id="v-pills-recibo" role="tabpanel" aria-labelledby="v-pills-recibo-tab">
            <br>
            <div class="row">
            <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="Recibo.MaterialAplicado" class="control-label"></label>
                        <div class="input-group mb-3">
                        <input asp-for="Recibo.MaterialAplicado" class="form-control" type="number" id="ReciboMaterialAplicado"/>
                         <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                        </div>
                        <span asp-validation-for="Recibo.MaterialAplicado" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="Recibo.MaoObra" class="control-label"></label>
                        <div class="input-group mb-3">
                        <input asp-for="Recibo.MaoObra" class="form-control" type="number" min="0.00" max="9999.99" step="0.01" id="ReciboMaoObra"/>
                         <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                        </div>
                        <span asp-validation-for="Recibo.MaoObra" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="form-group">
                        <label asp-for="Recibo.Deslocacao" class="control-label"></label>
                        <div class="input-group mb-3">
                        <input asp-for="Recibo.Deslocacao" class="form-control" type="number" min="0.00" max="9999.99" step="0.01" id="ReciboDeslocacao"/>
                         <div class="input-group-append">
                            <span class="input-group-text">€</span>
                        </div>
                        </div>
                        <span asp-validation-for="Recibo.Deslocacao" class="text-danger"></span>
                    </div>
                </div>
                    <div class="form-group col-lg-12">
                        <label asp-for="ClienteServico.NumeroContribuinteCliente" class="control-label"></label>
                        <input asp-for="ClienteServico.NumeroContribuinteCliente" class="form-control" id="NumeroContribuinteCliente" />
                        <span asp-validation-for="ClienteServico.NumeroContribuinteCliente" class="text-danger"></span>
                    </div>
                <input type="text" hidden id="clienteAssinatura" asp-for="Recibo.IdRecibo">
                <div class="input-group input-group-lg form-group col-lg-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Valor Total</span>
                    </div>
                    <input type="text" readonly class="form-control" aria-label="" aria-describedby="inputGroup-sizing-lg" id="ValorTotalRecibo">
                     <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                    <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-lg" onclick="CalcularRecibo()">
                                    <i class="fas fa-calculator"></i>
                                </button>
                                <button type="button" class="btn btn-primary" onclick="LimparRecibo()">
                                    <i class="fas fa-backspace"></i>
                                </button>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input onclick="enviarFolha()" value="Guardar & Sair" class="btn btn-primary btn-block btn-lg" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

    <script>
        var canvas = document.querySelector('#signature');
        var pad = new SignaturePad(canvas, {
            minWidth: 5,
            maxWidth: 7,
            dotSize: 5
        });

        $('#accept').click(function () {
            var data = pad.toDataURL();
            document.getElementById("clienteAssinatura").value = data;
            pad.off();
        });
        $('#clean').click(function () {
            pad.clear();
        });

          // Event handler to resize the canvas when the document view is changed
  window.addEventListener('resize', resizeCanvas, false);

    function resizeCanvas() {
        var ratio =  Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = window.innerHeight / 2 * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
        pad.clear();
        pad.fromDataURL(document.getElementById("clienteAssinatura").value);
    }
  resizeCanvas();
  CalcularRecibo();


        function enviarFolha() {
            

            document.getElementById("accept").click();
            $('form').submit();
        }

        function LimparRecibo() {
         document.getElementById("ReciboMaterialAplicado").value = "0.00"; 
         document.getElementById("ReciboMaoObra").value = "0.00";
         document.getElementById("ReciboDeslocacao").value = "0.00";

         CalcularRecibo();
        }

  function CalcularRecibo() {
            var MaterialAplicado = parseFloat(document.getElementById("ReciboMaterialAplicado").value) || 0;
            var MaoObra = parseFloat(document.getElementById("ReciboMaoObra").value) || 0;
            var Deslocacao = parseFloat(document.getElementById("ReciboDeslocacao").value) || 0;
            
            var SubTotal = MaterialAplicado + Deslocacao + MaoObra;
            var Iva = (SubTotal/100)*23;
            var ValorFinal = SubTotal + Iva;
            ValorFinal = ValorFinal.toFixed(2);
            //alert(MaterialAplicado + " - " + MaoObra + " - " + Deslocacao + " - " + SubTotal + " - " + Iva + " - " + ValorFinal)
            document.getElementById("ValorTotalRecibo").value = ValorFinal;
            }
    </script>
}


<script>
  
    function AbrirIntervencao() {
        document.getElementById("txtTecnico").value = document.getElementById("hiddenNomeTecnico").value;
        $('#exampleModal').modal('toggle');

    }
    var ConfirmApagarIntervencao = function (IdIntervencao) {
        $("#hiddenIntervencaoId").val(IdIntervencao);
        $("#myModal").modal('show');

    }

    var ApagarIntervencao = function () {
        var IdIntervencao = $("#hiddenIntervencaoId").val();
        $("#myModal").modal("hide");

        $.ajax({

            type: "POST",
            url: "/FolhasObra/ApagarIntervencao",
            data: { Id: IdIntervencao },
            success: function (result) {

                $("#row_" + IdIntervencao).remove();


                if (document.getElementById("tblIntervencao").rows.length == 1) {

                    document.getElementById('no-int').classList.remove("d-none");
                    document.getElementById('tblIntervencao').classList.add("d-none");

                }
                $.notify({
                    message: "Intervenção removida com sucesso!"
                }, {
                    // settings
                    type: 'success',
                    onShow: function () {
                        this.css({ 'width': 'auto', 'height': 'auto' });
                    }
                });
            }

        })
    }

    var ConfirmApagarPeca = function (Ref_Produto) {
        $("#hiddenPecaId").val(Ref_Produto);
        $("#myModal2").modal('show');

    }

    var ApagarPeca = function () {
        var IdPeca = $("#hiddenPecaId").val();
        $("#myModal2").modal("hide");

        $.ajax({

            type: "POST",
            url: "/FolhasObra/ApagarPeca",
            data: { Ref: IdPeca, Id: document.getElementById("txtIdFolhaObra").value },
            success: function (result) {
                //alert(IdPeca);
                var row = document.getElementById("linha_" + IdPeca);
                var parent = row.parentNode;
                parent.removeChild(row);

                if (document.getElementById("tblPecas").rows.length == 1) {

                    document.getElementById('no-pecas').classList.remove("d-none");
                    document.getElementById('tblPecas').classList.add("d-none");

                }
                $.notify({
                    message: "Referência " + IdPeca + " removida com sucesso!"
                }, {
                    // settings
                    type: 'success',
                    onShow: function () {
                        this.css({ 'width': 'auto', 'height': 'auto' });
                    }
                });
            }

        })

    }
    function MaisUm(passo) {
        var valor = parseFloat(document.getElementById("txtQuantidade").value) + parseFloat(passo);
        if (valor > 999) {
            valor = 999
        };
        document.getElementById("txtQuantidade").value = valor.toFixed(2);
    }
    function MenosUm(passo) {

        var valor = parseFloat(document.getElementById("txtQuantidade").value) - parseFloat(passo);
        if (valor < 0) {
            valor = 0
        };
        document.getElementById("txtQuantidade").value = valor.toFixed(2);
    }
    function ObterDesignacao() {
        var RefProduto = document.getElementById("txtRefProduto").value;
        //alert(RefProduto);
        $.get('/FolhasObra/ObterDesignacaoProduto', { 'RefProduto': RefProduto, 'ArmazemId': 3 }, function (response) {
            document.getElementById("txtDesignacao").value = response.result;
        })
    }

    function ObterEquipamento() {
        var NumeroSerie = document.getElementById("NumeroSerieEquipamento").value;

        $.ajax({
            url: "/FolhasObra/ObterEquipamento",
            type: "GET",
            data: "NumeroSerieEquipamento=" + NumeroSerie,
            dataType: "json", // type of data you're expecting from response
            success: function (json) {
                console.log(json);
                document.getElementById("DesignacaoEquipamento").value = json.json.designacaoEquipamento;
                document.getElementById("MarcaEquipamento").value = json.json.marcaEquipamento;
                document.getElementById("ModeloEquipamento").value = json.json.modeloEquipamento;
                document.getElementById("IdEquipamento").value = json.json.idEquipamento;
                document.getElementById("NumeroSerie").value = json.json.numeroSerie;
            },
            error: function (error) { }
        });
    }

    function ObterHistoricoEquipamento() {
        var NumeroSerie = document.getElementById("NumeroSerieEquipamento").value;

        $.ajax({
            url: "/FolhasObra/ObterHistorico",
            type: "GET",
            data: "NumeroSerieEquipamento=" + NumeroSerie,
            dataType: "json", // type of data you're expecting from response
            success: function (json) {
                var html = "<table class=\"table table-hover\" <thead><tr><th>Data</th><th>Técnico</th><th>Relatório</th></tr></thead><tbody>";
                console.log(json);
                var existeFolhasObra = false;
                for (var i = 0; i < json.json.length; i++) {
                    var obj = json.json[i];
                    var tecnico = "";
                    if (obj.intervencaosServico.length > 0) tecnico = obj.intervencaosServico[0].nomeTecnico;

                    var date = new Date(obj.dataServico);

                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day = date.getDate();

                    if (day < 10) {
                        day = '0' + day;
                    }
                    if (month < 10) {
                        month = '0' + month;
                    }
                    if (obj.idFolhaObra != document.getElementById("txtIdFolhaObra").value) {
                        html += "<tr onclick=\"location.href = '/FolhasObra/Editar/" + obj.idFolhaObra + "'\"><td>" + day + '-' + month + '-' + year + "</td><td>" + tecnico + "</td><td>" + obj.relatorioServico + "</td></tr>";
                        existeFolhasObra = true;
                    }
                }
                html += "</tbody></table>"
                $('#myModal3').find('.modal-body').html(html);
                if (existeFolhasObra) { $("#myModal3").modal("show") } else { $("#myModal4").modal("show") };

            },
            error: function (error) { }
        });
    }

    function ObterCliente() {
        var NomeCliente = document.getElementById("NomeCliente").value;
        //alert(RefProduto);

        $.ajax({
            url: "/FolhasObra/ObterCliente",
            type: "GET",
            data: "NomeCliente=" + NomeCliente,
            dataType: "json", // type of data you're expecting from response
            success: function (json) {
                console.log(json);
                document.getElementById("IdCliente").value = json.json.idCliente;
                document.getElementById("PessoaContactoCliente").value = json.json.pessoaContatoCliente;
                document.getElementById("MoradaCliente").value = json.json.moradaCliente;
                document.getElementById("EmailCliente").value = json.json.emailCliente;
                document.getElementById("NumeroContribuinteCliente").value = json.json.numeroContribuinteCliente;
                document.getElementById("NomeCliente").value = json.json.nomeCliente;
            },
            error: function (error) { }
        });
    }

    function AdicionarPeca() {

        var peca = {
            referencia: document.getElementById("txtRefProduto").value,
            designacao: document.getElementById("txtDesignacao").value,
            quantidade: document.getElementById("txtQuantidade").value,
            idfolhaobra: document.getElementById("txtIdFolhaObra").value,
            tipoun: document.getElementById("tipoun").value
        };

        $('#exampleModal2').modal('hide');
        $('#exampleModal2')
            .find("input,textarea")
            .val('')
            .end()
            .find("input[type=checkbox], input[type=radio]")
            .prop("checked", "")
            .end()
            .find("input[id=txtQuantidade]")
            .val('1')
            .end();


        $.ajax({
            type: "POST",
            url: "/FolhasObra/AdicionarPeca",
            data: peca,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById('no-pecas') != null ? document.getElementById('no-pecas').classList.add("d-none") : "";
                    document.getElementById('tblPecas').classList.remove("d-none");
                    var newRow = document.getElementById('tblPecas').insertRow();
                    newRow.setAttribute("id", "linha_" + result);
                    newRow.innerHTML = "<td>" + peca.referencia + "</td><td>" + peca.designacao + "</td><td>" + peca.quantidade + "</td><td><a href=\"#\" class=\"btn btn-danger btn-block btn-lg\" onclick=\"ConfirmApagarPeca('" + result + "')\"><i class=\"fas fa-trash\"></i> </a></td>";
                    $.notify({
                        message: "Referência " + peca.referencia + " adicionada com sucesso!"
                    }, {
                        // settings
                        type: 'success',
                        onShow: function () {
                            this.css({ 'width': 'auto', 'height': 'auto' });
                        }
                    });
                });
            }
        });

    }
    function AdicionarIntervencao() {

        var intervencao = {
            data: document.getElementById("txtData").value,
            horainicio: document.getElementById("txtHoraInicio").value,
            horafim: document.getElementById("txtHoraFim").value,
            tecnico: document.getElementById("txtTecnico").value,
            idfolhaobra: document.getElementById("txtIdFolhaObra").value
        };
        $('#exampleModal').modal('toggle');

        $.ajax({
            type: "POST",
            url: "/FolhasObra/AdicionarIntervencao",
            data: intervencao,
            traditional: true,
            success: function (result) {
                $(function () {
                    //alert(result);
                    document.getElementById('no-int') != null ? document.getElementById('no-int').classList.add("d-none") : "";
                    document.getElementById('tblIntervencao').classList.remove("d-none");
                    var newRow = document.getElementById('tblIntervencao').insertRow();
                    newRow.setAttribute("id", "row_" + result);
                    newRow.innerHTML = "<td>" + intervencao.data + "</td><td>" + intervencao.horainicio + "</td><td>" + intervencao.horafim + "</td><td>" + intervencao.tecnico + "</td><td><a href=\"#\" class=\"btn btn-danger btn-block btn-lg\" onclick=\"ConfirmApagarIntervencao(" + result + ")\"><i class=\"fas fa-trash\"></i> </a></td>";
                    $.notify({
                        message: "Intervenção adicionada com sucesso!"
                    }, {
                        // settings
                        type: 'success',
                        onShow: function () {
                            this.css({ 'width': 'auto', 'height': 'auto' });
                        }
                    });
                });
            }
        });

    }


</script>