@model IEnumerable<FT_Management.Models.FolhaObra>

@{
    ViewData["Title"] = "Folhas de Obra";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <span>Folhas de Obra</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-right my-auto">
            <form method="get" style="width:100%" asp-action="Index">
                <input type="hidden" id="hiddenTxtData" value="@ViewData["DataFolhasObra"]" name="DataFolhasObra">
                <input type="text" class="datepicker" id="txtData">
                <script>
                        $('#txtData').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            value: '@ViewData["DataFolhasObra"]',
                            change: function (e) {
                                if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
                                    //alert('Change is fired ' + document.getElementById("txtData").value);
                                    document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
                                    $('form').submit();
                                }
                            }
                        });
                </script>
            </form>
        </div>
    </div>
</div>
<hr />
@if (Model.Count() == 0)
{
    <div class="container">
        <br />
        <button class="button is-danger is-fullwidth" disabled>Não foram encontradas folhas de obra!</button>
    </div>
}
else
{
<div class="container">
    <table class="table is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdFolhaObra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteServico.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipamentoServico.NumeroSerieEquipamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IntervencaosServico.FirstOrDefault().NomeTecnico)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                    <span>@item.IdFolhaObra</span>
                </td>
                <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                    @Html.DisplayFor(modelItem => item.ClienteServico.NomeCliente)
                </td>
                <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                    @Html.DisplayFor(modelItem => item.EquipamentoServico.NumeroSerieEquipamento)
                </td>
                <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                    @Html.DisplayFor(modelItem => item.IntervencaosServico.FirstOrDefault().NomeTecnico)
                </td>
                <td>
                    <div class="field has-addons">
                        <p class="control">
                            <button class="button" onclick="window.open('@Url.Action("Print", "FolhasObra", new { id = item.IdFolhaObra, target="_blank" })')">
                                <span class="icon is-small">
                                    <i class="fas fa-sticky-note"></i>
                                </span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button" onclick="window.open('@Url.Action("PrintFolhaObra", "FolhasObra", new { id = item.IdFolhaObra, target="_blank"})')">
                                <span class="icon is-small">
                                    <i class="fas fa-print"></i>
                                </span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button" onclick="ConfirmEnviarEmail(@item.IdFolhaObra)" id="btnEnviarMail_@item.IdFolhaObra">
                                <span class="icon is-small">
                                    <i class="fas fa-paper-plane"></i>
                                </span>
                            </button>
                        </p>
                    </div>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}


<div id="modalEnviarFolhaObra" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Enviar Folha de Obra</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <input id="txtEmail" type="email" class="input" placeholder="Email" value="" required />
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="EnviarEmail()" href="javascript:;">Enviar</button>
        </footer>
    </div>
</div>

<input type="hidden" id="hiddenFolhaObraId" />

<script>
    function ConfirmEnviarEmail(IdFolhaObra) {

        $("#hiddenFolhaObraId").val(IdFolhaObra);
        document.getElementById("btnEnviarMail_" + IdFolhaObra).classList.add("is-loading");

        var json = {
            id: IdFolhaObra
        };
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ObterEmailClienteFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    // alert(JSON.stringify(result));
                    document.getElementById("txtEmail").value = result;
                    var modal = Bulma('#modalEnviarFolhaObra').modal();
                    modal.open();
                    document.getElementById("btnEnviarMail_" + IdFolhaObra).classList.remove("is-loading");
                });
            }
        });
    }

    function EnviarEmail() {

        var idFolhaObra = document.getElementById("hiddenFolhaObraId").value;
        var emailDestino = document.getElementById("txtEmail").value;
        document.getElementById("btnEnviarMail_" + idFolhaObra).classList.add("is-loading");

        var json = {
            id: idFolhaObra,
            emailDestino: emailDestino
        };

        var modal = Bulma('#modalEnviarFolhaObra').modal();
        modal.close();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/EmailFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("btnEnviarMail_" + idFolhaObra).classList.remove("is-loading");

                    if (result == "Sucesso") {
                        $.notify({
                            message: "Email enviado com sucesso!"
                        }, {
                            // settings
                            type: 'success',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });

                        var json = {
                            id: idFolhaObra,
                            novoemail: emailDestino
                        };
                        $.ajax({
                            type: "POST",
                            url: "/FolhasObra/AtualizarEmailClienteFolhaObra",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                });
                            }
                        });

                    } else {
                        $.notify({
                            message: "Ocorreu um erro!"
                        }, {
                            // settings
                            type: 'danger',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });
                    }

                });
            }
        });
    }

</script>
