@model IEnumerable<FT_Management.Models.FolhaObra>

@{
    ViewData["Title"] = "Folhas de Obra";
}
<div class="row">
    <div class="col-lg-8">
        <h1>Listagem de Folhas de Obra</h1>
    </div>
    <div class="col-lg-4">
        <form method="get" action="FolhasObra">

            <input type="hidden" id="hiddenTxtData" value="@ViewData["DataFolhasObra"]" name="DataFolhasObra">


            <input type="text" class="form-control" id="txtData">
            <script>
                        $('#txtData').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            value: '@ViewData["DataFolhasObra"]',
                            change: function (e) {
                                if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
                                    //alert('Change is fired ' + document.getElementById("txtData").value);
                                    document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
                                    $('form').submit();
                                }
                            }
                        });
            </script>
        </form>
    </div>
</div>
<br />
@if (Model.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;">Não foram encontradas folhas de obra!</button>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdFolhaObra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteServico.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipamentoServico.NumeroSerieEquipamento)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                        <span>@item.IdFolhaObra</span>
                    </td>
                    <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                        @Html.DisplayFor(modelItem => item.ClienteServico.NomeCliente)
                    </td>
                    <td onclick="window.open('@(Url.Action("Detalhes", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                        @Html.DisplayFor(modelItem => item.EquipamentoServico.NumeroSerieEquipamento)
                    </td>
                    <td>
                        <div class="btn-group float-right">
                            <a class="btn btn-outline-dark btn-lg" onclick="window.open('@Url.Action("Print", "FolhasObra", new { id = item.IdFolhaObra, target="_blank" })')"><i class="fas fa-sticky-note" style="font-size:20px"></i></a>
                            <a class="btn btn-outline-success btn-lg" onclick="window.open('@Url.Action("PrintFolhaObra", "FolhasObra", new { id = item.IdFolhaObra})')"><i class="fas fa-print" style="font-size:20px"></i></a>
                            <a class="btn btn-outline-primary btn-lg" onclick="ConfirmEnviarEmail(@item.IdFolhaObra)" id="btnEnviarMail_@item.IdFolhaObra">
                                <i class="fas fa-paper-plane" style="font-size:20px"></i><span class="spinner-border text-primary float-right" style="display:none" id="folha_@item.IdFolhaObra" role="status" aria-hidden="true"></span>
                            </a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enviar Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtEmail" type="email" class="form-control" placeholder="Email" value="" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" style=" border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="EnviarEmail()" href="javascript:;">Enviar</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenFolhaObraId" />

<script>
    var ConfirmApagarFolhaObra = function (IdFolhaObra) {
        $("#hiddenFolhaObraId").val(IdFolhaObra);
        $("#myModal").modal('show');

    }


    var ApagarFolhaObra = function () {
        var IdFolhaObra = $("#hiddenFolhaObraId").val();
        $.ajax({

            type: "POST",
            url: "/FolhasObra/ApagarFolhaObra",
            data: { Id: IdFolhaObra },
            success: function (result) {

                $("#myModal").modal("hide");
                $("#row_" + IdFolhaObra).remove();
                location.reload(true);
            }

        })
    }

    function EnviarEmail() {

        var idCartao = document.getElementById("hiddenFolhaObraId").value;
        var emailDestino = document.getElementById("txtEmail").value;

        document.getElementById("folha_" + idCartao).style.display = '';
        document.getElementById("btnEnviarMail_" + idCartao).classList.add("disabled");


        var json = {
            id: idCartao,
            emailDestino: emailDestino
        };

        $('#myModal2').modal('toggle');
        $('#myModal2')
            .find("input,textarea,select")
            .val('')
            .end();

        $.ajax({
            type: "POST",
            url: "/FolhasObra/EmailFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    document.getElementById("folha_" + idCartao).style.display = 'none';
                    document.getElementById("btnEnviarMail_" + idCartao).classList.remove("disabled");

                    if (result == "Sucesso") {
                        $.notify({
                            message: "Email enviado com sucesso!"
                        }, {
                            // settings
                            type: 'success',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });

                        var json = {
                            id: idCartao,
                            novoemail: emailDestino
                        };
                        $.ajax({
                            type: "POST",
                            url: "/FolhasObra/AtualizarEmailClienteFolhaObra",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                });
                            }
                        });

                    } else {
                        $.notify({
                            message: "Ocorreu um erro!"
                        }, {
                            // settings
                            type: 'danger',
                            onShow: function () {
                                this.css({ 'width': 'auto', 'height': 'auto' });
                            }
                        });
                    }

                });
            }
        });
    }
    var ConfirmEnviarEmail = function (IdFolhaObra) {
        $("#hiddenFolhaObraId").val(IdFolhaObra);
        var json = {
            id: IdFolhaObra
        };
        $.ajax({
            type: "POST",
            url: "/FolhasObra/ObterEmailClienteFolhaObra",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    // alert(JSON.stringify(result));
                    document.getElementById("txtEmail").value = result;
                });
            }
        });
        $("#myModal2").modal('show');

    }
</script>
