@model IEnumerable<FT_Management.Models.Marcacao>

<div class="row">
    <div class="col-md-8">
        <h3>Pedidos de Orçamentos</h3>
    </div>
    <div class="col-md-4 text-right"><button type="button" class="btn btn-lg btn-outline-secondary" disabled>@Model.Count()</button></div>
</div>
<div class="row">
    <table class="table table-sm table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col" class="d-none d-lg-block">ID Marcação</th>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
                <th scope="col">Técnico</th>
                <th scope="col">Estado</th>
                <th scope="col" class="d-none d-lg-block">Nº de Dias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                TimeSpan difference = DateTime.Now - item.DataMarcacao;
            <tr onclick="window.open('@(Url.Action("Pedido", "Pedidos", new { idMarcacao = item.IdMarcacao, IdTecnico = item.IdTecnico}))')" class="@(item.EstadoMarcacao == 4 ? "table-success" : "") @(item.EstadoMarcacao != 1 & @item.EstadoMarcacao != 5 & @item.EstadoMarcacao != 4 ? "table-warning" : "") @(item.DataMarcacao < DateTime.Now.AddDays(-30) ? "table-danger" : "") ">
                <td class="d-none d-lg-block">@item.IdMarcacao</td>
                <td>@item.DataMarcacao.ToShortDateString()</td>
                <td>@item.Cliente.NomeCliente</td>
                <td>@item.Tecnico.NomeCompleto</td>
                <td>@item.EstadoMarcacaoDesc</td>
                <td class="d-none d-lg-block">@difference.Days Dias</td>
            </tr>

            }
        </tbody>
    </table>
</div>
