@model FT_Management.Models.Fornecedor

@{
    ViewData["Title"] = "Encomendas - " + Model.NomeFornecedor;
}
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                   <i class="fa-solid fa-barcode"></i>
                                </span>
                                <span>Encomendas - @Model.NomeFornecedor</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr />

@foreach (var item in Model.Encomendas)
    {


            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header @(item.Fornecido ? "has-background-success" : "has-background-info")">
                            <div class="control p-1" >
                                <label class="mx-1 switch is-large is-rounded">
                                    <input type="checkbox" onchange="checkAllEncomenda('chkEncomenda_@item.BO_STAMP')" id="chkEncomenda_@item.BO_STAMP">
                                    <span class="check is-success"></span>
                                </label>
                            </div>
                            <p class="card-header-title" style="color:#ffffff">Encomenda Nº @item.Id - @item.DataDossier.ToShortDateString()</p>
                            <a class="card-header-icon button is-success m-1 is-disabled">@item.NItems</a>
                        </header>
                        <div class="card-content">
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>@Html.DisplayNameFor(model => item.LinhasEncomenda.FirstOrDefault().Produto.Ref_Produto)</th>
                                                <th>@Html.DisplayNameFor(model => item.LinhasEncomenda.FirstOrDefault().Produto.Designacao_Produto)</th>
                                                <th>Quantidade</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var linha in item.LinhasEncomendaPorFornecer)
                                                {
                                                <tr>
                                                    <td>
                                                        <div class="control">
                                                            <label class="mx-1 switch is-outlined is-rounded">
                                                                <input type="checkbox" id="@linha.StampLinhaEncomenda" name="chkLinhas" />
                                                                <span class="check is-success"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td data-label="@Html.DisplayNameFor(model => item.LinhasEncomenda.FirstOrDefault().Produto.Ref_Produto)">@linha.Produto.Ref_Produto                                                    </td>
                                                    <td data-label="@Html.DisplayNameFor(model => item.LinhasEncomenda.FirstOrDefault().Produto.Designacao_Produto)">@linha.Produto.Designacao_Produto</td>
                                                    <td data-label="@Html.DisplayNameFor(model => item.LinhasEncomenda.FirstOrDefault().Produto.Stock_Fisico)">@linha.Produto.Stock_Fisico</td>
                                                    <td class="is-actions-cell">
                                                    </td>
                                                </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }

<a class="button is-large is-info is-rounded is-fullwidth" onclick="CriarOR()">
    <span class="icon is-small">
        <i class="fa-solid fa-check"></i>
    </span>
    <span>Criar Ordem de Receção</span>
</a>
<script>
    function checkAllEncomenda(id) {
        var table = document.getElementById(id).parentElement.parentElement.parentElement.parentElement.childNodes[3].children[0].children[0].children[0].children[1]
        for (var i = 0, row; row = table.rows[i]; i++) {
            if (table.rows[i].cells[0].children[0].children[0].children[0].checked != document.getElementById(id).checked) table.rows[i].cells[0].children[0].children[0].children[0].click();
        }
    }

    function CriarOR() {
        var chk = document.querySelectorAll('input[name=chkLinhas]:checked');
        if (chk.length == 0) {
            notifyError("Tem de selecionar pelo menos uma linha!")
        } else {
            var res = "";
            for (let i = 0; i < chk.length; i++) {
                res += chk[i].id + ";";
            }

            $.ajax({
                url: '/Picking/OrdemRececao/',
                data: { "id": res },
                type: "POST",
                success: function (data) {
                    window.location.href = "/Picking/OrdemRececao/" + data;
                },
                error: function (response) {
                    notifyError("Ocorreu um erro ao gerar a ordem de rececao!")
                },
                failure: function (response) {
                    notifyError("Falha ao gerar a ordem de rececao!")
                }
            });
        }
    }
</script>