@model IEnumerable<FT_Management.Models.Encomenda>

@{
    ViewData["Title"] = "Picking";
}
<form asp-action="Index" method="get">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                   <i class="fa-solid fa-barcode"></i>
                                </span>
                                <span>Picking</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap">
                    <p class="control has-icons-left">
                        <input type="number" class="input" placeholder="Num. da Encomenda" id="txtIdEncomenda" name="IdEncomenda" value="@ViewData["IdEncomenda"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-1-9"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Nome do Cliente" id="txtNomeCliente" name="NomeCliente" value="@ViewData["NomeCliente"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <p class="control has-addons" style="width:100%">
                        <span class="select" style="width:100%">
                            <select class="select" style="width:100%;height: auto" id="ddlTipo" name="Tipo" onchange="this.form.submit();">
                                <option value="0">Todos</option>
                                <option value="46">Encomendas Div. Alimentar</option>
                                <option value="2">Encomendas a Fornecedor</option>
                                <option value="36">Pedidos de Transferência</option>
                            </select>
                        </span>
                    </p>
                </div>
                <div class="buttons is-right">
                    <p class="control">
                        <button type="submit" class="button is-info is-outlined">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                            <span>Pesquisar</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" onclick="window.location.href = '/Picking'" class="button is-outlined">
                            <span class="icon">
                                <i class="fas fa-backspace fa-lg"></i>
                            </span>
                            <span>Limpar</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="columns is-gapless">
     @if (Model.Where(e => e.NumDossier == 46).Count() > 0)
     {
    <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced">
            <header class="card-header has-background-warning">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    Clientes
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>Data</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(e => e.NumDossier == 46))
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                            <td data-label="Data">@item.DataEnvio.ToShortDateString()</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)">
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                </span>
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                </span>
                                            </td>
                                             <td class="is-actions-cell">
                                                <a class="button is-large is-success is-fullwidth" onclick="window.open('@Url.Action("Adicionar", "Picking", new { id = item.Id })')">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-circle-play"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Where(e => e.NumDossier == 2).Count() > 0)
{
        <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced">
            <header class="card-header has-background-warning">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    Fornecedores
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>Data</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(e => e.NumDossier == 2))
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                            <td data-label="Data">@item.DataEnvio.ToShortDateString()</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)">
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                </span>
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                </span>
                                            </td>
                                             <td class="is-actions-cell">
                                                <a class="button is-large is-success is-fullwidth" onclick="window.open('@Url.Action("Adicionar", "Picking", new { id = item.Id })')">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-circle-play"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            </tr>
                                    }
                                    </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Where(e => e.NumDossier == 36).Count() > 0)
{
        <div class="column mx-1">
        <div class="card has-table has-mobile-sort-spaced">
            <header class="card-header has-background-warning">
                <p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    Técnicos
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
            </header>
            <div class="card-content">
                <div class="b-table">
                    <div class="table-wrapper has-mobile-cards">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)</th>
                                        <th>Data</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)</th>
                                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Total)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(e => e.NumDossier == 36))
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Id)">@item.Id</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeCliente)">@item.NomeCliente</td>
                                            <td data-label="Data">@item.DataEnvio.ToShortDateString()</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NItems)">@item.NItems</td>
                                            <td data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Total)">
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.Total ? "fa-solid fa-t" : "fa-solid fa-p")"></i>
                                                </span>
                                                <span class="icon  mr-2">
                                                    <i class="fa-solid @(item.DespacharEncomenda ? "fa-solid fa-car-side" : "fa-solid fa-warehouse")"></i>
                                                </span>
                                            </td>
                                             <td class="is-actions-cell">
                                                <a class="button is-large is-success is-fullwidth" onclick="window.open('@Url.Action("Adicionar", "Picking", new { id = item.Id })')">
                                                    <span class="icon is-small">
                                                        <i class="fa-solid fa-circle-play"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            </tr>
                                    }
                                    </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
<script>
    document.getElementById("ddlTipo").value = @ViewData["Tipo"];
</script>