@model FT_Management.Models.Picking

@{
    ViewData["Title"] = "Picking - " + Model.Encomenda.NomeCliente;
}
<div class="pageloader is-info" id="pageloader"><span class="title">A carregar ...</span></div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                   <i class="fa-solid fa-barcode"></i>
                                </span>
                                <span>@Model.IdPicking - @Model.Encomenda.NomeCliente (@Model.EditadoPor)</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr />
@foreach (var item in Model.Linhas) {
        @if (item.Serie)
        {
            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header @(item.Validado ? "has-background-success" : "has-background-info")">
                            <p class="card-header-title" style="color:#ffffff">
                                <span class="icon"><i class="fa-solid fa-box"></i></span>
                                @item.Ref_linha @((item.Nome_Loja != "") ? "- " + item.Nome_Loja : "")
                            </p>
                            <a class="card-header-icon button is-success m-1 is-disabled">@item.Qtd_Separar</a>
                        </header>
                        <div class="card-content">
                        @if (item.Qtd_Separar > 0)
                        {
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Ref_linha)</th>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Nome_Linha)</th>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Lista_Ref)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < item.Qtd_Separar; i++)
                                            {
                                                <tr>
                                                    <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Ref_linha)">@item.Ref_linha                                                    </td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Nome_Linha)">@item.Nome_Linha</td>
                                                    <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Lista_Ref)"><input class="input" type="text" @(item.Lista_Ref[i].Validado ? "disabled" : "") value="@item.Lista_Ref[i].NumSerie" id="txtSerie_@item.Lista_Ref[i].Picking_Linha_Stamp@i"/></td>
                                                    <td class="is-actions-cell">
                                                        <a class="button is-success is-rounded is-fullwidth" style="display: @(!item.Lista_Ref[i].Validado ? "block" : "none");" id="btnValidar_@item.Lista_Ref[i].Picking_Linha_Stamp@i" onclick="ValidarSerie('@item.Lista_Ref[i].Picking_Linha_Stamp', @i)">
                                                            <span class="icon is-small">
                                                                <i class="fa-solid fa-check"></i>
                                                            </span>
                                                        </a>
                                                        <a class="button is-danger is-rounded is-fullwidth" style="display: @(item.Lista_Ref[i].Validado ? "block" : "none");" id="btnApagar_@item.Lista_Ref[i].Picking_Linha_Stamp@i" onclick="ApagarSerie('@item.Lista_Ref[i].Picking_Linha_Stamp', @i)">
                                                            <span class="icon is-small">
                                                                <i class="fa-solid fa-trash"></i>
                                                            </span>
                                                        </a>
                                                        <input type="hidden" id="txtBomaStamp_@item.Lista_Ref[i].Picking_Linha_Stamp@i" value="@item.Lista_Ref[i].BOMA_STAMP" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            }else{
                               <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas quantidades pendentes!</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="columns is-gapless">
                <div class="column mx-1">
                    <div class="card has-table has-mobile-sort-spaced">
                        <header class="card-header @(item.Validado ? "has-background-success" : "has-background-info")">
                            <p class="card-header-title" style="color:#ffffff">
                                <span class="icon"><i class="fa-solid fa-boxes-stacked"></i></span>
                                @item.Ref_linha
                            </p>
                            <a class="card-header-icon button is-success m-1 is-disabled">@item.Qtd_Separar</a>
                        </header>
                        <div class="card-content">
                        @if (item.Qtd_Separar > 0)
                        {
                            <div class="b-table">
                                <div class="table-wrapper has-mobile-cards">
                                    <table class="table is-fullwidth ">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Ref_linha)</th>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Nome_Linha)</th>
                                                <th>@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Qtd_Separar)</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Ref_linha)">@item.Ref_linha</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Nome_Linha)">@item.Nome_Linha</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.Linhas.FirstOrDefault().Qtd_Separar)">
                                                    <div class="field has-addons">
                                                      <p class="control">
                                                        <input class="input" type="number" value="@item.Qtd_Separar" id="txtQtd_@item.Picking_Linha_Stamp"/>
                                                      </p>
                                                      <p class="control">
                                                        <a class="button is-static">
                                                          @item.TipoUnidade
                                                        </a>
                                                      </p>
                                                    </div>
                                                    </td>
                                                <td class="is-actions-cell">
                                                    <a class="button is-success is-rounded is-fullwidth" onclick="ValidarQuantidade('@item.Picking_Linha_Stamp')">
                                                        <span class="icon is-small">
                                                            <i class="fa-solid fa-check"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            }else{
                               <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas quantidades pendentes!</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
}

<a class="button is-large is-info is-rounded is-fullwidth" onclick="ConfirmFecharPicking('@Model.Picking_Stamp')">
    <span class="icon is-small">
        <i class="fa-solid fa-check"></i>
    </span>
    <span>Fechar Picking</span>
</a> 

<div class="modal" id="modalMensagem">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Informação</p>
    </header>
    <section class="modal-card-body">
        <h1 id="txtMensagem" style="font-size:200%;font-weight:900"></h1>
    </section>
    <footer class="modal-card-foot">
      <button class="button" onclick="Bulma('#modalMensagem').modal().close();">Ok</button>
    </footer>
  </div>
</div>

<div class="modal" id="modalFecharPicking">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Picking</p>
    </header>
    <section class="modal-card-body">
      <p class="title is-5">Tem a certeza que deseja fechar o documento de Picking?</p> 
      <div class="control"><textarea type="text" class="textarea" disabled id="txtMensagens" readonly rows=4 value=""></textarea></div>
            <hr />  
      <div class="control"><label class="label">Observações</label><textarea type="text" class="textarea" id="txtObs" rdonly rows=2 value=""></textarea></div>
        &nbsp;
      <div class="control" id="divArmazem">
        <label class="label">Armazém</label>
            <div class="select" style="width:100%">
                <select id="lstArmazensModal" class="form-control" asp-items="ViewBag.Armazens" style="width:100%"></select>
        </div>
    </div>
  </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onclick="FecharPicking('@Model.Picking_Stamp')">Sim</button>
      <button class="button" onclick="Bulma('#modalFecharPicking').modal().close();">Não</button>
    </footer>
  </div>
</div>

<audio id="info_beep" src="~/audio/info_beep.mp3"></audio>

<script>
function ValidarSerie(id, l) {
    
    var l_stamp = document.getElementById('txtBomaStamp_' + id + l).value;
    $.ajax({
        url: '/Picking/Linha/',
        data: { "stamp": id, "qtd": 1, "serie": document.getElementById('txtSerie_' + id + l).value, "bomastamp": l_stamp },
        type: "PUT",
        success: function(data) {
            if (data[1] == "") {
                notify('N/S inserido com sucesso!');
                document.getElementById('txtBomaStamp_' + id + l).value = data[2];
                document.getElementById('txtSerie_' + id + l).disabled = true;
                document.getElementById('btnApagar_' + id + l).style.display = 'block';
                document.getElementById('btnValidar_' + id + l).style.display = 'none';
            } else {
                document.getElementById('txtSerie_' + id + l).value = "";
                ModalMensagem(data[1], "danger");
                PlayBeep();
            }
        },
        error: function(response) {
            ModalMensagem("Ocorreu um erro ao validar o Número de Série no PHC. Por favor tente novamente!", "danger");
            PlayBeep();
        },
        failure: function(response) {
            ModalMensagem("Ocorreu um erro ao validar o Número de Série no PHC. Por favor tente novamente!", "danger");
            PlayBeep();
        }
    });
}

    function ApagarSerie(id, l) {
      
        var l_stamp = document.getElementById('txtBomaStamp_' + id + l).value;
        $.ajax({
            url: '/Picking/Linha/',
            data: { "stamp": id, "qtd": 1, "serie":  '', "bomastamp" : l_stamp},
            type: "PUT",
            success: function (data) {
                if (data[1] == "") {
                    notify('Núm. de Série apagado com sucesso!');
                    document.getElementById('txtSerie_' + id + l).value = '';
                    document.getElementById('txtBomaStamp_' + id + l).value = '';
                    document.getElementById('txtSerie_' + id + l).disabled = false;
                    document.getElementById('btnApagar_' + id + l).style.display = 'none';
                    document.getElementById('btnValidar_' + id + l).style.display = 'block';
                } else {
                ModalMensagem(data[1], "danger");
                PlayBeep();
                }
            },
            error: function (response) {
                ModalMensagem("Ocorreu um erro ao validar o Número de Série no PHC. Por favor tente novamente!", "danger");
                PlayBeep();
            },
            failure: function (response) {
                ModalMensagem("Ocorreu um erro ao validar o Número de Série no PHC. Por favor tente novamente!", "danger");
                PlayBeep();            
            }
        });

    }

    function ValidarQuantidade(id) {
       $.ajax({
            url: '/Picking/Linha/',
            data: { "stamp": id, "qtd": document.getElementById('txtQtd_' + id).value},
            type: "PUT",
            success: function (data) {
                document.getElementById('txtQtd_' + id).closest('.card').childNodes[1].classList.add('has-background-success');
                if (data[1] == "") {
                    notify('Quantidade enviada com sucesso!');
                } else {
                ModalMensagem(data[1], "danger");
                PlayBeep();
                }
            },
            error: function (response) {
                ModalMensagem("Ocorreu um erro ao validar a quantidade no PHC. Por favor tente novamente!", "danger");
                PlayBeep();
            },
            failure: function (response) {
                ModalMensagem("Ocorreu um erro ao validar a quantidade no PHC. Por favor tente novamente!", "danger");
                PlayBeep();           
            }
        });
    }

        function ConfirmFecharPicking(id) {
            $.ajax({
            type: "GET",
            url: "/Picking/Validar/" + id,
            success: function (result) {
                $(function () {
                    if (result != "") {
                        document.getElementById("txtMensagens").value = result;
                    } else {
                        document.getElementById("txtMensagens").value = "Não foram encontrados problemas!";
                    }
                     document.getElementById("divArmazem").hidden = (@Model.Encomenda.NumDossier != 2);
                     Bulma('#modalFecharPicking').modal().open();
                });
            }
        });

    }

        function FecharPicking(id) {
            Bulma('#modalFecharPicking').modal().close();
            document.getElementById('pageloader').classList.add('is-active');
            $.ajax({
                url: '/Picking/Picking/' + id,
                type: "DELETE",
                data: { "obs": document.getElementById('txtObs').value, "armazem":  document.getElementById('lstArmazensModal').value},
                success: function (data) {
                    window.location = '/Picking';
                }
            });
    }

    function PlayBeep() {
        document.getElementById('info_beep').play();
    }
    function ModalMensagem(mensagem, cor) {
        Bulma('#modalMensagem').modal().header.classList.remove('has-background-warning');
        Bulma('#modalMensagem').modal().header.classList.remove('has-background-danger');
        Bulma('#modalMensagem').modal().header.classList.remove('has-background-success');
        Bulma('#modalMensagem').modal().header.classList.add('has-background-' + cor);
        document.getElementById('txtMensagem').innerHTML = mensagem;
        Bulma('#modalMensagem').modal().open();
    }

    var elts = document.getElementsByClassName('input')
    Array.from(elts).forEach(function(elt){
      elt.addEventListener("keyup", function(event) {
        if (event.keyCode === 13 && elt.value.length > 0) {
            elt.parentElement.nextElementSibling.childNodes[1].click();
            
            //Passar para o proximo elemento
            if (elt.parentElement.parentElement.nextElementSibling == null) {
                elt.blur();

                ModalMensagem("Chegou ao fim desta referência! Por favor passe para a seguinte!", "success");
                PlayBeep();

            }else {
                elt.parentElement.parentElement.nextElementSibling.childNodes[5].childNodes[0].focus();
                //elt.parentElement.parentElement.nextElementSibling.childNodes[5].childNodes[0].value = "";
                elt.parentElement.parentElement.nextElementSibling.childNodes[5].childNodes[0].setSelectionRange(0, elt.parentElement.parentElement.nextElementSibling.childNodes[5].childNodes[0].value.length);
            }
        }
      });
})
</script>