@model FT_Management.Models.Contacto

@{
    ViewData["Title"] = "Contacto - " + Model.NomeContacto;
}
<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-user-tie"></i>
                            </span>
                            <span>@Model.NomeContacto</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<form asp-action="Editar" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>

    <input type="hidden" asp-for="DataContacto" />
    <input type="hidden" asp-for="TipoContacto" id="txtTipoContacto" />
    <input type="hidden" asp-for="IdLoja" />
    <input type="hidden" asp-for="IdCliente" />
    <input type="hidden" asp-for="IdComercial" />
    <input type="hidden" asp-for="IdUtilizador" />
    <input type="hidden" asp-for="URL" />
    <input type="hidden" asp-for="ValidadoPorAdmin" />

    <div class="container">
        <div class="tabs-wrapper">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span>Contacto</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Contactos Adicionais</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Dados</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Comentários</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Anexos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-content mx-2">
                <ul>
                    <li class="is-active">
                        <div class="columns is-multiline">
                            <div class="column is-2">
                                <div class="field">
                                    <label asp-for="IdContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" id="IdContacto" readonly asp-for="IdContacto">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="NomeContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="NomeContacto" id="txtNomeEmpresa">
                                    </div>
                                    <span asp-validation-for="NomeContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="PessoaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="PessoaContacto" id="txtNomeContacto">
                                    </div>
                                    <span asp-validation-for="PessoaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="CargoPessoaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="CargoPessoaContacto">
                                    </div>
                                    <span asp-validation-for="CargoPessoaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="EmailContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="EmailContacto">
                                    </div>
                                    <span asp-validation-for="EmailContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="TelefoneContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="TelefoneContacto">
                                    </div>
                                    <span asp-validation-for="TelefoneContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="TipoContacto" class="label"></label>
                                    <div class="select" style="width:100%">
                                        <select class="select" style="width:100%" onchange="tipoContactoAlterado()" asp-for="TipoContacto" name="ddlTipoContacto" id="ddlTipoContacto">
                                            <option>ExpoCarne 2022</option>
                                            <option>Email</option>
                                            <option>Mensagem</option>
                                            <option>Feira</option>
                                            <option>Visita</option>
                                            <option>Outro</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="TipoContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="AreaNegocio" class="label"></label>
                                    <div class="select" style="width:100%">
                                        <select class="select" style="width:100%" asp-for="AreaNegocio"
                                                asp-items="@(new SelectList(@ViewBag.AreasNegocio, "Value", "Text"))">
                                        </select>
                                    </div>
                                    <span asp-validation-for="AreaNegocio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                         <p class="control is-right">
                            <a class="button is-primary is-pulled-right is-fullwidth" onclick="Bulma('#modalAdicionarContacto').modal().open();">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Novo Contacto</span>
                            </a>
                        </p>
                        &nbsp;

                        @if (Model.ContactosAdicionais.Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontrados contactos adicionais!</button>
                        }
                        else
                        {
                            <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">                
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().PessoaContacto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().CargoPessoaContacto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().TelefoneContacto)
                                        </th>                                        
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().EmailContacto)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContactosAdicionais)
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().PessoaContacto)">
                                                <span>@item.PessoaContacto</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().CargoPessoaContacto)">
                                                <span>@item.CargoPessoaContacto</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().TelefoneContacto)">
                                                <span>@item.TelefoneContacto</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.ContactosAdicionais.FirstOrDefault().EmailContacto)">
                                                <span>@item.EmailContacto</span>
                                            </td>
                                            <td class="is-actions-cell">
                                                <div class="buttons is-pulled-right is-flex-wrap-nowrap">
                                                    <a class="button is-info" @(item.TelefoneContacto.Length < 9 ? "disabled" : "") href="tel:@item.TelefoneContacto"><i class="fas fa-phone"></i></a>
                                                    <a class="button is-primary" @(item.EmailContacto.Length < 1 ? "disabled" : "") href="mailto:@item.EmailContacto"><i class="fas fa-envelope float-left"></i></a>
                                                    <a class="button is-danger" href="~/Contactos/ApagarContactoAdicional/@item.Id"><i class="fas fa-trash float-left"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                            </div>
                        }
                    </li>
                    <li>
                        <div class="columns is-multiline">
                            <div class="column is-3">
                                <div class="field">
                                    <label asp-for="NIFContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="NIFContacto">
                                    </div>
                                    <span asp-validation-for="NIFContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-9">
                                <div class="field">
                                    <label asp-for="MoradaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="MoradaContacto">
                                    </div>
                                    <span asp-validation-for="MoradaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="Obs" class="label"></label>
                                    <div class="control">
                                        <textarea class="textarea" rows="8" placeholder="Observações" id="txtObs" asp-for="Obs"></textarea>
                                    </div>
                                    <span asp-validation-for="Obs" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="control is-right">
                            <button class="button is-primary is-pulled-right is-fullwidth" onclick="Bulma('#modalAdicionarComentario').modal().open();">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Novo Comentário</span>
                            </button>
                        </p>
                        &nbsp;

                        @if (Model.Historico.Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontrados comentários!</button>
                        }
                        else
                        {
                            <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">                
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Data)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().IdComercial.NomeCompleto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Obs)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Historico)
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Data)">
                                                <span>@item.Data.ToShortDateString()</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().IdComercial)">
                                                <span>@item.IdComercial.NomeCompleto</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Obs)">
                                                <span>@item.Obs</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                            </div>
                        }

                        <div id="modalAdicionarComentario" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Adicionar Comentário</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="form-group">
                                        <textarea id="txtHist" class="textarea is-info" rows="5" placeholder="Comentário" required></textarea>
                                        &nbsp;
                                        <div class="form-check form-group col">
                                            <label class="switch is-rounded">
                                                <input type="checkbox" id="chkLembrete">
                                                <span class="check is-info"></span>
                                                <span class="control-label">Definir Lembrete</span>
                                            </label> 
                                            &nbsp;
                                           <input class="input" type="date" value="@(DateTime.Parse(DateTime.Now.AddDays(30).ToString()).ToString("yyyy-MM-dd"))" id="txtDataLembrete" name="txtDataLembrete"/>
                                            <script>
                                                bulmaCalendar.attach('#txtDataLembrete', {
                                                    color: 'info',
                                                    lang: 'pt',
                                                    displayMode: 'inline',
                                                    dateFormat: 'MM/dd/yyyy',
                                                    todayLabel: 'Hoje',
                                                    showClearButton: false,
                                                    cancelLabel: 'Cancelar'
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button type="button" class="button is-info" onclick="AddHistorico();" id="btnConfirmAddComentario" href="javascript:;">Adicionar</button>
                                </footer>
                            </div>
                        </div>
                    </li>
                    <li>
                    <div class="buttons">
                        <a class="button is-primary is-fullwidth" onclick="Bulma('#modalAdicionarAnexo').modal().open();">
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Novo Anexo</span>
                        </a>
                        <a class="button is-fullwidth is-warning" @(Model.URL.Length == 0 ? "disabled" : "") href="@Model.URL" target="_blank">
                            <span class="icon is-small">
                                <i class="fas fa-eye"></i>
                            </span>
                            <span>Ver Anexos</span>
                        </a>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <input type="submit" value="Guardar Alterações" class="button is-info is-outlined is-fullwidth"/>
    </div>
</form>


 <div id="modalAdicionarContacto" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Contacto</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
               <div class="field">
                  <label class="label">Nome da Pessoa</label>
                  <div class="control">
                    <input class="input" id="txtPessoaContacto" type="text" placeholder="Nome">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Cargo</label>
                  <div class="control">
                    <input class="input" id="txtCargo" type="text" placeholder="Cargo">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Telefone/Telemóvel</label>
                  <div class="control">
                    <input class="input" id="txtTelefone" type="tel" maxlength="20" placeholder="Telemóvel">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" id="txtEmail" type="email" placeholder="Email">
                  </div>
                </div>

            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-fullwidth" onclick="AddContacto();" href="javascript:;">Adicionar</button>
        </footer>
    </div>
</div>

<div id="modalAdicionarAnexo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Anexo</p>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <form action="/Contactos/AdicionarAnexo/?NomeEmpresa=@Model.NomeContacto&NomeCliente=@Model.PessoaContacto"
                  class="dropzone has-background-dark-dark has-background-light-light"
                  id="my-awesome-dropzone2"></form>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info is-fullwidth" onclick="Bulma('#modalAdicionarAnexo').modal().close();" id="btnConfirmAddAnexo" href="javascript:;">Fechar</button>
        </footer>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    function tipoContactoAlterado() {
        document.getElementById("txtTipoContacto").value = document.getElementById("ddlTipoContacto").value;
    }

    function AddHistorico() {
        var json = {
            idcontacto: document.getElementById('IdContacto').value,
            obs: document.getElementById('txtHist').value,
            lembrete: document.getElementById('chkLembrete').checked ? 1 : 0,
            datalembrete: document.getElementById('txtDataLembrete').value
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/AdicionarObservacao",
            data: json,
            traditional: true,
            success: function (result) {
                window.location.reload();
            }
        });

    }

    function AddContacto() {
        var json = {
            id: document.getElementById('IdContacto').value,
            pessoa: document.getElementById('txtPessoaContacto').value,
            cargo: document.getElementById('txtCargo').value,
            telefone: document.getElementById('txtTelefone').value,
            email: document.getElementById('txtEmail').value,
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/AdicionarContacto",
            data: json,
            traditional: true,
            success: function (result) {
                if (result == "nok") {
                    notifyError('Não foi possivel adicionar o contacto! Por favor verifique se preencheu todos os dados.');
                }else{
                window.location.reload();
                }
            }
        });

    }




</script>