@model FT_Management.Models.Contacto

@{
    ViewData["Title"] = "Contacto - " + Model.NomeContacto;
}
<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-12">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-user-tie"></i>
                            </span>
                            <span>@Model.NomeContacto</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<form asp-action="Editar" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>

    <input type="hidden" asp-for="DataContacto" />
    <input type="hidden" asp-for="TipoContacto" id="txtTipoContacto" />
    <input type="hidden" asp-for="IdLoja" />
    <input type="hidden" asp-for="IdCliente" />
    <input type="hidden" asp-for="IdComercial" />
    <input type="hidden" asp-for="IdUtilizador" />
    <input type="hidden" asp-for="URL" />
    <input type="hidden" asp-for="ValidadoPorAdmin" />

    <div class="container">
        <div class="tabs-wrapper">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span>Contacto</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Dados</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Comentários</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Anexos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-content mx-2">
                <ul>
                    <li class="is-active">
                        <div class="columns is-multiline">
                            <div class="column is-1">
                                <div class="field">
                                    <label asp-for="IdContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" id="IdContacto" readonly asp-for="IdContacto">
                                    </div>
                                </div>
                            </div>
                            <div class="column is-7">
                                <div class="field">
                                    <label asp-for="NomeContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="NomeContacto" id="txtNomeEmpresa">
                                    </div>
                                    <span asp-validation-for="NomeContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="PessoaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="PessoaContacto" id="txtNomeContacto">
                                    </div>
                                    <span asp-validation-for="PessoaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="CargoPessoaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="CargoPessoaContacto">
                                    </div>
                                    <span asp-validation-for="CargoPessoaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="EmailContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="EmailContacto">
                                    </div>
                                    <span asp-validation-for="EmailContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div class="field">
                                    <label asp-for="TelefoneContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="TelefoneContacto">
                                    </div>
                                    <span asp-validation-for="TelefoneContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="TipoContacto" class="label"></label>
                                    <div class="select" style="width:100%">
                                        <select class="select" style="width:100%" onchange="tipoContactoAlterado()" asp-for="TipoContacto" name="ddlTipoContacto" id="ddlTipoContacto">
                                            <option>Email</option>
                                            <option>Mensagem</option>
                                            <option>Feira</option>
                                            <option>Visita</option>
                                            <option>Outro</option>
                                        </select>
                                    </div>
                                    <span asp-validation-for="TipoContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="AreaNegocio" class="label"></label>
                                    <div class="select" style="width:100%">
                                        <select class="select" style="width:100%" asp-for="AreaNegocio"
                                                asp-items="@(new SelectList(@ViewBag.AreasNegocio, "Value", "Text"))">
                                        </select>
                                    </div>
                                    <span asp-validation-for="AreaNegocio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="columns is-multiline">
                            <div class="column is-3">
                                <div class="field">
                                    <label asp-for="NIFContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="NIFContacto">
                                    </div>
                                    <span asp-validation-for="NIFContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-9">
                                <div class="field">
                                    <label asp-for="MoradaContacto" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="MoradaContacto">
                                    </div>
                                    <span asp-validation-for="MoradaContacto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="Obs" class="label"></label>
                                    <div class="control">
                                        <textarea class="textarea" rows="8" placeholder="Observações" id="txtObs" asp-for="Obs"></textarea>
                                    </div>
                                    <span asp-validation-for="Obs" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="control is-right">
                            <button class="button is-primary is-pulled-right is-fullwidth" onclick="ConfirmAddHistorico()">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Novo Comentário</span>
                            </button>
                        </p>
                        &nbsp;

                        @if (Model.Historico.Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontrados comentários!</button>
                        }
                        else
                        {
                            <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">                
                            <table class="table is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Data)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().IdComercial.NomeCompleto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Obs)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Historico)
                                    {
                                        <tr>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Data)">
                                                <span>@item.Data.ToShortDateString()</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().IdComercial)">
                                                <span>@item.IdComercial.NomeCompleto</span>
                                            </td>
                                            <td data-label="@Html.DisplayNameFor(model => model.Historico.FirstOrDefault().Obs)">
                                                <span>@item.Obs</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                            </div>
                        }

                        <div id="modalAdicionarComentario" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Adicionar Comentário</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="form-group">
                                        <textarea id="txtHist" class="textarea is-info" rows="5" placeholder="Comentário" required></textarea>
                                        &nbsp;
                                        <div class="form-check form-group col">
                                            <label class="switch is-rounded">
                                                <input type="checkbox" id="chkLembrete">
                                                <span class="check is-info"></span>
                                                <span class="control-label">Definir Lembrete</span>
                                            </label> 
                                            &nbsp;
                                           <input class="input" type="date" value="@(DateTime.Parse(DateTime.Now.AddDays(30).ToString()).ToString("yyyy-MM-dd"))" id="txtDataLembrete" name="txtDataLembrete"/>
                                            <script>
                                                bulmaCalendar.attach('#txtDataLembrete', {
                                                    color: 'info',
                                                    lang: 'pt',
                                                    displayMode: 'inline',
                                                    dateFormat: 'dd/MM/yyyy',
                                                    todayLabel: 'Hoje',
                                                    showClearButton: false,
                                                    cancelLabel: 'Cancelar'
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button type="button" class="button is-info" onclick="AddHistorico();" id="btnConfirmAddComentario" href="javascript:;">Adicionar</button>
                                </footer>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="file has-name is-fullwidth" id="file-with-js">
                            <label class="file-label">
                                <input class="file-input" id="fileinput" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Escolha um ficheiro...
                                    </span>
                                </span>
                                <span class="file-name">Por favor escolha um ficheiro</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <input type="submit" value="Guardar Alterações" class="button is-info is-outlined is-fullwidth"/>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
        var input = document.querySelector(
            "#file-with-js>.file-label>.file-input"
        );
        input.onchange = function () {
            if (input.files.length > 0) {
                AdicionarAnexo();
            }
        }
    function tipoContactoAlterado() {
        document.getElementById("txtTipoContacto").value = document.getElementById("ddlTipoContacto").value;
    }

        function AdicionarAnexo(input) {
        var formData = new FormData();
            formData.append("files", document.getElementById('fileinput').files[0]);
        $.ajax(
            {
                url: "/Contactos/AdicionarAnexo?NomeEmpresa=" + document.getElementById('txtNomeEmpresa').value + "&NomeCliente=" + document.getElementById('txtNomeContacto').value,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    bulmaToast.toast({
                        message: 'Anexo carregado com sucesso!',
                        type: 'is-success',
                        closeOnClick: true,
                        pauseOnHover: true,
                        opacity: 0.8,
                        duration: 5000
                    })
                }
            }
        );
    }

    function AddHistorico() {
        var json = {
            idcontacto: document.getElementById('IdContacto').value,
            obs: document.getElementById('txtHist').value,
            lembrete: document.getElementById('chkLembrete').checked ? 1 : 0,
            datalembrete: document.getElementById('txtDataLembrete').value
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/AdicionarObservacao",
            data: json,
            traditional: true,
            success: function (result) {
                window.location.reload();
            }
        });

    }

    function ConfirmAddHistorico() {
        var modal = Bulma('#modalAdicionarComentario').modal();
        modal.open();
    }

</script>