@model IEnumerable<FT_Management.Models.Contacto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;

@{
    ViewData["Title"] = "Contactos";
}


<input type="hidden" View id="hiddenIdContacto" name="IdContacto" />
<form asp-action="Index" method="get">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-info">
                            <p class="title">
                                <span class="icon mr-3">
                                    <i class="fas fa-user-tie"></i>
                                </span>
                                <span>Contactos</span>
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons has-addons-right mx-1 is-flex-wrap-wrap">
                    <p class="control has-icons-left">
                        <input type="text" class="input" placeholder="Filtro" id="txtFiltro" name="filter" value="@ViewData["filter"]" aria-describedby="basic-addon2">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <span class="select">
                            <select class="select" id="lstarea" style="height: auto" onchange="filtrar()"
                                    asp-items="@(new SelectList(@ViewBag.AreasNegocio, "Value", "Text", @ViewData["area"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-filter"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <span class="select">
                            <select class="select" id="idcomercial" style="height: auto" onchange="filtrar()"
                                    asp-items="@(new SelectList(@ViewBag.ListaComerciais, "Id", "NomeCompleto", @ViewData["idcomercial"]))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-user"></i>
                        </span>
                    </p>
                </div>
                <div class="buttons is-right">
                    <p class="control">
                        <button type="submit" class="button is-info is-outlined">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                            <span>Pesquisar</span>
                        </button>
                    </p>
                    <p class="control">
                        <button type="button" onclick="window.location.href = '/Contactos'" class="button is-outlined">
                            <span class="icon">
                                <i class="fas fa-backspace fa-lg"></i>
                            </span>
                            <span>Limpar Pesquisa</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-primary is-info" type="button" onclick="window.location.href = '/Contactos/Adicionar'">
                            <span class="icon">
                                <i class="fas fa-plus fa-lg"></i>
                            </span>
                            <span>Adicionar</span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
<hr />
<div class="container">
    @if (Model.Count() == 0)
    {
        <br />
        <button class="button is-danger is-fullwidth is-disabled">Não foram encontrados contactos!</button>
    }
    else
    {
        <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().NomeContacto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().PessoaContacto)
                    </th>
                    <th class="is-hidden-touch">
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Comercial.NomeCompleto)
                    </th>
                    <th class="is-hidden-touch"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(!item.ValidadoPorAdmin ? "has-background-danger-light" : "")" >
                        <td onclick="MostrarInfoContacto(@item.IdContacto)" data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().NomeContacto)">
                            <span>@item.NomeContacto</span>
                        </td>
                        <td onclick="MostrarInfoContacto(@item.IdContacto)" data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().PessoaContacto)">
                            <span>@item.PessoaContacto</span>
                        </td>
                        <td onclick="MostrarInfoContacto(@item.IdContacto)" data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Comercial.NomeCompleto)">
                            <span>@item.Comercial.NomeCompleto</span>
                        </td>

                        <td class="is-actions-cell">
                            <div class="buttons is-pulled-right is-flex-wrap-nowrap">
                                <a class="button is-info" @(item.TelefoneContacto.Length < 9 ? "disabled" : "") href="tel:@item.TelefoneContacto"><i class="fas fa-phone"></i></a>
                                <a class="button is-warning " href="@item.URL" target="_blank"><i class="fas fa-paperclip"></i></a>
                                <a class="button is-primary" @(item.EmailContacto.Length < 1 ? "disabled" : "") href="mailto:@item.EmailContacto"><i class="fas fa-envelope float-left" style="margin-top:5px"></i></a>
                                <a class="button is-primary is-outlined" @(item.MoradaContacto.Length < 1 ? "disabled" : "") href="@Utilizador.ObterLinkMapa(new Cliente() {MoradaCliente = item.MoradaContacto}, User.Claims.Where(u => u.Type.Contains("userdata")).First().Value)"><i class="fas fa-location-arrow"></i></a>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <a class="button is-danger" onclick="ConfirmApagarContacto(@item.IdContacto)" href="javascript:;"><i class="fas fa-trash"></i></a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Contactos", new { page, filter = @ViewData["filter"], area = @ViewData["area"], idcomercial = @ViewData["idcomercial"] }))

    }
</div>
@if (this.User.IsInRole("Admin"))
{
    <div id="modalApagarContacto" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <span class="icon">
                        <i class="fas fa-circle-minus"></i>
                    </span>
                    <span>Apagar Contacto</span>
                </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p>Tem a certeza que deseja apagar este contacto? <b>Esta ação é irreversivel!</b></p>
            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-danger" onclick="ApagarContacto()" href="javascript:;">
                    <span class="icon">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span>Apagar</span>
                </button>
            </footer>
        </div>
    </div>

    <div id="modalAssociarComercial" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    <span class="icon">
                        <i class="fas fa-check-circle"></i>
                    </span>
                    <span>Associar Comercial ao Contacto</span>
                </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label>Deseja a associar este contacto a qual comercial?</label>
                    <p class="control has-icons-left">
                        @{ var LstEstado = ViewData["Estado"] as IList<EstadoMarcacao>;}
                        <span class="select" style="width:100%">
                            <select class="select" style="width:100%" id="lstcomerciais"
                                    asp-items="@(new SelectList(@ViewBag.Comerciais, "Id", "NomeCompleto"))">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="button" class="button is-info" onclick="AssociarComercialConfirm()" href="javascript:;">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Associar</span>
                </button>
            </footer>
        </div>
    </div>
}

<div id="modalContacto" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-info-circle"></i>
                </span>
                <span>Informação de Contacto</span>
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="info_contacto">

            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-info" onclick="Editar()" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-pen"></i>
                </span>
                <span>Editar Contacto</span>
            </button>
        </footer>
    </div>
</div>


<script>
    var lstComerciais = document.getElementById("lstcomerciais");
    lstComerciais.remove(0);

    function MostrarInfoContacto(Id) {
        document.getElementById("hiddenIdContacto").value = Id;

        var json = {
            id: Id
        };
        $.ajax({
            type: "POST",
            url: "/Contactos/ObterContacto",
            data: json,
            traditional: true,
            dataType: "text",
            success: function (response) {
                $(function () {
                    // Add response in Modal body
                    $('.info_contacto').html(response);

                    var modal = Bulma('#modalContacto').modal();
                    modal.open();
                });
            }
        });
    }

    function Editar() {

        window.location.href = "/Contactos/Editar/" + document.getElementById('hiddenIdContacto').value;
    }

    function changeAreaNegocio() {
        var area = document.getElementById("lstarea").value;
        var filter = document.getElementById("txtFiltro").value;

        if (document.getElementById("lstarea").selectedIndex == "0") area = "";

        window.location.href = "/Contactos?filter=" + filter + "&area=" + area;

    }

    function filtrar() {
        var area = document.getElementById("lstarea").value;
        var filter = document.getElementById("txtFiltro").value;
        var idcomercial = document.getElementById("idcomercial").value;

        if (document.getElementById("lstarea").selectedIndex == "0") area = "";
        if (document.getElementById("idcomercial").selectedIndex == "0") idcomercial = 0;

        window.location.href = "/Contactos?filter=" + filter + "&area=" + area + "&idcomercial=" + idcomercial;

    }

    function AssociarComercial() {
        var modal = Bulma('#modalAssociarComercial').modal();
        modal.open();    }

    function AssociarComercialConfirm() {
        //alert(document.getElementById('lstcomerciais').value);
        var lstComerciais = document.getElementById("lstcomerciais");
        var txtComercial = lstComerciais.options[lstComerciais.selectedIndex].innerHTML;
        //alert(txtComercial);

        var json = {
            idcontacto: document.getElementById('hiddenIdContacto').value,
            idcomercial: document.getElementById('lstcomerciais').value
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/AssociarComercial",
            data: json,
            traditional: true,
            success: function (result) {
                window.location.reload();
            }
        });

        $("#modalAssociarComercial").modal('hide');
    }

    function ConfirmApagarContacto(Id) {
        document.getElementById('hiddenIdContacto').value = Id;
        var modal = Bulma('#modalApagarContacto').modal();
        modal.open();
    }

    function MostrarCliente() {
        var json = {
            id: document.getElementById('hiddenIdContacto').value
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/MostrarCliente",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.href = result;
                });
            },
            error: function () {
               Bulma('#modalContacto').modal().close();
                        bulmaToast.toast({
                          message: 'Não foi encontrado um cliente com o mesmo NIF!',
                          type: 'is-danger',
                          closeOnClick: true,
                          pauseOnHover: true,
                          opacity: 0.8,
                          duration: 5000
                        })
            }
        });
    }

    function ApagarContacto() {
        var json = {
            id: document.getElementById('hiddenIdContacto').value
        };

        $.ajax({
            type: "POST",
            url: "/Contactos/Apagar",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    window.location.reload();
                });
            }
        });

        $("#myModal").modal('hide');
    }
</script>
