@model Armazem

@{
    ViewData["Title"] = "Movimentos - " + Model.ArmazemNome;
}

<div class="pageloader is-info" id="pageloader"><span class="title">A carregar ...</span></div>
<div class="pageloader is-success" id="pageloader2"><span class="title">A gerar a guia global! Por favor aguarde
        ...</span></div>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title"><b>@Model.ArmazemNome</b> - Armazém Nº @Model.ArmazemId</p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <form asp-action="Armazem" method="get">
                <div class="field has-addons has-addons-right mx-1">
                    <p class="control has-icons-left" style="width:100%">
                        <span class="select" style="width:100%">
                            <select id="lstguias" asp-items="ViewBag.Guias" style="width:100%" onchange="submitdata()">
                            </select>
                        </span>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-file-invoice"></i>
                        </span>
                    </p>
                </div>
                <div class="buttons has-addons is-right">
                    <a class="button is-info is-outlined" href="~/Produtos?Armazem=@Model.ArmazemId">
                        <span class="icon">
                            <i class="fas  fa-dolly-flatbed"></i>
                        </span>
                        <span>Stock</span>
                    </a>
                    <a class="button is-info" onclick="Bulma('#modalGerarPedidoTransferencia').modal().open();">
                        <span class="icon">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        <span>Nova Transferência</span>
                    </a>
                    <a class="button is-success" onclick="Bulma('#modalGerarGuiaGlobal').modal().open();">
                        <span class="icon">
                            <i class="fa-solid fa-file-export"></i>
                        </span>
                        <span>Guia Global</span>
                    </a>
                    <a class="button is-warning" onclick="ObterGarantias(@Model.ArmazemId)">
                        <span class="icon">
                            <i class="fa-solid fa-gift"></i>
                        </span>
                        <span>Garantias</span>
                    </a>
                </div>
                <input hidden id="hiddenSelectedGT" name="gt" value="@ViewData["GT"]" />
            </form>
        </div>
    </div>
</div>
<hr />


@if (Model.LstMovimentos.Count() == 0)
{
    <br />
    <button class="button is-danger is-fullwidth is-disabled">Não foram encontrados movimentos!</button>
}
else
{
    <div class="container">
    <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
            <table class="table is-hoverable is-fullwidth" id="tblProdutos">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().IdFolhaObra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().NomeCliente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().RefProduto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().Designacao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().Quantidade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LstMovimentos.First().DataMovimento)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LstMovimentos)
                        {
                            <tr style="width:auto"
                        onclick="window.open('@(Url.Action("FolhaObra", "FolhasObra", new { Id = item.IdFolhaObra, target="_blank" }))')">
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().IdFolhaObra)">
                                    <span>@item.IdFolhaObra</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().NomeCliente)">
                                    <span>@item.NomeCliente</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().RefProduto)">
                                    <span>@item.RefProduto</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().Designacao)">
                                    <span>@item.Designacao</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().Quantidade)">
                                    <span>@item.Quantidade</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.LstMovimentos.First().DataMovimento)">
                                    <span>@item.DataMovimento</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<br />


<div id="modalGerarGuiaGlobal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Gerar Guia Global</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja gerar uma guia global do Armazém Nº @Model.ArmazemId?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info is-fullwidth is-large" type="button"
                onclick="GerarGuiaGlobal(@Model.ArmazemId)">
                <span class="icon">
                    <i class="fa-solid fa-file-export"></i>
                </span>
                <span>Gerar</span>
            </button>
            <button type="button" class="button is-large is-fullwidth is-danger"
                onclick="Bulma('#modalGerarGuiaGlobal').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalRMAF" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Garantias</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
               
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalRMAF').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalSucessoGuiaGlobal" class="modal">
    <div class="modal-background has-background-success"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Guia Global</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p class="is-size-2 has-text-centered has-text-weight-bold">Foi gerada com sucesso a sua guia global.
                    Por requisite a impressão/envio da sua guia!</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-large is-fullwidth is-danger"
                onclick="Bulma('#modalSucessoGuiaGlobal').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<div id="modalGerarPedidoTransferencia" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Novo Pedido de Transferência</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja gerar um documento de Pedido de Transferências para o Armazém Nº
                    @Model.ArmazemId?</p>
            </div>
            &nbsp;
            <div class="form-check form-group col">
                <label class="switch is-rounded">
                    <input type="checkbox" id="chkPecas">
                    <span class="check is-info"></span>
                    <span class="control-label">Pre-carregar com as peças selecionadas?</span>
                </label>
            </div>
        </section>
        <footer class="modal-card-foot">
            <a class="button is-info is-large is-fullwidth" type="button"
                onclick="GerarTransferencia(@Model.ArmazemId);">
                <span class="icon">
                    <i class="fa-solid fa-file-export"></i>
                </span>
                <span>Novo</span>
            </a>
            <button type="button" class="button is-large is-fullwidth is-danger"
                onclick="Bulma('#modalGerarPedidoTransferencia').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<script>
    function submitdata() {
        document.getElementById("hiddenSelectedGT").value = document.getElementById("lstguias").value;
        $('form').submit();
    }
    document.getElementById("lstguias").value = document.getElementById("hiddenSelectedGT").value;

    function GerarGuiaGlobal(id) {
        document.getElementById('pageloader2').classList.add('is-active');
        Bulma('#modalGerarGuiaGlobal').modal().close();
        $.ajax({
            url: '/Produtos/GuiaGlobal/' + id,
            type: "POST",
            success: function (response) {
                if (response[0] == 1) {
                    notify("Guia gerada com sucesso! Por requisite a impressão/envio da sua guia! " + response[1]);
                    Bulma('#modalSucessoGuiaGlobal').modal().open();
                } else {
                    notifyError("Ocorreu um erro ao gerar a sua guia. Por favor tente novamente! " + response[1]);
                }
                document.getElementById('pageloader2').classList.remove('is-active');
            },
            error: function (response) {
                notifyError(response);
                document.getElementById('pageloader2').classList.remove('is-active');
            },
            failure: function (response) {
                notifyError(response);
                document.getElementById('pageloader2').classList.remove('is-active');
            }
        });
    }

    function GerarTransferencia(armazem) {
        document.getElementById('pageloader').classList.add('is-active');
        Bulma('#modalGerarPedidoTransferencia').modal().close();

        var id = '@ViewData["GT"].ToString().Replace("/", "|")';
        var load = document.getElementById('chkPecas').checked ? 1 : 0;
        document.getElementById('pageloader').classList.remove('is-active');
        window.location.href = "/Dossiers/Transferencia/" + id + "?armazem=" + armazem + "&load=" + load;
    }

    function ObterGarantias(id) {
        document.getElementById('pageloader').classList.add('is-active');
        $.ajax({
            url: '/Produtos/Garantias/' + id,
            type: "GET",
            success: function (response) {
                var html = "<div class=\"b-table\"><div class=\"table-wrapper has-mobile-cards\"><table class=\"table table-hover is-fullwidth\"> <thead><tr><th>Cliente</th><th style=\"width: 110px\">Equipamento</th><th>Peça</th><th>Estado</th><th></th></tr></thead><tbody>";
                $(response).each(function () {
                    var s = this;
                    $(this.linhas).each(function () {
                        if (this.referencia != '') html += "<tr><td data-label='Cliente'>" + s.folhaObra.clienteServico.nomeCliente + "</td><td data-label='Equipamento'>" + s.folhaObra.equipamentoServico.numeroSerieEquipamento + "</td><td data-label='Peça'>" + this.designacao + "</td><td data-label='Estado'>" + s.estado + "</td><td class='is-actions-cell buttons'><button class='button is-info is-fullwidth' type='button' onclick='window.open(\"/Produtos/EtiquetaGarantia/" + s.folhaObra.stampFO + "?peca=" + this.referencia + "\")'><span class='icon is-small'><i class='fa-solid fa-qrcode'></i></span></button><button class='button is-success is-fullwidth' type='button' onclick='ValidarPecaGarantia(\""+s.stampDossier+"\")'><span class='icon is-small'><i class='fa-solid fa-check'></i></span></button></td></tr>";
                    });
                });
                html += "</tbody></table></div></div>"
                $('#modalRMAF').find('.modal-body').html(html);
                if (response.length > 0) { Bulma('#modalRMAF').modal().open(); } else {
                    notifyError('Não exisitem peças pendentes em garantia!')
                }

                document.getElementById('pageloader').classList.remove('is-active');
            },
            error: function (response) {
                document.getElementById('pageloader').classList.remove('is-active');
                notifyError('Ocorreu um erro ao obter os dossiers em garantia!');
            },
            failure: function (response) {
                document.getElementById('pageloader').classList.remove('is-active');
                notifyError('Falha ao obter os dossiers em garantia!');
            }
        });
    }

</script>