@model FT_Management.Models.Produto

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Referência</h1>

<div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
    <a class="nav-item nav-link active" id="v-pills-editar-tab" data-toggle="pill" href="#v-pills-editar" role="tab" aria-controls="v-pills-editar" aria-selected="true">Produto</a>
    <a class="nav-item nav-link" id="v-pills-pecas-tab" data-toggle="pill" href="#v-pills-pecas" role="tab" aria-controls="v-pills-pecas" aria-selected="false">Movimentos</a>
</div>
<br />

<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-editar" role="tabpanel" aria-labelledby="v-pills-editar-tab">

        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-4">
                        <label asp-for="Ref_Produto" class="control-label"></label>
                        <input asp-for="Ref_Produto" class="form-control" readonly />
                        <span asp-validation-for="Ref_Produto" class="text-danger"></span>
                    </div>
                    <div class="form-group col-8">
                        <label asp-for="Designacao_Produto" class="control-label"></label>
                        <input asp-for="Designacao_Produto" class="form-control" />
                        <span asp-validation-for="Designacao_Produto" class="text-danger"></span>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group col-4">
                        <label asp-for="Stock_Fisico" class="control-label"></label>
                        <input asp-for="Stock_Fisico" class="form-control" />
                        <span asp-validation-for="Stock_Fisico" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Stock_PHC" class="control-label"></label>
                        <input asp-for="Stock_PHC" class="form-control" />
                        <span asp-validation-for="Stock_PHC" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="Pos_Stock" class="control-label"></label>
                        <input asp-for="Pos_Stock" class="form-control" />
                        <span asp-validation-for="Pos_Stock" class="text-danger"></span>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group" style="width: 100%">
                        <label asp-for="Obs_Produto" class="control-label"></label>
                        @Html.EditorFor(model => model.Obs_Produto, new { htmlAttributes = new { @class = "form-control", @rows = "8" } })
                        <span asp-validation-for="Obs_Produto" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: 100%">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            <i class="fas fa-save"></i> Guardar Alterações
                        </button>
                    </div>
                </div>
            </div>

        </form>
        </div>
        <div class="tab-pane fade show " id="v-pills-pecas" role="tabpanel" aria-labelledby="v-pills-pecas-tab">
            @{ var LstGuiaPecas = ViewData["LstGuiasPecas"] as IList<Movimentos>;}

            <br />
            <button class="btn btn-lg btn-danger btn-block form-group disabled @(LstGuiaPecas.Count() == 0 ? "" : "d-none")">Não foram encontrados movimentos!</button>

            <table class="table table-hover @(LstGuiaPecas.Count() > 0 ? "" : "d-none")">
                <thead>
                    <tr>
                        <th>
                            Data do Movimento
                        </th>
                        <th>
                            Cliente
                        </th>
                        <th>Tecnico</th>
                        <th>
                           Quantidade
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in LstGuiaPecas)
                    {
                    <tr onclick="location.href = '@(Url.Action("Editar", "FolhasObra", new { id = item.IdFolhaObra }))'">
                        <td>
                            <span>@item.DataMovimento.ToString("dd-MM-yyyy")</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeTecnico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        <div>
            <a asp-action="Index">Voltar</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
