@model IEnumerable<FT_Management.Models.Dossier>

@{
    ViewData["Title"] = "Garantias";
}

<div class="pageloader is-info" id="pageloader"><span class="title">A carregar ...</span></div>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fa-solid fa-house-medical"></i>
                            </span>
                            <span>Garantias</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />


@if (Model.Count() == 0)
{
    <br />
    <button class="button is-danger is-fullwidth is-disabled">Não foram encontradas garantias!</button>
}
else
{
    <div class="container">
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth" id="tblProdutos">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().IdDossier)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().FolhaObra.ClienteServico.NomeCliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().FolhaObra.EquipamentoServico.NumeroSerieEquipamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().FolhaObra.Utilizador.NomeCompleto)
                            </th>
                            <th>
                                Designação
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Estado)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                            {
                            @foreach (var l in item.Linhas.Where(l => !string.IsNullOrEmpty(l.Referencia)))
                                {
                                <tr style="width:auto" class="@(item.Estado == "Maia" ? "has-background-success-soft" : "")">
                                    <td data-label="@Html.DisplayNameFor(model => model.First().IdDossier)">
                                        <span>@item.IdDossier</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.First().FolhaObra.ClienteServico.NomeCliente)">
                                        <span>@item.FolhaObra.ClienteServico.NomeCliente</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.First().FolhaObra.EquipamentoServico.NumeroSerieEquipamento)">
                                        <span>@item.FolhaObra.EquipamentoServico.NumeroSerieEquipamento</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.First().FolhaObra.Utilizador.NomeCompleto)">
                                        <span>@item.Tecnico.NomeCompleto</span>
                                    </td>
                                    <td data-label="Designação">
                                        <span>@l.Designacao</span>
                                    </td>
                                    <td data-label="@Html.DisplayNameFor(model => model.First().Estado)">
                                        <span>@item.Estado</span>
                                    </td>
                                    <td class="is-actions-cell">
                                        <div class="buttons" style="width:100%">
                                            <button class="button is-info is-fullwidth" type="button" onclick="window.open('/Produtos/EtiquetaGarantia/@item.StampDossier?peca=@l.Referencia')">
                                                <span class="icon is-small">
                                                    <i class="fa-solid fa-qrcode"></i>
                                                </span>
                                            </button>
                                            @if (!(item.Estado == "Maia")) {
                                            <button class="button is-success-light is-fullwidth" type="button" onclick="document.getElementById('txtHiddenStamp').value = '@item.StampDossier'; Bulma('#modalConfirmarAtualizarGarantia').modal().open();">
                                                <span class="icon is-small">
                                                    <i class="fa-solid fa-check"></i>
                                                </span>
                                            </button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
}
<br />
<input id="txtHiddenStamp" hidden />

<div id="modalConfirmarAtualizarGarantia" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Atualizar Garantia</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <p>Tem a certeza que deseja dar como entregue a peça selecionada?</p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button class="button is-info is-fullwidth is-large" type="button"
                    onclick="AtualizarEstadoGarantia(document.getElementById('txtHiddenStamp').value)">
                <span class="icon">
                    <i class="fa-solid fa-check"></i>
                </span>
                <span>Sim</span>
            </button>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalConfirmarAtualizarGarantia').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Não</span>
            </button>
            </div>
        </footer>
    </div>
</div>

<script>
    function AtualizarEstadoGarantia(id) {
        document.getElementById('pageloader').classList.add('is-active');
        $.ajax({
            url: '/Produtos/Garantia/' + id,
            type: "PUT",
            success: function (response) {
                window.location.reload();
            },
            error: function (response) {
                document.getElementById('pageloader').classList.remove('is-active');
                notifyError('Ocorreu um erro ao obter os dossiers em garantia!');
            },
            failure: function (response) {
                document.getElementById('pageloader').classList.remove('is-active');
                notifyError('Falha ao obter os dossiers em garantia!');
            }
        });
    }
</script>