@model IEnumerable<FT_Management.Models.Produto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.NetCore;

@{
    ViewData["Title"] = "Listagem";
}




<table width="100%">
    <tr>
        <td>
            <h1>Listagem de Referências</h1>
        </td>
        <td class="float-right" style="margin-bottom:5px;">
            <form method="post" enctype="multipart/form-data" asp-controller="Produtos" asp-action="FileUpload" style="margin-bottom: -10px">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02" name="files" value="Escolher">
                            <label class="custom-file-label" for="inputGroupFile02">Escolha o ficheiro</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="input-group-text" value="Carregar" />
                        </div>
                    </div>
                </div>
            </form>
            <form asp-action="Index" method="get">
                <div class="input-group" style="margin-left:auto; margin-right:0;">
                    <input type="text" style="min-width: 100px" class="form-control" placeholder="Referência" aria-label="Referência" aria-describedby="button-addon4" name="Ref" value="@ViewData["Ref"]">
                    <input type="text" style="min-width: 100px" class="form-control" placeholder="Designação" aria-label="Designação" aria-describedby="button-addon4" name="Desig" value="@ViewData["Desig"]">
                </div>
                <div class="input-group" style="margin-left:auto;margin-top:5px; margin-right:0;">
                    <button type="submit" class="btn btn-primary float-left" style="margin-left:5px;margin-bottom:5px;">
                        <i class="fas fa-search fa-lg"></i> Pesquisar
                    </button>
                    <a asp-action="Index" style="margin-left:5px; margin-bottom:5px;" class="btn btn-secondary float-right"><i class="fas fa-backspace"></i> Limpar Filtro</a>
                    <a asp-action="Criar" class="btn btn-primary" style="margin-left:5px; margin-bottom:5px;"><i class="fas fa-plus"></i> Adicionar Referência</a>
                </div>
            </form>
        </td>

    </tr>
</table>

@if (Model.Count() == 0)
{
    <br />
    <button class="btn btn-lg btn-danger btn-block disabled">Não foram encontrados produtos!</button>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ref_Produto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designacao_Produto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock_Fisico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock_PHC)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td onclick="location.href = '@(Url.Action("Edit", "Produtos", new { id = item.Ref_Produto }))'">
                        @Html.DisplayFor(modelItem => item.Ref_Produto)
                    </td>
                    <td onclick="location.href = '@(Url.Action("Edit", "Produtos", new { id = item.Ref_Produto }))'">
                        @Html.DisplayFor(modelItem => item.Designacao_Produto)
                    </td>
                    <td onclick="location.href = '@(Url.Action("Edit", "Produtos", new { id = item.Ref_Produto }))'">
                        @Html.DisplayFor(modelItem => item.Stock_Fisico)
                    </td>
                    <td onclick="location.href = '@(Url.Action("Edit", "Produtos", new { id = item.Ref_Produto }))'">
                        @Html.DisplayFor(modelItem => item.Stock_PHC)
                    </td>
                    <td>
                        @*<a class="btn" onclick="window.open('@Url.Action("Print", "Produtos", new { id = item.Ref_Produto, target="_blank" })')"><i class="fas fa-print"></i></a>*@
                        <a class="btn" onclick="window.open('@Url.Action("PrintQr", "Produtos", new { id = item.Ref_Produto, target="_blank" })')"><i class="fas fa-print"></i></a>
                        <a class="btn" onclick="window.open('@Url.Action("PrintPeq", "Produtos", new { id = item.Ref_Produto, target="_blank" })')"><i class="fas fa-print"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Produtos", new { page, Ref = @ViewData["Ref"], Desig = @ViewData["Desig"] }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)

}
