@model IEnumerable<FT_Management.Models.Produto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Listagem";
}


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas  fa-dolly-flatbed"></i>
                            </span>
                            <span>Produtos</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column">
            <form asp-action="Index" method="get">
                <div class="field has-addons has-addons-right mx-1">
                    <p class="control has-icons-left">
                        <input type="text" class="input is-info" placeholder="Referência" aria-label="Referência" aria-describedby="button-addon4" name="Ref" value="@ViewData["Ref"]">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-1-9"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left">
                        <input type="text" class="input is-info" placeholder="Designação" aria-label="Designação" aria-describedby="button-addon4" name="Desig" value="@ViewData["Desig"]">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-arrow-down-a-z"></i>
                        </span>
                    </p>
                </div>
                <div class="field has-addons has-addons-right mx-1">
                    <p class="control has-icons-left" style="max-width:125px">
                        <span class="select">
                            <select id="lstarmazens" asp-items="ViewBag.Armazens" onchange="submitdata()">
                            </select>
                        </span>
                        <input type="hidden" id="hiddenSelectedArmazem" name="Armazem" value="@ViewData["Armazem"]" />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-warehouse"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left" style="max-width:125px">
                        <span class="select">
                            <select id="lstfornecedores" asp-items="ViewBag.Fornecedores" selected onchange="submitdata()">
                            </select>
                        </span>
                        <input type="hidden" id="hiddenSelectedFornecedor" name="Fornecedor" value="@ViewData["Fornecedor"]" />
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-building-user"></i>
                        </span>
                    </p>
                    <p class="control has-icons-left" style="max-width:125px">
                        <span class="select">
                            <select id="lsttiposequipamento" asp-items="ViewBag.TiposEquipamento" selected onchange="submitdata()">
                            </select>
                        </span>
                        <input type="hidden" id="hiddenSelectedTipoEquipamento" name="TipoEquipamento" value="@ViewData["TipoEquipamento"]" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-cogs"></i>
                        </span>
                    </p>
                    </div>
                    <div class="field has-addons has-addons-right mx-1">
                    <p class="control">
                        <button type="submit" class="button is-info is-outlined">
                            <span class="icon">
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                            <span>Pesquisar</span>
                        </button>
                    </p>

                    <p class="control">
                        <a asp-action="Index" class="button">
                            <span class="icon">
                                <i class="fas fa-backspace"></i>
                            </span>
                            <span>Limpar</span>
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />

@if (Model.Count() == 0)
{
    <br />
    <button class="button is-danger is-fullwidth is-disabled">Não foram encontrados produtos!</button>
}
else
{
    <div class="container">
    <div class="b-table">
    <div class="table-wrapper has-mobile-cards"> 
        <table class="table is-hoverable is-fullwidth" id="tblProdutos">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Ref_Produto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Designacao_Produto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock_Fisico)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock_Atual)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="width:auto">
                        <td data-label="@Html.DisplayNameFor(model => model.Ref_Produto)">
                            <span>@item.Ref_Produto</span>
                        </td>
                        <td data-label="@Html.DisplayNameFor(model => model.Designacao_Produto)">
                            <span>@item.Designacao_Produto</span>
                        </td>
                        <td data-label="@Html.DisplayNameFor(model => model.Stock_Fisico)">
                            <span >@item.Stock_Fisico</span>
                        </td>
                        <td data-label="@Html.DisplayNameFor(model => model.Stock_Atual)">
                            <span>@item.Stock_Atual</span>
                        </td>
                        <td style="min-width: 240px" class="is-actions-cell">
                            <div class="buttons">
                                <a class="button is-outlined is-primary is-small printpeq" onclick="window.open('@Url.Action("PrintPeq", "Produtos", new { id = item.Ref_Produto, armazemid=item.Armazem_ID, target="_blank" })')"><i class="fa-solid fa-qrcode"></i></a>
                                <a class="button is-outlined is-normal is-primary printqr" onclick="window.open('@Url.Action("PrintQr", "Produtos", new { id = item.Ref_Produto, armazemid=item.Armazem_ID, target="_blank" })')"><i class="fa-solid fa-qrcode"></i></a>
                                <a class="button is-outlined is-primary" onclick="window.open('@Url.Action("PrintPeqMulti", "Produtos", new { id = item.Ref_Produto, armazemid=item.Armazem_ID, target="_blank" })')"><i class="fas fa-notes-medical"> x8</i></a>
                                <a class="button is-warning" onclick="window.open('@Url.Action("Detalhes", "Produtos", new { id = item.Ref_Produto, armazemid=item.Armazem_ID, target="_blank" })')"><i class="fas fa-eye"></i></a>
                                        @if (item.Serie)
                                        {
                                            <a class="button is-info" onclick="abrirModalSerie('@item.StampProduto')"><i class="fas fa-pencil"></i></a>
                                        }else{
                                             <a class="button is-info" onclick="abrirModalQtd('@item.StampProduto')"><i class="fas fa-pencil"></i></a>
                                        }
                                    </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </div>
    </div>
    <br />
    <div class="container">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Produtos", new { page, Ref = @ViewData["Ref"], Desig = @ViewData["Desig"], Armazem = @ViewData["Armazem"] }))
    </div>
}
<form action="#" onsubmit="AtualizarQtd(document.getElementById('txtStampRef').value)">
<div id="modalEditarQtd" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="txtRef1"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <label class="label">Quantidade Atual</label>
                <div class="field has-addons">
                  <div class="control" style="width:100%">
                        <input type="text" class="input" id="txtQtdAtual">
                  </div>
                 </div>
                </div>
        </section>
        <footer class="modal-card-foot">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-info" onclick="AtualizarQtd(document.getElementById('txtStampRef').value)">
                  <span class="icon">
                    <i class="fa-solid fa-floppy-disk"></i>
                </span>
                <span>Guardar</span>
                </a>
              </p>
            <a class="button is-secondary is-outlined" onclick="Bulma('#modalEditarQtd').modal().close();">Cancelar</a>
       </div>
        </footer>
    </div>
</div>
</form>
<form action="#" onsubmit="AtualizarSerie(document.getElementById('txtStampRef').value)">
<div id="modalEditarSerie" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="txtRef2"></p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <label class="label">Número de Série</label>
                <div class="field has-addons">
                  <div class="control" style="width:100%">
                        <input type="text" class="input" id="txtNumeroSerie" >
                  </div>
                 </div>
                </div>
        </section>
        <footer class="modal-card-foot">
          <div class="field is-grouped is-grouped-right">
            <p class="control">
                <button class="button is-info" type="submit">
                  <span class="icon">
                    <i class="fa-solid fa-floppy-disk"></i>
                </span>
                <span>Guardar</span>
                </button>
              </p>
            <a class="button is-secondary is-outlined" onclick="Bulma('#modalEditarSerie').modal().close();">Cancelar</a>
       </div>
        </footer>
    </div>
</div>
</form>
<input hidden id="txtStampRef" />
<script>
    function abrirModalQtd(stamp) {
        $.ajax({
            type: "GET",
            url: "/Produtos/ObterDetalhes/" + stamp,
            traditional: true,
                success: function (result) {
                    document.getElementById('txtRef1').innerHTML = result.ref_Produto + " - " + result.designacao_Produto;
                    document.getElementById('txtQtdAtual').value = result.stock_Fisico;
                    document.getElementById('txtStampRef').value = stamp;
                    Bulma('#modalEditarQtd').modal().open();
            },
            error: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            },
            failure: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            }
            });
    }
    function abrirModalSerie(stamp) {
        $.ajax({
            type: "GET",
            url: "/Produtos/ObterDetalhes/" + stamp,
            traditional: true,
                success: function (result) {
                    document.getElementById('txtRef2').innerHTML = result.ref_Produto + " - " + result.designacao_Produto;
                    document.getElementById('txtStampRef').value = stamp;
                    Bulma('#modalEditarSerie').modal().open();
            },
            error: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            },
            failure: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            }
            });
    }
  
    function AtualizarQtd(stamp) {
        var qtd = document.getElementById('txtQtdAtual').value;
        $.ajax({
            type: "POST",
            url: "/Produtos/AtualizarStock/" + stamp + "?qtd=" + qtd + "&armazem=" + document.getElementById("lstarmazens").value,
            traditional: true,
                success: function (result) {
                    bulmaToast.toast({
                            message: 'Stock atualizado com sucesso!',
                            type: 'is-success',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
                    abrirModalQtd(stamp);
            },
            error: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            },
            failure: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            }
            });
    }
        function AtualizarSerie(stamp) {
        var qtd = 1;
        var serie = document.getElementById('txtNumeroSerie').value;
        $.ajax({
            type: "POST",
            url: "/Produtos/AtualizarStock/" + stamp + "?qtd=" + qtd + "&serie=" + serie + "&armazem=" + document.getElementById("lstarmazens").value,
            traditional: true,
                success: function (result) {

                        bulmaToast.toast({
                            message: 'Stock atualizado com sucesso!',
                            type: 'is-success',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
                    abrirModalSerie(stamp);
            },
            error: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            },
            failure: function (response) {
                    bulmaToast.toast({
                            message: 'Ocorreu um erro ao obter detalhes da referência! Por favor tente novamente mais tarde.',
                            type: 'is-danger',
                            closeOnClick: true,
                            pauseOnHover: true,
                            opacity: 0.8,
                            duration: 5000,
                            position: 'top-center'
                        })
            }
            });
    }
    function submitdata() {
        document.getElementById("hiddenSelectedArmazem").value = document.getElementById("lstarmazens").value;
        document.getElementById("hiddenSelectedFornecedor").value = document.getElementById("lstfornecedores").value;
        document.getElementById("hiddenSelectedTipoEquipamento").value = document.getElementById("lsttiposequipamento").value;
        $('form').submit();
    }
    document.getElementById("lstfornecedores").value = document.getElementById("hiddenSelectedFornecedor").value;
    document.getElementById("lstarmazens").value = document.getElementById("hiddenSelectedArmazem").value;
    document.getElementById("lsttiposequipamento").value = document.getElementById("hiddenSelectedTipoEquipamento").value;
</script>
