@model IEnumerable<FT_Management.Models.Produto>

@{
    ViewData["Title"] = "Listagem";
}




<table width="100%">
    <tr>
        <td>
            <h1>Listagem de Referências</h1>
        </td>
        <td class="float-right">
                <a asp-action="Create" class="btn btn-primary btn-lg btn-block disabled">Adicionar Referência</a>
                <br />
                <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="files" value="Escolher">
                                <label class="custom-file-label" for="inputGroupFile02">Escolha o ficheiro</label>
                            </div>
                            <div class="input-group-append">
                                <input type="submit" class="input-group-text" value="Carregar" />
                            </div>
                        </div>
                        </div>
                    </form>
        </td>
    </tr>
</table>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ref_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designacao_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_Fisico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_PHC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ref_Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designacao_Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock_Fisico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock_PHC)
            </td>
            <td>
                <a class="btn" onclick="location.href = '@(Url.Action("Print", "Produtos", new { id = item.Ref_Produto }))'"><i class="fas fa-print"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
