@model FT_Management.Models.Produto

@{
    ViewData["Title"] = "Produto - " + Model.Ref_Produto;
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-10">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title"><b>@Model.Ref_Produto</b> - @Model.Designacao_Produto</p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column my-auto">
            <figure class="image">
                <img src="data:image/jpeg;base64,@Model.ImgProduto" />
            </figure>
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Produto</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Quantidades</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="Ref_Produto" class="label"></label>
                                <div class="control">
                                    <input asp-for="Ref_Produto" class="input" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="Designacao_Produto" class="label"></label>
                                <div class="control">
                                    <input asp-for="Designacao_Produto" class="input" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column is-3">
                            <div class="field">
                                <label asp-for="Armazem_ID" class="label"></label>
                                <div class="control">
                                    <span class="select is-fullwidth">
                                        <select id="lstarmazens" asp-items="ViewBag.Armazens" disabled>
                                        </select>
                                    </span>
                                    <input type="hidden" asp-for="Armazem_ID" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Stock_PHC" class="label"></label>
                                <div class="control">
                                    <input asp-for="Stock_PHC" class="input" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="Stock_Rec" class="label"></label>
                                <div class="control">
                                    <input asp-for="Stock_Rec" class="input" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="Stock_Res" class="label"></label>
                                <div class="control">
                                    <input asp-for="Stock_Res" class="input" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Pos_Stock" class="label"></label>
                                <div class="control">
                                    <input asp-for="Pos_Stock" class="input" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    @{ var LstProdutosArmazem = ViewData["LstProdutosArmazem"] as IList<Produto>;}
                    @if (LstProdutosArmazem.Count() == 0) {
                        <button class="button is-danger is-rounded is-outlined  is-fullwidth" disabled>Não foram encontrados Stocks!</button>
                    }
                    else
                    {
                        <div class="b-table">
                        <div class="table-wrapper has-mobile-cards"> 
                        <table class="table is-hoverable is-fullwidth @(LstProdutosArmazem.Count() > 0 ? "" : "is-hidden")">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Armazem_ID)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.Stock_PHC)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Stock_Rec)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Stock_Res)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in LstProdutosArmazem)
                                {
                                    <tr>
                                        <td data-label="@Html.DisplayNameFor(model => model.Armazem_ID)">
                                            @Html.DropDownListFor(modelItem => item.Armazem_ID, (IEnumerable<SelectListItem>)ViewBag.Armazens, new { @class = "button is-info", @disabled = "disabled" })
                                        </td>
                                        <td data-label="@Html.DisplayNameFor(model => model.Stock_PHC)">
                                            @Html.DisplayFor(modelItem => item.Stock_PHC)
                                        </td>
                                        <td data-label="@Html.DisplayNameFor(model => model.Stock_Rec)">
                                            @Html.DisplayFor(modelItem => item.Stock_Rec)
                                        </td>
                                        <td data-label="@Html.DisplayNameFor(model => model.Stock_Res)">
                                            @Html.DisplayFor(modelItem => item.Stock_Res)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}