@model FT_Management.Models.Visita

@{
    ViewData["Title"] = "Agendamento - " + Model.Cliente.NomeCliente;
}

<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title has-text-centered is-hoverable" onclick="location.href = '@(Url.Action("Cliente", "Clientes", new { IdCliente = @Model.Cliente.IdCliente, IdLoja = @Model.Cliente.IdLoja }))'">
                            <span class="icon mr-3">
                                <i class="fas fa-calendar-day"></i>
                            </span>
                            <span><b>@Model.IdVisita</b> - @Model.Cliente.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />

<form asp-action="Editar" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly" class="has-text-danger"></div>
<div class="container">
    <div class="tabs-wrapper">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span>Visita</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Dados</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tabs-content mx-2">
            <ul>
                <li class="is-active">
                    <div class="columns is-multiline">
                        <div class="column is-2">
                            <div class="field">
                                <label asp-for="IdVisita" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="IdVisita" class="input" readonly/>
                                    <span class="icon is-small is-left">
                                        <i class=""></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-10">
                            <div class="field">
                                <label asp-for="Cliente.NomeCliente" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Cliente.NomeCliente" class="input" readonly/>
                                    <span class="icon is-small is-left">
                                        <i class=""></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-8">
                            <div class="field">
                                <label asp-for="Cliente.MoradaCliente" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Cliente.MoradaCliente" class="input" readonly/>
                                    <span class="icon is-small is-left">
                                        <i class=""></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="field">
                                <label asp-for="Cliente.NumeroContribuinteCliente" class="label"></label>
                                <p class="control has-icons-left">
                                    <input asp-for="Cliente.NumeroContribuinteCliente" class="input" readonly/>
                                    <span class="icon is-small is-left">
                                        <i class=""></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label asp-for="ResumoVisita" class="label"></label>
                                <p class="control has-icons-left">
                                    <textarea asp-for="ResumoVisita" rows="12" class="textarea"></textarea>
                                    <span class="icon is-small is-left">
                                        <i class=""></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="IdComercial" class="label"></label>
                                <div class="select" style="width:100%">
                                     @{ var LstComerciais = ViewData["Comerciais"] as IList<Utilizador>;}
                                    <select class="select" style="width:100%" asp-for="IdComercial"
                                            asp-items="@(new SelectList(@LstComerciais, "Id", "NomeCompleto", Model.IdComercial))">
                                    </select>
                                </div>
                                <span asp-validation-for="IdComercial" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label asp-for="DataVisita"></label>
                                <div class="control">
                                <input class="input" type="date" id="txtData" asp-for="DataVisita"/>
                                <script>
                                    bulmaCalendar.attach('#txtData', {
                                        color: 'info',
                                        lang: 'pt',
                                        dateFormat: 'MM/dd/yyyy',
                                        todayLabel: 'Hoje',
                                        showClearButton: false,
                                        cancelLabel: 'Cancelar'
                                    });
                                </script>
                                </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="container">
        <input type="submit" value="Guardar Alterações" class="button is-info is-outlined is-fullwidth"/>
    </div>
</div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 