@model FT_Management.Models.Visita

@{
    ViewData["Title"] = "Editar Visita";
}


<h1>Editar Visita</h1>
<hr />
<form asp-action="Editar" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="nav nav-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active" id="v-pills-cliente-tab" data-toggle="pill" href="#v-pills-cliente" role="tab" aria-controls="v-pills-cliente" aria-selected="true">Cliente</a>
        <a class="nav-item nav-link" id="v-pills-comercial-tab" data-toggle="pill" href="#v-pills-comercial" role="tab" aria-controls="v-pills-comercial" aria-selected="false">Comercial</a>
        <a class="nav-item nav-link" id="v-pills-obs-tab" data-toggle="pill" href="#v-pills-obs" role="tab" aria-controls="v-pills-obs" aria-selected="false">Resumo</a>
        <a class="nav-item nav-link" id="v-pills-anexos-tab" data-toggle="pill" href="#v-pills-anexos" role="tab" aria-controls="v-pills-anexos" aria-selected="false">Anexos</a>
    </div>
    <input type="hidden" asp-for="IdVisita" />
    <input type="hidden" asp-for="EstadoVisita" />

    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-cliente" role="tabpanel" aria-labelledby="v-pills-cliente-tab">
            <br />
            <div class="row">
                <div class="form-group col-lg-4">
                    <label asp-for="Cliente.IdCliente" class="control-label"></label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="Cliente.IdCliente" id="IdCliente" readonly>
                        <input type="hidden" id="IdLoja" name="IdLoja" />
                        <button class="btn btn-outline-secondary" onclick="location.href = '@(Url.Action("Editar", "Clientes", new { idCliente = @Model.Cliente.IdCliente, idLoja = @Model.Cliente.IdLoja }))'" type="button" id="button-addon2"><i class="far fa-eye" style="margin-top:5px"></i></button>
                    </div>
                </div>
                <div class="form-group col-lg-8">
                    <div class="form-group" style="position: relative;">
                        <label class="control-label">Nome do Cliente</label>
                        <input type="text" class="form-control" id="txtCustomer" placeholder="Nome Cliente" asp-for="Cliente.NomeCliente">
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Cliente.NumeroContribuinteCliente" class="control-label"></label>
                    <input asp-for="Cliente.NumeroContribuinteCliente" class="form-control" id="NIFCliente" readonly />
                    <span asp-validation-for="Cliente.NumeroContribuinteCliente" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-8">
                    <label asp-for="Cliente.MoradaCliente" class="control-label"></label>
                    <input asp-for="Cliente.MoradaCliente" class="form-control" id="MoradaCliente" readonly />
                    <span asp-validation-for="Cliente.MoradaCliente" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="v-pills-comercial" role="tabpanel" aria-labelledby="v-pills-comercial-tab">
            <br />
            <div class="row">
                <div class="form-group col-lg-8">
                    <label for="">Comercial</label>
                    @{ var LstComerciais = ViewData["Comerciais"] as IList<Utilizador>;}
                    <select class="form-control" asp-for="IdComercial" asp-items="@(new SelectList(LstComerciais, "IdPHC", "NomeCompleto"))"></select>
                </div>
                <div class="form-group col-lg-4">
                    <label for="data" class="">Data da Visita</label>

                    @*DateTimePicker*@
                    <script src="~/js/gijgo.min.js" type="text/javascript"></script>
                    <link href="~/css/gijgo.min.css" rel="stylesheet" type="text/css" />

                    <input type="text" class="form-control" asp-for="DataVisita" id="datepicker">
                    <script>
                        $('#datepicker').datepicker({
                            format: 'dd-mm-yyyy'
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="v-pills-obs" role="tabpanel" aria-labelledby="v-pills-obs-tab">
            <br />
            <div class="form-group">
                <label for="">Resumo da Visita</label>
                <textarea class="form-control" rows="8" placeholder="" asp-for="ResumoVisita" required></textarea>
            </div>
            <div class="form-group">
                <label for="">Observações</label>
                <textarea class="form-control" rows="8" placeholder="" asp-for="ObsVisita"></textarea>
            </div>

        </div>
        <div class="tab-pane fade show" id="v-pills-anexos" role="tabpanel" aria-labelledby="v-pills-anexos-tab">
            <br />
                <div class="form-group">
                    <label class="control-label">Anexos Generalizados</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile02" name="files" value="Escolher" onchange="AdicionarAnexo('inputGroupFile02')">
                            <label class="custom-file-label" for="inputGroupFile02">Escolha o ficheiro</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text btn-primary" id="" onclick="modalProposta()" value="Anexar Proposta">Anexar Proposta</span>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Adicionar Proposta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="prop" value="Escolher">
                                            <label class="custom-file-label" for="lblProposta">Proposta</label>
                                        </div>
                                        <input type="hidden" id="hiddenId" name="idvisita" value="@Model.IdVisita" />
                                    </div>
                                    <label for="data" class="col-form-label">Data da Proposta</label>
                                    @*DateTimePicker*@
                                    <input type="text" class="form-control" id="txtData">
                                    <script>
                                        var today = new Date();
                                        var dd = String(today.getDate()).padStart(2, '0');
                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                        var yyyy = today.getFullYear();

                                        $('#txtData').datepicker({
                                            format: 'dd-mm-yyyy',
                                            value: dd + '-' + mm + '-' + yyyy
                                        });
                                    </script>
                                    <label for="" class="col-form-label">Estado da Proposta</label>
                                    <select class="form-control" id="txtEstado">
                                        <option selected>Criada</option>
                                        <option>Enviada</option>
                                        <option>Por Aceitar</option>
                                        <option>Aceite</option>
                                        <option>Finalizada</option>
                                    </select>
                                    <label for="" class=" col-form-label">Valor da Proposta</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtValor">
                                        <div class="input-group-append">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" data-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" onclick="AdicionarProposta('inputGroupFile01')" href="javascript:;">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <br />
        <div class="form-group">
            <input onclick="guardar()" value="Guardar & Sair" class="btn btn-primary btn-block btn-lg" style=" font-size: 80%; border-radius: 5rem; letter-spacing: .1rem; font-weight: bold; padding: 1rem; transition: all 0.2s;" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 

<script>

    function AdicionarAnexo(inputTxt) {
        var input = document.getElementById(inputTxt);
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        $.ajax(
            {
                url: "/Visitas/AdicionarAnexo?IdVisita=@Model.IdVisita&ReturnUrl=Editar?IdVisita=@Model.IdVisita",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            }
        );
    }

        function AdicionarProposta(inputTxt) {
        var input = document.getElementById(inputTxt);
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
            }

            formData.append("data", document.getElementById("txtData").value);
            formData.append("estado", document.getElementById("txtEstado").value);
            formData.append("valor", document.getElementById("txtValor").value);

        $.ajax(
            {
                url: "/Visitas/AdicionarProposta?IdVisita=@Model.IdVisita&ReturnUrl=Editar?IdVisita=@Model.IdVisita",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            }
        );
    }

    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Visitas/ObterClientes/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente,
                                val: item.idCliente,
                                val2: item.idLoja,
                                nif: item.numeroContribuinteCliente,
                                mor: item.moradaCliente
                            };
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#IdCliente").val(i.item.val);
                $("#IdLoja").val(i.item.val2);
                $("#NIFCliente").val(i.item.nif);
                $("#MoradaCliente").val(i.item.mor);
            },
            minLength: 1
        });
    });

    function guardar() {
        $('form').submit();
    }

    function modalProposta() {
        $('#myModal3').modal('toggle');
    }


    $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });
</script>