@model FT_Management.Models.Visita


@{
    ViewData["Title"] = "Visita - " + Model.Cliente.NomeCliente;
}


<style>
    .tabs-content li {
        display: none;
        list-style: none;
    }

        .tabs-content li.is-active {
            display: block;
        }
</style>

<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="column is-12">
            <div class="tile is-centered">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        @if (Model.Contacto.IdContacto > 0)
                        {
                            <p class="title" onclick="location.href = '@(Url.Action("Editar", "Contactos", new { id = Model.Contacto.IdContacto }))'" type="button">
                                <span class="icon mr-3">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                                <span>@Model.Cliente.NomeCliente</span>
                            </p>
                        }
                        else
                        {
                            <p class="title" onclick="location.href = '@(Url.Action("Cliente", "Clientes", new { IdCliente = @Model.Cliente.IdCliente, IdLoja = @Model.Cliente.IdLoja }))'">
                                <span class="icon mr-3">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                                <span>@Model.Cliente.NomeCliente</span>
                            </p>
                        }
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<form asp-action="Visita" asp-route-returnurl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="IdVisita" />
    <input type="hidden" asp-for="EstadoVisita" />
    <input type="hidden" asp-for="ResumoVisita" />
    <input type="hidden" asp-for="Cliente.IdCliente" />
    <input type="hidden" asp-for="Cliente.IdLoja" />
        <input type="hidden" asp-for="Contacto.IdContacto" />

    <div class="container">
        <div class="tabs-wrapper">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span>Dados</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Observações</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Propostas</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>Anexos</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-content mx-2">
                <ul>
                    <li class="is-active">
                        <div class="columns is-multiline">
                            <div class="column is-3">
                            <label asp-for="IdVisita" class="label"></label>
                            <div class="field has-addons">
                              <div class="control" style="width:100%">
                                  <input class="input" type="text" id="IdVisita" readonly asp-for="IdVisita">
                              </div>
                              @if (this.User.IsInRole("Admin"))
                                {
                                    <div class="control">
                                    <a class="button is-info" href="~/Visitas/Editar?idVisita=@Model.IdVisita">
                                        Editar
                                    </a>
                                    </div>
                                }
                                </div>
                            </div>
                            <div class="column is-9">
                                <div class="field">
                                    <label asp-for="Cliente.NomeCliente" class="label"></label>
                                    <div class="control">
                                        <input class="input" type="text" asp-for="Cliente.NomeCliente" readonly>
                                    </div>
                                    <span asp-validation-for="Cliente.NomeCliente" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                <label asp-for="IdComercial" class="label"></label>
                                <div class="select" style="width:100%">
                                     @{ var LstComerciais = ViewData["Comerciais"] as IList<Utilizador>;}
                                    <select class="select" style="width:100%" disabled asp-for="IdComercial"
                                            asp-items="@(new SelectList(@LstComerciais, "Id", "NomeCompleto", Model.IdComercial))">
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label asp-for="DataVisita" class="label"></label>
                                    <p class="control has-icons-left">
                                        <input asp-for="DataVisita" class="input" type="text" readonly/>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-calendar-day"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="ResumoVisita" class="label"></label>
                                    <div class="control">
                                        <textarea class="textarea" type="text" asp-for="ResumoVisita" readonly></textarea>
                                    </div>
                                    <span asp-validation-for="ResumoVisita" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <div class="field">
                                    <label asp-for="ObsVisita" class="label"></label>
                                    <div class="control">
                                        <textarea class="textarea" type="text" rows="10" asp-for="ObsVisita"></textarea>
                                    </div>
                                    <span asp-validation-for="ObsVisita" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p class="control is-right">
                            <a class="button is-primary is-pulled-right is-fullwidth" onclick="modalProposta()">
                                <span class="icon is-small">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>Nova Proposta</span>
                            </a>
                        </p>
                        &nbsp;
                        @if (Model.Propostas.Count() == 0)
                        {
                            <button class="button is-danger is-rounded is-outlined is-fullwidth" disabled>Não foram encontradas propostas!</button>
                        }
                        else
                        {
                            <table class="table is-hoverable is-narrow is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>
                                            Data da Proposta
                                        </th>
                                        <th>
                                            Estado da Proposta
                                        </th>
                                        <th>
                                            Comercial
                                        </th>
                                        <th>
                                            Valor da Proposta
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Propostas)
                                    {
                                        <tr>
                                            <td>
                                                <span>@item.DataProposta.ToString("dd/MM/yyyy")</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EstadoProposta)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comercial.NomeCompleto)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorProposta)
                                            </td>
                                            <td>
                                                <div class="btn-group float-right">
                                                    <a class="btn btn-outline-success btn-lg" onclick="window.open('@Url.Action("ObterFicheiroNextCloud", "Visitas", new { Url = item.UrlAnexo})')"><i class="fas fa-print" style="font-size:20px"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <div id="modalAdicionaProposta" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Adicionar Proposta</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div class="form-group">
                                        <div class="file has-name is-fullwidth" id="file-with-js">
                                            <label class="file-label">
                                                <input class="file-input" id="fileinput" type="file" name="resume">
                                                <span class="file-cta">
                                                    <span class="file-icon">
                                                        <i class="fa fa-upload"></i>
                                                    </span>
                                                    <span class="file-label">
                                                        Escolha um ficheiro...
                                                    </span>
                                                </span>
                                                <span class="file-name">Por favor escolha um ficheiro</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="data">Data da Proposta</label>
                                        @*DateTimePicker*@
                                        <input type="text" class="datepicker" id="txtData">
                                        <script>
                                            var today = new Date();
                                            var dd = String(today.getDate()).padStart(2, '0');
                                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                                            var yyyy = today.getFullYear();
                                            $('#txtData').datepicker({
                                                format: 'dd-mm-yyyy',
                                                value: dd + '-' + mm + '-' + yyyy
                                            });
                                        </script>
                                    </div>
                                    <div class="field">
                                        <label>Estado da Proposta</label>
                                        <div class="select" style="width:100%">
                                            <select class="select" style="width:100%" id="txtEstado">
                                                <option selected>Criada</option>
                                                <option>Enviada</option>
                                                <option>Por Aceitar</option>
                                                <option>Aceite</option>
                                                <option>Finalizada</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field is-grouped">
                                        <label>Valor da Proposta</label>
                                        <input class="input" type="number" id="txtValor">
                                        <span>€</span>
                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <a type="button" class="button is-info" onclick="AdicionarProposta();" href="javascript:;">Adicionar</a>
                                </footer>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="file has-name is-fullwidth" id="file-with-js2">
                            <label class="file-label">
                                <input class="file-input" id="fileinput2" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Escolha um ficheiro...
                                    </span>
                                </span>
                                <span class="file-name">Por favor escolha um ficheiro</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <input type="submit" value="Guardar Alterações" class="button is-info is-outlined is-fullwidth" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function AdicionarAnexo(inputTxt) {
        var formData = new FormData();
        formData.append("files", document.getElementById('fileinput2').files[0]);

        $.ajax(
            {
                url: "/Visitas/AdicionarAnexo?IdVisita=@Model.IdVisita&ReturnUrl=Editar?IdVisita=@Model.IdVisita",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            }
        );
    }
        function AdicionarProposta() {
            var formData = new FormData();
            formData.append("files", document.getElementById('fileinput').files[0]);
            formData.append("data", document.getElementById("txtData").value);
            formData.append("estado", document.getElementById("txtEstado").value);
            formData.append("valor", document.getElementById("txtValor").value);
        $.ajax(
            {
                url: "/Visitas/AdicionarProposta?IdVisita=@Model.IdVisita&ReturnUrl=Editar?IdVisita=@Model.IdVisita",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            }
        );
    }
    $(function () {
        $("#txtCustomer").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Visitas/ObterClientes/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.nomeCliente,
                                val: item.idCliente,
                                val2: item.idLoja,
                                nif: item.numeroContribuinteCliente,
                                mor: item.moradaCliente
                            };
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#IdCliente").val(i.item.val);
                $("#IdLoja").val(i.item.val2);
                $("#NIFCliente").val(i.item.nif);
                $("#MoradaCliente").val(i.item.mor);
            },
            minLength: 1
        });
    });
    function guardar() {
        $('form').submit();
    }
    function modalProposta() {
        var modal = Bulma('#modalAdicionaProposta').modal();
        modal.open();

    }
</script>