@model IEnumerable<FT_Management.Models.Utilizador>



@{
    ViewData["Title"] = "Acessos - Calendário";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span>Acessos - Calendário</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-right my-auto">
            <div class="control">
                <input type="date" class="input" id="txtDatas" disabled>
                <script>
                    bulmaCalendar.attach('#txtDatas', {
                        color: 'info',
                        isRange: true,
                        lang: 'pt',
                        labelFrom: 'De ',
                        labelTo: 'A',
                        displayMode: 'default',
                        dateFormat: 'MM/dd/yyyy',
                        todayLabel: 'Hoje',
                        clearLabel: 'Limpar',
                        cancelLabel: 'Cancelar',
                        startDate: '@DateTime.Now.AddDays(-31).ToString("yyyy-MM-dd")',
                        endDate: '@DateTime.Now.ToString("yyyy-MM-dd")'
                    });
                    document.getElementById('txtDatas').bulmaCalendar.on('select', function (datepicker) {
                        calendars.forEach(function(calendar) {
                            calendar.fullCalendar('refetchEvents');
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<hr />
@if (Model.Count() == 0)
{
    <button class="button is-danger is-rounded is-outlined is-large is-fullwidth" disabled>Não foram encontrados
    utilizadores!</button>
}
else
{
    <div id='calendar-container' class="mx-2">
    @foreach (var u in Model)
        {
            <div class="columns">
                <div class="column is-3">
                    <div class="card" style="background:@u.CorCalendario;">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img class="is-rounded" src="@u.ImgUtilizador" alt="user">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">@u.NomeCompleto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="is-9 mx-1" id='cl_@u.Id' data-id="@u.Id"></div>
            </div>
            <script>
            
                document.addEventListener('DOMContentLoaded', function () {
                    let srcCalendarEl = document.getElementById('cl_@u.Id');

                    let srcCalendar = new FullCalendar.Calendar(srcCalendarEl, {
                        plugins: ['dayGrid', 'interaction'],
                        defaultView: 'dayGridWeek',
                        height: 'auto',
                        timeZone: 'UTC',
                        firstDay: 1,
                        header: false,
                        locale: 'pt',
                        start: '2024-01-01',
                        end: '2024-01-08',
                        displayEventTime: false,
                        eventColor: '@u.CorCalendario',
                        events: '/Acessos/AcessosJSON/@u.Id'
                        });

                    srcCalendar.render();
                    calendars.push(srcCalendar);
                    
                });
            </script>
        }
    </div>
}
}
<script>

var calendars = [];

</script>
