@model IEnumerable<FT_Management.Models.RegistroAcessos>

@{
    ViewData["Title"] = "Processamento - Acessos";
}


<input type="hidden" id="hiddenIdAcesso" name="IdFerias" />


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span>Processamento - Acessos</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-right my-auto mx-0">
            <form method="get" style="width:100%" action="Acessos">
                <div class="field">
                    <p class="control" style="width:100%">
                        <input class="input" type="date"
                            value="@(DateTime.Parse(ViewData["Data"].ToString()).ToString("yyyy-MM-dd"))" id="txtData"
                            name="Data" />
                        <script>
                            bulmaCalendar.attach('#txtData', {
                                color: 'info',
                                lang: 'pt',
                                dateFormat: 'dd/MM/yyyy',
                                todayLabel: 'Hoje',
                                showClearButton: false,
                                cancelLabel: 'Cancelar'
                            });
                            document.getElementById('txtData').bulmaCalendar.on('select', function (datepicker) {
                                document.getElementById('txtData').value = datepicker.data.value();
                                $('form').submit();
                            });
                        </script>
                    </p>
                </div>
            </form>
            <p class="control">
                <a class="button is-primary is-fullwidth" id="addFerias"
                    onclick="window.open('@Url.Action("Acessos", "Acessos", new { data = @ViewData["Data"]})')">
                    <span class="icon">
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Exportar</span>
                </a>
            </p>
        </div>
    </div>
</div>
<hr />

@if (Model.Count() == 0)
{
    <div class="container">
    <br />
    <button class="button is-danger is-fullwidth" disabled>Não foram encontrados acessos!</button>
</div>
}
else
{
    <div class="container">
    <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Utilizador)
                        </th>
                        <th>
                            E1
                        </th>
                        <th>
                            S1
                        </th>                        
                        <th>
                            E2
                        </th>                        
                        <th>
                            S2
                        </th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                        {
                            <tr class="@(item.Validado ? "has-background-success" : (item.Valido ? "has-background-warning" : "has-background-danger"))">
                            <td id="@item.Utilizador.Id" style="min-width: 250px" data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Utilizador)">
                                <span>@item.Utilizador.NomeCompleto</span>
                            </td>
                            <td data-label="E1">
                                <input class="input" data-user="@item.Utilizador.Id" data-date="@item.Data.ToString("dd-MM-yyyy")" data-tipo=1 id="@item.E1.Id" type="text" value="@item.E1.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="S1">
                                <input class="input" data-user="@item.Utilizador.Id" data-date="@item.Data.ToString("dd-MM-yyyy")" data-tipo=2 id="@item.S1.Id" type="text" value="@item.S1.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="E2">
                                <input class="input" data-user="@item.Utilizador.Id" data-date="@item.Data.ToString("dd-MM-yyyy")" data-tipo=1 id="@item.E2.Id" type="text" value="@item.E2.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="S2">
                                <input class="input" data-user="@item.Utilizador.Id" data-date="@item.Data.ToString("dd-MM-yyyy")" data-tipo=2 id="@item.S2.Id" type="text" value="@item.S2.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="Total">
                                <span><b>@item.TotalHoras()</b></span>
                            </td>
                             <td style="min-width: 250px" class="is-actions-cell">
                            @if (!item.Validado) {
                                <div class="buttons">
                                <a class="button is-success is-rounded" onclick="ValidarAcessos(this)"
                                        href="javascript:;"><i class="fas fa-check" style="font-size:20px"></i></a>
                                <a class="button is-info is-rounded" onclick="EditarAcessos(this)"
                                        href="javascript:;"><i class="fas fa-pencil" style="font-size:20px"></i></a>
                                <a class="button is-danger is-rounded " onclick="ConfirmApagarAcesso(this)"
                                        href="javascript:;"><i class="fas fa-trash" style="font-size:20px"></i></a>
                                        </div>
                                        }
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div id="modalApagarAcesso" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-minus"></i>
                </span>
                <span>Apagar Acesso</span>
            </p>

            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <p>Tem a certeza que deseja apagar este acesso? <b>Esta ação é irreversivel!</b></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button type="button" class="button is-danger is-large is-fullwidth" id="btnApagarAcesso"
                onclick="ApagarAcesso()" href="javascript:;">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Apagar</span>
            </button>
        </footer>
    </div>
</div>



<script>
    function ConfirmApagarAcesso(Id) {
        document.getElementById("hiddenIdAcesso").value = Id;
        Bulma('#modalApagarAcesso').modal().open();
    }

    function ApagarAcesso() {
        document.getElementById("btnApagarAcesso").classList.add("is-loading");

        var json = {
            id: document.getElementById('hiddenIdAcesso').value
        };

        $.ajax({
            type: "DELETE",
            url: "/Acessos/Acesso",
            data: json,
            traditional: true,
            success: function (result) {
                $(function () {
                    if (result = 1) window.location.reload();
                });
            }
        });
        document.getElementById("btnApagarAcesso").classList.remove("is-loading");
        Bulma('#modalApagarAcesso').modal().close();
    }

    function EditarAcessos(btn)
    {
        btn.closest('tr').querySelectorAll('input').forEach(input => {input.disabled = !input.disabled; });
        if (btn.closest('tr').querySelectorAll('input')[0].disabled) {
            btn.querySelector('i').classList.add('fa-pencil');
            btn.querySelector('i').classList.remove('fa-floppy-disk');

            btn.closest('tr').querySelectorAll('input').forEach(input => {
                var json = {
                    id: input.id,
                    utilizador: input.getAttribute('data-user'),
                    data: input.getAttribute('data-date') + ' ' + input.value,
                    tipo: input.getAttribute('data-tipo'),
                };

                $.ajax({
                    type: "PUT",
                    url: "/Acessos/Acesso",
                    data: json,
                    traditional: true,
                    success: function (result) {
                        $(function () {
                        notify('Registros atualizados com sucesso!');
                        input.id = result;
                        });
                    }
                });
            });
           
        }else{
            btn.querySelector('i').classList.remove('fa-pencil');
            btn.querySelector('i').classList.add('fa-floppy-disk');
        }
        
    }

    function ValidarAcessos(btn)
    {

        btn.closest('tr').querySelectorAll('input').forEach(input => {
            var json = {
                id: input.id,
                utilizador: input.getAttribute('data-user'),
                data: input.getAttribute('data-date') + ' ' + input.value,
                tipo: input.getAttribute('data-tipo'),
                validar: 1
            };

            $.ajax({
                type: "PUT",
                url: "/Acessos/Acesso",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        notify('Registros validados com sucesso!')
                    });
                }
            });
        });
    }
    function DataAlterada() {
        if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
            document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
            $('form').submit();
        }
    }
</script>
