@model IEnumerable<FT_Management.Models.Acesso>

@{
    ViewData["Title"] = "Acessos";
}


<input type="hidden" id="hiddenIdAcesso" name="IdFerias" />


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span>Acessos</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-right my-auto mx-0">
            <form method="get" style="width:100%" action="Acessos">
                <input type="hidden" id="hiddenTxtData" value="@ViewData["Data"]" name="Data">
                <input type="text" class="datepicker" id="txtData">
                <script>
                        $('#txtData').datepicker({
                            format: 'dd-mm-yyyy',
                            size: 'large',
                            value: '@ViewData["Data"]',
                            change: function (e) {
                                if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
                                    //alert('Change is fired ' + document.getElementById("txtData").value);
                                    document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
                                    $('form').submit();
                                }
                            }
                        });
                </script>
            </form>
            <p class="control">
                <a class="button is-primary is-outlined is-fullwidth" id="addFerias" onclick="window.open('@Url.Action("ExportarListagemAcessos", "Acessos", new { data = @ViewData["Data"]})')">
                    <span class="icon">
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Exportar</span>
                </a>
            </p>
        </div>
    </div>
</div>
<hr />

@if (Model.Count() == 0)
{
    <div class="container">
        <br />
        <button class="button is-danger is-fullwidth" disabled>Não foram encontrados acessos!</button>
        </div>
        }
        else
        {
        <div class="container">
            <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Data de Acesso
                        </th>
                        <th>
                            Tipo de Acesso
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.Tipo == 1 ? "table-primary" : "table-warning")">
                            <td>
                                <span class="icon  mr-2">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span>@item.Utilizador.NomeCompleto</span>
                            </td>
                            <td>
                                <span class="icon  mr-2">
                                    <i class="fas fa-business-time"></i>
                                </span>
                                <span>@item.Data.ToString("HH:mm")</span>
                            </td>
                            <td>
                                <span class="icon  mr-2">
                                    <i class="fas @(item.Tipo == 1 ? "fa-arrow-right-to-bracket" : "fa-arrow-right-from-bracket")"></i>
                                </span>
                                <span class="is-hidden-touch">@item.TipoAcesso</span>
                            </td>
                            <td>
                                <a class="button is-danger is-outlined is-pulled-right" onclick="ConfirmApagarAcesso(@item.Id)" href="javascript:;"><i class="fas fa-trash" style="font-size:20px"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }


        <div id="modalApagarAcesso" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">
                        <span class="icon">
                            <i class="fas fa-circle-minus"></i>
                        </span>
                        <span>Apagar Acesso</span>
                    </p>

                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <div class="form-group">
                        <p>Tem a certeza que deseja apagar este acesso? <b>Esta ação é irreversivel!</b></p>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button type="button" class="button is-danger" id="btnApagarAcesso" onclick="ApagarAcesso()" href="javascript:;">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>Apagar</span>
                    </button>
                </footer>
            </div>
        </div>



        <script>
            function ConfirmApagarAcesso(Id) {
                document.getElementById("hiddenIdAcesso").value = Id;
                var modal = Bulma('#modalApagarAcesso').modal();
                modal.open();
            }

            function ApagarAcesso() {
                document.getElementById("btnApagarAcesso").classList.add("is-loading");
                var json = {
                    id: document.getElementById('hiddenIdAcesso').value
                };

                $.ajax({
                    type: "POST",
                    url: "/Acessos/Apagar",
                    data: json,
                    traditional: true,
                    success: function (result) {
                        $(function () {
                            window.location.reload();
                        });
                    }
                });

                $("#myModal").modal('hide');
            }
        </script>
