@model IEnumerable<FT_Management.Models.RegistroAcessos>

@{
    ViewData["Title"] = "Processamento - Acessos";
}


<input type="hidden" id="hiddenIdAcesso" name="IdFerias" />


<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fas fa-clock"></i>
                            </span>
                            <span>Processamento - Acessos</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-right my-auto mx-0">
            <form method="get" style="width:100%" action="Acessos">
                <div class="field">
                    <p class="control" style="width:100%">
                        <input class="input" type="date"
                            value="@(DateTime.Parse(ViewData["Data"].ToString()).ToString("yyyy-MM-dd"))" id="txtData"
                            name="Data" />
                        <script>
                            bulmaCalendar.attach('#txtData', {
                                color: 'info',
                                lang: 'pt',
                                dateFormat: 'dd/MM/yyyy',
                                todayLabel: 'Hoje',
                                showClearButton: false,
                                cancelLabel: 'Cancelar'
                            });
                            document.getElementById('txtData').bulmaCalendar.on('select', function (datepicker) {
                                document.getElementById('txtData').value = datepicker.data.value();
                                $('form').submit();
                            });
                        </script>
                    </p>
                </div>
            </form>
            <p class="control">
                <a class="button is-primary is-fullwidth mt-1" id="addFerias"
                    onclick="window.open('@Url.Action("Acessos", "Acessos", new { data = @ViewData["Data"]})')">
                    <span class="icon">
                        <i class="fas fa-cloud-download-alt"></i>
                    </span>
                    <span>Exportar</span>
                </a>
            </p>
        </div>
    </div>
</div>
<hr />

@if (Model.Count() == 0)
{
    <div class="container">
    <br />
    <button class="button is-danger is-fullwidth" disabled>Não foram encontrados acessos!</button>
</div>
}
else
{
    <div class="container">
    <div class="b-table">
        <div class="table-wrapper has-mobile-cards">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Utilizador)
                        </th>
                        <th>
                            E1
                        </th>
                        <th>
                            S1
                        </th>                        
                        <th>
                            E2
                        </th>                        
                        <th>
                            S2
                        </th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                        {
                            <tr class="@(item.Validado || item.Utilizador.Ferias ? "has-background-success-soft" : (item.Valido ? "has-background-warning-soft" : "has-background-danger-soft"))" id="tr_@item.Utilizador.Id">
                            <td id="@item.Utilizador.Id" style="min-width: 250px" data-label="@Html.DisplayNameFor(model => model.FirstOrDefault().Utilizador)">
                                <span>@item.Utilizador.NomeCompleto</span>
                            </td>
                            <td data-label="E1">
                                <input class="input" data-user="@item.Utilizador.Id" data-validar="@item.ValidarPHC" data-date="@(item.Data.ToString("dd-MM-yyyy") == "01-01-0001" ? DateTime.Parse(ViewData["Data"].ToString()).ToString("dd-MM-yyyy") : item.Data.ToString("dd-MM-yyyy"))" data-tipo=1 id="@item.E1.Id" data-total="@item.TotalMinutos" type="text" value="@item.E1.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="S1">
                                <input class="input" data-user="@item.Utilizador.Id" data-validar="@item.ValidarPHC" data-date="@(item.Data.ToString("dd-MM-yyyy") == "01-01-0001" ? DateTime.Parse(ViewData["Data"].ToString()).ToString("dd-MM-yyyy") : item.Data.ToString("dd-MM-yyyy"))" data-tipo=2 id="@item.S1.Id" data-total="@item.TotalMinutos" type="text" value="@item.S1.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="E2">
                                <input class="input" data-user="@item.Utilizador.Id" data-validar="@item.ValidarPHC" data-date="@(item.Data.ToString("dd-MM-yyyy") == "01-01-0001" ? DateTime.Parse(ViewData["Data"].ToString()).ToString("dd-MM-yyyy") : item.Data.ToString("dd-MM-yyyy"))" data-tipo=1 id="@item.E2.Id" data-total="@item.TotalMinutos" type="text" value="@item.E2.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="S2">
                                <input class="input" data-user="@item.Utilizador.Id" data-validar="@item.ValidarPHC" data-date="@(item.Data.ToString("dd-MM-yyyy") == "01-01-0001" ? DateTime.Parse(ViewData["Data"].ToString()).ToString("dd-MM-yyyy") : item.Data.ToString("dd-MM-yyyy"))" data-tipo=2 id="@item.S2.Id" data-total="@item.TotalMinutos" type="text" value="@item.S2.Data.ToString("HH:mm")" disabled/>
                            </td>
                                <td data-label="Total">
                                <span><b>@item.TotalHorasDesc()</b></span>
                            </td>
                             <td style="min-width: 250px" class="is-actions-cell">
                            @if (!item.Validado && !item.Utilizador.Ferias) {
                                <div class="buttons">
                                <a class="button is-success is-rounded " onclick="ValidarAcessos('tr_@item.Utilizador.Id');document.getElementById('txtBancoHoras').value='@item.Utilizador.BancoHoras';document.getElementById('txtHoras').value='@item.ObterHoras(8,30)';"
                                        href="javascript:;"><i class="fas fa-check" style="font-size:20px"></i></a>
                                <a class="button is-info is-rounded" onclick="EditarAcessos(this)"
                                        href="javascript:;"><i class="fas fa-pencil" style="font-size:20px"></i></a>
                                <a class="button is-danger is-rounded " onclick="ApagarAcesso(this)"
                                        href="javascript:;"><i class="fas fa-trash" style="font-size:20px"></i></a>
                                        </div>
                                        }
                                        @if (item.Utilizador.Ferias) {
                                            <a class="button is-rounded is-fullwidth is-info is-large"><span class="icon mr-3"><i class="fa-solid fa-umbrella-beach"></i></span><span>FÉRIAS</span></a>
                                            }
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


<div id="modalValidarAcesso" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                <span class="icon">
                    <i class="fas fa-circle-check"></i>
                </span>
                <span>Validar Acessos</span>
            </p>

            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="form-group">
                <div class="field">
                     <input type="text" class="input" style="display: none;" id="txtListaIdRegistros">
                    <label class="label">Tipo</label>
                    <div class="control">
                        <div class="select" style="width:100%">
                            <span class="select" style="width:100%">
                                <select id="lstTipo" asp-items="ViewBag.Tipos" onchange=" document.getElementById('divTipoHorasExtra').style.display = this.value == 1 ? 'block' : 'none';
                            document.getElementById('divTipoFaltas').style.display = this.value == 2 ? 'block' : 'none';"
                                                class="form-control" style="width:100%">
                                        </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="field" id="divTipoHorasExtra">
                    <label class="label">Tipo Horas Extra</label>
                    <div class="control">
                        <div class="select" style="width:100%">
                            <span class="select" style="width:100%">
                                <select id="lstTipoHorasExtra" asp-items="ViewBag.TipoHorasExtra"
                                                class="form-control" style="width:100%">
                                        </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field" id="divTipoFaltas">
                    <label class="label">Tipo Faltas</label>
                    <div class="control">
                        <div class="select" style="width:100%">
                            <span class="select" style="width:100%">
                               <select id="lstTipoFaltas" asp-items="ViewBag.TipoFaltas"
                                                class="form-control" style="width:100%">
                                        </select>
                            </span>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="field">
                    <label class="switch is-rounded">
                        <input type="checkbox" id="chkBancoHoras">
                        <span class="check is-info"></span>
                        <span class="control-label">
                            Banco de Horas
                        </span>
                    </label>
                </div>
                    <div class="field has-addons" style="width:100%">
                        <div class="control">
                            <input type="text" class="input" id="txtHoras">
                        </div>
                 <fieldset disabled>
                        <div class="control">
                            <input type="text" class="input" id="txtBancoHoras">
                        </div>
                </fieldset>
                    </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons is-centered" style="width:100%">
            <button class="button is-info is-fullwidth"
                onclick="GuardarAcessos(document.getElementById('lstTipo').value, document.getElementById('lstTipoFaltas').value, document.getElementById('lstTipoHorasExtra').value, document.getElementById('txtListaIdRegistros').value)">
                    <span class="icon">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </span>
                    <span>Guardar PHC</span>
                    </button>
            <button class="button is-link is-outlined is-fullwidth"
                onclick="Bulma('#modalValidarAcesso').modal().close();">
                <span class="icon">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </span>
                    <span>Cancelar</span>
                    </button>
                </div>
        </footer>
    </div>
</div>

<input hidden id="txtIdUtilizador">

<script>

    function ApagarAcesso(btn) {
        btn.classList.add("is-loading");
        res = true;

        btn.closest('tr').querySelectorAll('input').forEach(input => {

            var json = {
                id: input.id,
            };

            $.ajax({
                type: "DELETE",
                url: "/Acessos/Acesso",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        if (result != 1) {
                            res = false;
                        } 
                        input.value = '00:00';
                    });
                },
                error: function (response) {
                    notifyError('Ocorreu um erro ao apagar os acessos!');
                },
                failure: function (response) {
                    notifyError('Falha ao apagar os acessos');
                }
            });
        });

        btn.closest('tr').classList.remove('has-background-success');
        btn.closest('tr').classList.remove('has-background-warning');
        btn.closest('tr').classList.remove('has-background-danger');
        btn.closest('tr').classList.add('has-background-danger');
        btn.classList.remove("is-loading");
    }

    function EditarAcessos(btn)
    {
        btn.closest('tr').querySelectorAll('input').forEach(input => {input.disabled = !input.disabled; });
        if (btn.closest('tr').querySelectorAll('input')[0].disabled) {
            btn.querySelector('i').classList.add('fa-pencil');
            btn.querySelector('i').classList.remove('fa-floppy-disk');

            btn.closest('tr').querySelectorAll('input').forEach(input => {
                var json = {
                    id: input.id,
                    utilizador: input.getAttribute('data-user'),
                    data: input.getAttribute('data-date') + ' ' + input.value,
                    tipo: input.getAttribute('data-tipo'),
                };

                $.ajax({
                    type: "PUT",
                    url: "/Acessos/Acesso",
                    data: json,
                    traditional: true,
                    success: function (result) {
                             window.location.reload();
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao editar os acessos!');
                    },
                    failure: function (response) {
                        notifyError('Falha ao editar os acessos');
                    }
                });
            });
           
        }else{
            btn.querySelector('i').classList.remove('fa-pencil');
            btn.querySelector('i').classList.add('fa-floppy-disk');
            btn.closest('tr').querySelectorAll('btn').forEach(input => {input.disabled = true; });
            btn.disabled = false;
        }

    }

    function ValidarAcessos(id)
    {
        var btn = document.getElementById(id);
        document.getElementById('txtIdUtilizador').value = id;
        btn.closest('tr').querySelectorAll('input').forEach(input => {
            if (input.getAttribute('data-validar') == 'True') {
                if (input.getAttribute('data-total') > 8*60) {
                    document.getElementById("lstTipo").value = 1;
                }else{
                    document.getElementById("lstTipo").value = 2;
                }
            document.getElementById("lstTipo").dispatchEvent(new Event('change'));
            }
        });
        Bulma('#modalValidarAcesso').modal().open();
    }

    function GuardarAcessos(t, tF, tE, id)
    {
       // if (document.getElementById('chkBancoHoras').checked && (document.getElementById('txtBancoHoras').value < document.getElementById('txtHoras').value)) alert("Não tem horas para descontar!");
        var btn = document.getElementById(document.getElementById('txtIdUtilizador').value);
       btn.classList.add("is-loading");
        lstId = '';

        btn.closest('tr').querySelectorAll('input').forEach(input => {
            lstId = lstId + input.id + ',';

            var json = {
                id: input.id,
                utilizador: input.getAttribute('data-user'),
                data: input.getAttribute('data-date') + ' ' + input.value,
                tipo: input.getAttribute('data-tipo'),
                validar: 1
            };

            $.ajax({
                type: "PUT",
                url: "/Acessos/Acesso",
                data: json,
                traditional: true,
                success: function (result) {
                    $(function () {
                        btn.closest('tr').classList.remove('has-background-success');
                        btn.closest('tr').classList.remove('has-background-warning');
                        btn.closest('tr').classList.remove('has-background-danger');
                        btn.closest('tr').classList.add('has-background-success');
                        notify('Registros validados com sucesso!');
                        document.getElementById('txtListaIdRegistros').value = lstId;
                        var json = {
                            id: document.getElementById('txtListaIdRegistros').value,
                            tipo: t,
                            tipoFalta: tF,
                            tipoHoraExtra: tE,
                            bancoHoras: document.getElementById('chkBancoHoras').checked,
                            horas: document.getElementById('txtHoras').value
                        };
                    
                        $.ajax({
                            type: "POST",
                            url: "/Acessos/Validar",
                            data: json,
                            traditional: true,
                            success: function (result) {
                                $(function () {
                                    window.location.reload();
                                });
                            },
                            error: function (response) {
                                notifyError('Ocorreu um erro ao guardar os acessos!');
                            },
                            failure: function (response) {
                                notifyError('Falha ao guardar os acessos');
                            }
                        });
                    });
                },
                error: function (response) {
                    notifyError('Ocorreu um erro ao validar os acessos!');
                },
                failure: function (response) {
                    notifyError('Falha ao validar os acessos');
                }
            });
        });
        btn.classList.remove("is-loading");

        
    }

    function DataAlterada() {
        if (document.getElementById("hiddenTxtData").value != document.getElementById("txtData").value) {
            document.getElementById("hiddenTxtData").value = document.getElementById("txtData").value;
            $('form').submit();
        }
    }
</script>
