@model FT_Management.Models.Cliente

@{
    ViewData["Title"] = "Inventário Loja - " + Model.NomeCliente;
}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-info">
                        <p class="title">
                            <span class="icon mr-3">
                                <i class="fa-solid fa-rectangle-list"></i>
                            </span>
                            <span>Inventário de Loja - @Model.NomeCliente</span>
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="column is-4 is-right my-auto">
            <div class="buttons is-right">
                <p class="control">
                    <button class="button is-primary is-info is-large is-outlined" onclick="Bulma('#modalAdicionarEquipamento').modal().open();"
                            type="button">
                        <span class="icon">
                            <i class="fas fa-plus fa-lg"></i>
                        </span>
                        <span>Adicionar Equipamento</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
@if (Model.Equipamentos.Count() == 0)
{
    <button class="button is-danger is-rounded is-outlined is-large is-fullwidth" disabled>
        Não foram encontradas
        equipamentos!
    </button>
}
else
{
<form asp-action="InventarioLoja" method="POST" id="frmInventario">
    <div class="container">

        <hr />
        <p><b>Os equipamentos validados neste formulário serão automaticamente associados a esta loja e ao contrato deste cliente!</b></p>
        <hr />
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-hoverable is-fullwidth" id="tblInventario">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Equipamentos.First().MarcaEquipamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Equipamentos.First().ModeloEquipamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Equipamentos.First().NumeroSerieEquipamento)
                            </th>
                            <th>
                                Secção
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Equipamentos.Where(e => e.RefProduto.Contains(".42.")).OrderByDescending(e => e.ModeloEquipamento))
                        {
                            <tr style="width:auto" id="@item.EquipamentoStamp">
                                <td data-label="@Html.DisplayNameFor(model => model.Equipamentos.First().MarcaEquipamento)">
                                    <span>@item.MarcaEquipamento</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.Equipamentos.First().ModeloEquipamento)">
                                    <span>@item.ModeloEquipamento</span>
                                </td>
                                <td data-label="@Html.DisplayNameFor(model => model.Equipamentos.First().NumeroSerieEquipamento)">
                                    <span><b>@item.NumeroSerieEquipamento</b></span>
                                </td>
                                <td data-label="Secção">
                                    <span class="select" style="width:100%">
                                        @{
                                            var LstSeccoes = ViewData["Seccoes"] as IList<String>;
                                        }
                                        <select class="select" style="width:100%"
                                                asp-items="@(new SelectList(LstSeccoes))">
                                            <option value=""></option>
                                        </select>
                                    </span>
                                </td>
                                <td class="is-actions-cell">
                                    <button class="button is-large is-fullwidth is-success" type="button" onclick="if (this.parentElement.previousElementSibling.children[0].children[0].value != '') {this.parentElement.previousElementSibling.children[0].children[0].disabled = true; this.parentElement.parentElement.classList.add('has-background-success', 'checked'); this.style.display = 'none'; this.nextElementSibling.style.display = 'block'}">
                                        <span class="icon">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                    </button>
                                    <button class="button is-large is-fullwidth is-danger" style="display:none" type="button" onclick="this.parentElement.previousElementSibling.children[0].children[0].disabled = false; this.parentElement.parentElement.classList.remove('has-background-success', 'checked'); this.style.display = 'none'; previousElementSibling.style.display = 'block'">
                                        <span class="icon">
                                            <i class="fa-solid fa-trash"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <button type="button" onclick="ExportInventario();" class="button is-info is-large is-fullwidth">
            <span class="icon">
                <i class="fas fa-save"></i>
            </span>
            <span>Validar Inventário</span>
        </button>
    </div>

    <input type="hidden" name="inventario" id="hiddenInventario" />
</form>
}

<div id="modalAdicionarEquipamento" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Adicionar Equipamento</p>
            <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="modal-body">
                <div class="field">
                    <input type="hidden" id="txtStampEquipamento" />
                    <input type="hidden" id="txtMarcaEquipamento" />
                    <input type="hidden" id="txtModeloEquipamento" />
                    <input type="hidden" id="txtSerieEquipamento" />
                    <p class="control">
                        <input type="text" class="input is-rounded" id="txtEquipamento" placeholder="Insira o número de série">
                    </p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-info is-fullwidth is-large" type="button"
                    onclick="AdicionarEquipamento(document.getElementById('txtMarcaEquipamento').value, document.getElementById('txtModeloEquipamento').value, document.getElementById('txtSerieEquipamento').value, document.getElementById('txtStampEquipamento').value, )">
                <span class="icon">
                    <i class="fa-solid fa-plus"></i>
                </span>
                <span>Adicionar</span>
            </button>
            <button type="button" class="button is-large is-fullwidth is-danger"
                    onclick="Bulma('#modalAdicionarEquipamento').modal().close();" href="javascript:;">
                <span class="icon">
                    <i class="fa-regular fa-circle-xmark"></i>
                </span>
                <span>Fechar</span>
            </button>
        </footer>
    </div>
</div>

<script>function ExportInventario() {
        var table = document.getElementById("tblInventario");
        var res = "";

        for (var i = 0, row; row = table.rows[i]; i++) {

            if (table.rows[i].classList.contains('checked')) {
                res += table.rows[i].id + "|" + table.rows[i].cells[3].children[0].children[0].value + ";"
            }
        }
        document.getElementById('hiddenInventario').value = res;
    document.getElementById('frmInventario').submit();
}

    $(function () {
        $("#txtEquipamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Equipamentos/Equipamentos/',
                    data: { "prefix": request.term, "no": "0", "loja": "0" },
                    type: "GET",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.numeroSerieEquipamento + " (" + item.marcaEquipamento + " - " + item.modeloEquipamento + ") - " + item.cliente.nomeCliente,
                                stamp: item.equipamentoStamp,
                                marca: item.marcaEquipamento,
                                modelo: item.modeloEquipamento,
                                serie: item.numeroSerieEquipamento
                            };
                        }))
                    },
                    error: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    },
                    failure: function (response) {
                        notifyError('Ocorreu um erro ao obter os equipamentos!');
                    }
                });
            },
            select: function (e, i) {
                $("#txtStampEquipamento").val(i.item.stamp);
                $("#txtMarcaEquipamento").val(i.item.marca);
                $("#txtModeloEquipamento").val(i.item.modelo);
                $("#txtSerieEquipamento").val(i.item.serie);
            },
            minLength: 1
        }).css('z-index', 100).data("ui-autocomplete")._renderItem = function (ul, item) {
            var html = "<div class='field has-addons mb-1'><a class='button has-background-info is-fullwidth is-outlined mr-1 has-text-weight-semibold is-small ' style='text-align:center;line-height:25px'>" + item.label + "</a><div class='field is-grouped is-right '>";
            html += "</div>";
            return $("<li>")
                .append(html)
                .appendTo(ul);
        };
    });

    function AdicionarEquipamento(marca, modelo, serie, stamp) {
        var row = document.getElementById("tblInventario").insertRow();
        row.id = stamp;

        var cell = row.insertCell();
        cell.dataset.label = 'Marca';
        cell.textContent = marca;

        var cell = row.insertCell();
        cell.dataset.label = 'Modelo';
        cell.textContent = modelo;

        var cell = row.insertCell();
        cell.dataset.label = 'Numero de Série';
        cell.innerHTML = "<b>" + serie + "</b>";

        var cell = row.insertCell();
        cell.dataset.label = 'Secção';
        cell.innerHTML = row.previousElementSibling.children[3].innerHTML

        var cell = row.insertCell();
        cell.innerHTML = row.previousElementSibling.children[4].innerHTML;

        Bulma('#modalAdicionarEquipamento').modal().close();
        document.getElementById('txtEquipamento').value = '';
    }
</script>